<ion-content padding class="background-image" [dir]="langDirection">
    <ion-row style="padding-top: 15px;"  (click)="dismiss()" >
      <ion-col col-1>
        <img src="assets/icon/back.png" style="width: 20px;"   [ngClass]="scaleClass" >
      </ion-col>
      <ion-col>
        <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{"login" | translate}}</p>
      </ion-col>
    </ion-row>

  <ion-grid style="height: 100%" [hidden]="hideNoDataTxt">
    <ion-row justify-content-center align-items-center style="height: 100%">
  <ion-col style="text-align:center">

      <!-- margin-top:20px; -->
  <img src="assets/imgs/logo.png" style="width: 125px;" >

  <ion-slides dir="{{langDirection}}" pager=true style="height:150px;margin-bottom: 20px" autoplay="2000" loop="true" speed="500">
      <ion-slide style="text-align:center">
        <p style="color:white;font-weight:bold">{{"Welcome" | translate}}</p>
        <p style="color:white;font-weight:bold;font-size: 13px;">{{"msg" | translate}}</p>
        <p></p>
      </ion-slide>
      <ion-slide>
        <p style="color:white;font-weight:bold;font-size: 13px;">{{"slide2" | translate}}</p>
        <p></p>
      </ion-slide>
      <ion-slide>
        <p style="color:white;font-weight:bold;font-size: 13px;">{{"slide3" | translate}}</p>
        <p></p>
      </ion-slide>
      <ion-slide>
        <p style="color:white;font-weight:bold;font-size: 13px;">{{"slide4" | translate}}</p>
        <p></p>
        </ion-slide>
    </ion-slides>

  <div style="padding: 10px;padding-top:20px;padding-bottom:5px;width:80%;margin:auto auto;border-radius: 5px;border:2px solid #f0f0f1;box-shadow: 0 0 15px lightgray;background-color:white">
      <form [formGroup]="logInForm" >
          <!-- <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;">
            <ion-label><img src="assets/icon/mobile.png" style="width: 20px;margin: 0 2px;" height="20" width="25"></ion-label>
            <ion-input [dir]="langDirection" type="tel" formControlName="email" [(ngModel)]="email" [placeholder]="placeholder.email" style="color:#81afd3"></ion-input>
          </ion-item> -->
        
          <ion-row>
              <ion-col col-5>
                  <!-- <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;">
                      <ion-label ><img src="assets/icon/mobile.png" style="width: 20px;margin: 0 2px;" height="20" width="25"></ion-label>
                        
                        <ion-input readonly=true [dir]="langDirection" type="tel"  placeholder="966" style="color:#81afd3"></ion-input>
                  </ion-item> -->
<!--                   
                  <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;">
                      <ion-label><img src="assets/icon/mobile.png" style="width: 20px;margin: 0 2px;" height="20" width="25"></ion-label>
                      <ion-input readonly=true [dir]="langDirection" type="tel"  placeholder="966" style="color:#81afd3"></ion-input>
                    </ion-item> -->

                    <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;">
                        <ion-label>
                          <ion-icon name="ios-phone-portrait" style="    margin: 0px 5px;
                          font-size: 23px;color:#1d6ba9">
                              
                          </ion-icon>
                          <!-- <img src="assets/icon/mobile.png" style="width: 21px;margin: 0 2px;" height="20" width="25"> -->
                        </ion-label>
                        <ion-label  [dir]="langDirection"  style="color:#1d6ba9">966</ion-label>
                          <!-- <ion-input readonly=true [dir]="langDirection" type="tel"  placeholder="966" style="color:#81afd3"></ion-input> -->
                    </ion-item>
                    
                    

              </ion-col>
              <ion-col col-1></ion-col>
              <ion-col style="padding: 5px;" >
                  <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;">
                      <!-- <ion-label><img src="assets/icon/mobile.png" style="width: 24px;
                        margin-left: -2px;" ></ion-label> -->
                    <ion-input  [dir]="langDirection" type="tel" formControlName="email" [(ngModel)]="email" [placeholder]="placeholder.email" style="color:#81afd3" (input)="changeTxt()"></ion-input>
                  </ion-item>
                  
              </ion-col>
            </ion-row>

        <ion-item *ngIf="!logInForm.controls.email.valid&&submitAttempt" no-lines>
        <p style="color:red"> {{errors.emailErr}} </p>
        </ion-item>
        
          <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;">
              <ion-label>
                <ion-icon name="ios-lock" style="    margin: 0px 5px;
                font-size: 25px;color:#1d6ba9"></ion-icon>
                <!-- <img src="assets/icon/password.png" style="width: 20px;margin: 0 2px;" height="20" width="25"> -->
              </ion-label>
            <ion-input [dir]="langDirection" type="password" formControlName="password" [(ngModel)]="password" [placeholder]="placeholder.password" style="color:#81afd3"></ion-input>
          </ion-item>
          
          <ion-item *ngIf="!logInForm.controls.password.valid&&submitAttempt" no-lines>
            <p style="color:red"> {{errors.passwordErr}} </p>
            </ion-item>
          <ion-row padding >
            <ion-col>
                <button ion-button type="submit"  block class="btnGradient" style="font-size:16px;border-radius: 50px 50px;" (click)="login()">{{"login" | translate}}</button>
            </ion-col>
            <ion-col>
                <!-- #3878ab -->
                <button ion-button type="submit"  block style="font-size:16px;border-radius: 50px 50px;background-color: white;color:#054b82;border:2px solid #054b82" (click)="signup()">{{"signup" | translate}}</button>
            </ion-col>
            <!-- #6185a1 -->
            <p *ngIf="langDirection == 'ltr'" style="margin-top:30px;margin-bottom:5px;color: #054b82;text-align:right;width: 100%;"   (click)="forgetPassword()">{{"forgetPassword" | translate}} </p>
            <p *ngIf="langDirection != 'ltr'" style="margin-top:30px;margin-bottom:5px;color: #054b82;text-align:left;width: 100%;"   (click)="forgetPassword()">{{"forgetPassword" | translate}} </p>
          </ion-row>
        </form>
  
  
  </div>

  </ion-col>
  </ion-row>
  </ion-grid>
  
</ion-content>
