page-login {
    .background-image {
        background:white  url('../assets/imgs/bg.jpg') top;
        background-repeat: no-repeat;
        text-align: center;
        background-size: cover;
    }
    .scaleClass{
        transform: scale(-1,1);
        }
    
    // ion-input {
    //   ::placeholder {
    //        color: red;
    //     }
    // }
    // ion-input [placeholder]{
    //     color:red;
    // }
    .btnGradient{
        // background-image: linear-gradient( 60deg, #1c74ba 30%, #77b7ea 60%) !important;
        background-image: linear-gradient( 60deg, #05253e 30%, #054b82 60%) !important;
        color:white;
    }


    .item-md {
        padding-left: 0px; 
    }
    .item-ios {
         padding-left: 0px; 
        }

        .col {
            padding: 0px; 
            
        }
        [col-5] {
            padding: 0px; 
        }
}
