page-job-details {
    .toolbar-background {
        // background: linear-gradient( 60deg, #1c74ba 30%, #77b7ea 60%) !important;
        // background: linear-gradient(to bottom,  #1c74ba 0%,  #73b7ed 80%);;
        background: linear-gradient(to bottom,  #05253e 0%,  #054b82 80%);
        color:white;
        
    }
    .item-inner{
        border-bottom: none !important;
    }
    .item{

     min-height: 1.5rem !important;
    }
    .scaleClass{
        transform: scale(-1,1);
    }
}
