<ion-header>
    <ion-navbar hideBackButton>
    <ion-row >
      <ion-col col-1>
        <img src="assets/icon/back.png" style="width: 20px;" [ngClass]="scaleClass" (click)="dismiss()">
      </ion-col>
      <ion-col>
        <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{title}}</p>
      </ion-col>
    </ion-row>
    </ion-navbar> 
  </ion-header>
  
  
  <ion-content padding  style="background-color:#ffff">

      <ion-refresher  (ionRefresh)="doRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        
    <div *ngFor="let item of allselected"  style="border: 1px solid #c5c5c5;border-radius: 15px;    margin-bottom: 10px;">
      <ion-row style="margin-left: 5px; margin-right: 5px;">
        <ion-col col-2 style="text-align:left;">
            <img src="{{item.ProfileImage}}" onerror="this.onerror=null;this.src='assets/imgs/default-avatar.png';" class="circle-pic" style="text-align:left;margin-top: 13px;">
     
        </ion-col>
        <ion-col col-7>
    <p style="font-weight:bold;color: #2b80c3;margin-top: 13px;margin-bottom: 0px;">{{item.FirstName}}</p>
    <p style="font-weight:bold; color:gray;margin-top: 3px;margin-bottom: 0px;">{{item.ShortDescription2}}  </p>
    <p style="font-weight:bold; color:gray;margin-top: 3px;    margin-bottom: 5px;">{{item.Mobile}}  </p>
    
    <!-- <p style="font-weight:bold;color:grey;text-decoration: underline;    margin: 0px;    "  (click)="showcv(item)">{{"view" | translate}}</p> -->
    <p style="font-weight:bold;color:grey;text-decoration: underline;    margin: 0px;    "  (click)="showcv(item)">{{"viewjsprofile" | translate}}</p> 

    <!-- <p style="font-weight:bold; color:gray;margin-top: 3px;"> <span style="color:#e19419">{{"JObStatus" | translate}} :</span> {{txt}}  </p> -->
  
        </ion-col>
        <ion-col col-3>
          <button ion-button style=" text-transform: none;
          width: 100%;background-color:#e19419; border-radius: 15px;text-transform: none;margin-top: 13px;" (click)="rate(item,$event)"> {{'rate' | translate}}</button>


          <button ion-button style=" text-transform: none;
          width: 100%;background-color:#e19419; border-radius: 15px;text-transform: none;" (click)="Absence(item)"> {{'Absence' | translate}}</button>

        </ion-col>
      </ion-row>
      <ion-row *ngIf="item.IsCheckedIn == '1'">
        <ion-col col-2></ion-col>
        <ion-col col-4>
            <button ion-button style=" text-transform: none;
            width: 100%;background-color:#2783c3; border-radius: 15px;text-transform: none;" (click)="accept(item)"> {{'accept' | translate}}</button>
  
        </ion-col>
        <ion-col col-4>
            <button ion-button style=" text-transform: none;
            width: 100%;background-color:#2783c3; border-radius: 15px;text-transform: none;" (click)="reject(item)"> {{'reject' | translate}}</button>
  
          </ion-col>
        <ion-col col-2></ion-col>
  
      </ion-row>
  
    </div>
  
  
  </ion-content>
  