<ion-content style="padding:5px">
    <ion-scroll scrollY="true"  style="height: 250px;" >
        <!-- justify-content-center align-items-center  -->
        <ion-row style="height: 300px">
            <ion-col style="text-align:center">
                <div style="text-align: center">
                    <rating [(ngModel)]="rate" 
                    readOnly="false" 
                    max="5" 
                    emptyStarIconName="star-outline" 
                    halfStarIconName="star-half" 
                    starIconName="star" 
                    nullable="false"
                    
                     > </rating>
                    </div>
                    <div class="form-group">
                      <textarea class="form-control"  [(ngModel)]="notes" [placeholder]="notesPlaceholder" rows="5" id="comment" style="border:1px solid lightgrey;width: 100%;padding:10px;border-radius: 5px"></textarea>
                    </div>
                    <div style="text-align: center">
                    <button ion-button    style="font-size:16px;border-radius: 50px 50px;background-color: #054b82;color:white;border:2px solid #054b82;width:55%;padding:15px;text-align:center" (click)="Dismissrate()">{{savetxt}}</button>
                  </div>
              </ion-col>
              </ion-row>
  
</ion-scroll>
</ion-content>
