page-rate-popover {
    ul {
        padding: 0px;
        margin: 0px;
        &.rating li {
          padding: 0px 0px !important;
          background: none;
          color: #ffb400;
      
          ion-icon {
            font-size: 20px;
          }
        }
      }
}
