<ion-tabs *ngIf="com==false">
  <!-- <ion-tab [root]="tab1Root"  tabIcon="myhome" [tabTitle]="hometitle" ></ion-tab> -->
  <!-- tabIcon="myjob" [tabTitle]="jobstitle" -->
  <ion-tab [root]="tab2Root"  tabIcon="myhome" [tabTitle]="hometitle"></ion-tab>
  <ion-tab [root]="tab3Root"  tabIcon="myjobHistory" [tabTitle]="acctitle"></ion-tab>
  <ion-tab [root]="tab9Root"  tabIcon="myjob" [tabTitle]="activeJobstitle"></ion-tab>
  <!-- <ion-tab [root]="tab3Root"  tabIcon="myaccountants" [tabTitle]="acctitle"></ion-tab> -->

  <!-- <ion-tab [root]="tab4Root"  tabIcon="mymap"></ion-tab> -->
  <ion-tab [root]="tab4Root"  tabIcon="compuser" [tabTitle]="profiletitle" ></ion-tab>
  
  
</ion-tabs>
<ion-tabs *ngIf="com==true">
  <ion-tab [root]="tab5Root"  tabIcon="myhome" [tabTitle]="hometitle"></ion-tab>
  <ion-tab [root]="tab6Root"  tabIcon="myjob" [tabTitle]="postedjobstitle"></ion-tab>
  <!-- <ion-tab [root]="tab7Root"  tabIcon="myaccountants" [tabTitle]="acctitle"></ion-tab> -->
  <ion-tab [root]="tab7Root"  tabIcon="myjobHistory" [tabTitle]="acctitle"></ion-tab>
  <ion-tab [root]="tab8Root"  tabIcon="compuser" [tabTitle]="profiletitle" ></ion-tab>


  
</ion-tabs>
