<ion-header>
  <ion-navbar hideBackButton>
  <ion-row >
    <ion-col col-1>
      <img src="assets/icon/back.png" style="width: 20px;" [ngClass]="scaleClass" (click)="dismiss()">
    </ion-col>
    <ion-col>
      <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{"editprofile" | translate}}</p>
    </ion-col>

  </ion-row>
  </ion-navbar> 
</ion-header>


<ion-content padding>
  <form [formGroup]="registerForm" >
    
    <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;">
      <ion-label   *ngIf="langDirection == 'rtl'"  floating style="color:#054b82;transform-origin:right top;">
        {{placeholder.name}}
      </ion-label>
      
      <ion-label   *ngIf="langDirection == 'ltr'"  floating style="color:#054b82;">
        {{placeholder.name}}
      </ion-label>

      <ion-input  [dir]="langDirection" type="text" formControlName="name" [(ngModel)]="name"  style="color:#054b82"></ion-input>
    </ion-item>
  
    
  <ion-item  text-wrap *ngIf="!registerForm.controls.name.valid&&submitAttempt" no-lines>
  <p style="color:red"> {{errors.nameErr}} </p>
  </ion-item>
  

  <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;">
    <ion-label   *ngIf="langDirection == 'rtl'"  floating style="color:#054b82;transform-origin:right top;">
      {{placeholder.RegistryNum}}
    </ion-label>
    
    <ion-label   *ngIf="langDirection == 'ltr'"  floating style="color:#054b82;">
      {{placeholder.RegistryNum}}
    </ion-label>

    <ion-input  [dir]="langDirection" type="text" formControlName="RegistryNum" [(ngModel)]="RegistryNum"  style="color:#054b82"></ion-input>
  </ion-item>

  <!-- *ngIf="!registerForm.controls.RegistryNum.valid&&submitAttempt" -->
<ion-item  text-wrap  *ngIf="registrynotnumber" no-lines>
<p style="color:red"> {{errors.RegistryNum}} </p>
</ion-item>

  
  <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;">
    <ion-label *ngIf="langDirection == 'rtl'"  floating style="color:#054b82;transform-origin:right top;">
      {{placeholder.email}}
    </ion-label>

    <ion-label *ngIf="langDirection == 'ltr'"  floating style="color:#054b82">
      {{placeholder.email}}
    </ion-label>

    <ion-input  [dir]="langDirection" type="email" formControlName="email" [(ngModel)]="email"  style="color:#054b82"></ion-input>
  </ion-item>

<ion-item  text-wrap  [hidden]="hideemailerr" no-lines>
<p style="color:red"> {{errors.emailErr}} </p>
</ion-item>

<ion-item  no-lines style="border-bottom: 2px solid #eaf0f5;color:#054b82">
        
                    
  <ion-label style="color:#054b82" >{{'city'| translate}}</ion-label>
<ion-select  [(ngModel)]="city_id"  placeholder="{{'city'|  translate}}" formControlName="city_id"  okText="{{'done' | translate}}" cancelText="{{'cancel' | translate}}" style="color:#054b82" >
    <ion-option *ngFor="let item of cities"  style="font-size: 13px;" [value]="item.SID"> <span *ngIf="langDirection=='rtl'">{{item.CityName_Ar}}</span><span *ngIf="langDirection !='rtl'">{{item.CityName}}</span></ion-option>    
    
    </ion-select>    
  
</ion-item>

<p style="color:#054b82"  >{{"description" | translate}}</p>
<div class="form-group" >
  <textarea class="form-control" formControlName="desc" [(ngModel)]="desc" rows="5" id="comment" style="border:1px solid #3a8ccd;width: 100%"></textarea>
</div>
<ion-item text-wrap *ngIf="!registerForm.controls.desc.valid&&submitAttempt" no-lines>
    <p style="color:red"> {{errors.descErr}} </p>
  </ion-item>


      <ion-item no-lines style="text-align:center;width:100%">
        <button ion-button type="submit"   style="font-size:16px;background-color: #054b82;color:white;border:2px solid #054b82;width:100%;padding:15px;text-align:center;    margin-top: 20px;" (click)="save()">{{"save" | translate}}</button>
      </ion-item>
      <ion-item no-lines></ion-item>
  </form>
  
  
</ion-content>
