page-company-edit-profile {
    .toolbar-background {
        // background: linear-gradient( 60deg, #1c74ba 30%, #77b7ea 60%) !important;
        // background: linear-gradient(to bottom,  #1c74ba 0%,  #73b7ed 80%);;
        background: linear-gradient(to bottom,  #05253e 0%,  #054b82 80%);
        color:white;
        
    }

    .scaleClass{
        transform: scale(-1,1);
    }
    .select-md {
        padding: 0px;
        }

        .select-ios {
            padding: 0px;
            }

            .select-md .select-icon {
                margin:  0px 5px;
            }

            .select-ios .select-icon {
                margin:  0px 5px;
            }
}
