page-company-home {
    .toolbar-background {
        // background: linear-gradient( 60deg, #1c74ba 30%, #77b7ea 60%) !important;
        // background: linear-gradient(to bottom,  #1c74ba 0%,  #73b7ed 80%);;
        background: linear-gradient(to bottom,  #05253e 0%,  #054b82 80%);
        color:white;
        
    }
    .circle-pic{
        border: 1px solid gray;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        margin-top: 30px;
        margin-left: 1px;
    }
    [col-1] {
        padding: 0px;
    }
}
