
<ion-header>
  <ion-navbar hideBackButton>
      <ion-row >
        <ion-col col-1 (click)="openmenu()" >
          <ion-icon name="menu" style="font-size: 30px;color: white;margin-top: 10px;" ></ion-icon>
        </ion-col>
        <ion-col style="text-align:center">
          <img src="assets/imgs/logo.png" style="width: 51px;">
        </ion-col>
        <!-- <ion-col col-1>
          <ion-icon name="search" style="font-size: 30px; color: white;margin-top: 10px;"></ion-icon>
        </ion-col> -->
      </ion-row>
      </ion-navbar>

</ion-header>


<ion-content padding  style="background-color:#ffff">
    

    <!-- <button (click)="jsprofile()">jsprofile</button> -->
  <!-- <button (click)="activationCode()">activationCode</button> -->
    <ion-refresher  (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

<!-- <ion-row>
  <ion-col col-6>

  </ion-col>
  <ion-col col-6>
    
    </ion-col>
</ion-row> -->


<!--     style="text-align: center" 
        display: block;width: 400px;
        height: 200px; -->
  <!-- (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"  -->

<!-- <ion-row style="box-shadow: 3px 3px 18px rgb(224, 224, 224);margin-right: -16px;margin-left:-16px">
    <ion-col col-6 style="border:1px solid rgb(225, 225, 225);">

      <div style="width:100%">
      <p style="font-weight:bold;color:#0a7f0a;text-align: center;position: absolute;top: 23%;
      left: 31%;right:30%">80%</p>
      <p style="color:grey;margin:0px;text-align: center;position: absolute;top: 45%;
      left: 25%;right:25%;font-size: 11px">{{"jobresp" | translate}}</p>
        
        <canvas baseChart [options]="options"
                    [data]="doughnutChartData"
                    [chartType]="doughnutChartType"
                    [colors]="barChartColors" 
                    
                  ></canvas>
      </div>
    </ion-col>
    <ion-col col-6 style="border:1px solid rgb(225, 225, 225)">
      
      <p style="font-weight:bold;margin:0px;margin-top:15px">50</p>
      <p style="color:grey;margin:0px">{{"active" | translate}}</p>
      <img src="assets/imgs/line1.png">
      <p style="font-weight:bold;margin:0px;margin-top:15px">50</p>
      <p style="color:grey;margin:0px">{{"applied" | translate}}</p>
      <img src="assets/imgs/line2.png">
    </ion-col>
  </ion-row>
   -->

  <ion-row style="box-shadow: 3px 3px 18px rgb(224, 224, 224);margin-right: -16px;margin-left:-16px">
    <ion-col col-6 style="border:1px solid rgb(225, 225, 225);">
      <!-- style="width:300px;height:150px" -->
      <ion-row justify-content-center align-items-center style="height: 100%">
    <ion-col >

      <!-- left: -36px; -->
      <div style="width:250px;height:125px;position: absolute;
      
      left: calc(50% - 125px);
      top: -55px;">
<canvas id="myChart" ></canvas>
<!-- Percentage -->
</div>
</ion-col>
</ion-row>

 </ion-col>
    <ion-col col-6 style="border:1px solid rgb(225, 225, 225)">
      <!-- <p>another data</p> -->

      <ion-row justify-content-center align-items-center style="height: 100%">
    <ion-col >

      <p style="font-weight:bold;margin:0px;margin-top:15px">{{activeJobsForStatistics}}</p>
      <p style="color:grey;margin:0px">{{"active" | translate}}</p>
      <img src="assets/imgs/line1.png">
      <p style="font-weight:bold;margin:0px;margin-top:15px">{{AppliedForStatistics}}</p>
      <p style="color:grey;margin:0px">{{"applied" | translate}}</p>
      <img src="assets/imgs/line2.png" style="margin-bottom: 10px;">
    </ion-col>
  </ion-row>
    </ion-col>
  </ion-row>
  
  

<p [dir]="langDirection" style="color:#2b80c3;font-weight:bold;" [hidden]="!hideNoDataTxt">{{'newjobs' | translate}}</p>
  <!-- <div style="border: 1px solid #388acb;border-radius: 15px;    margin-bottom: 10px;">
      <ion-row style="margin-left: 5px; margin-right: 5px;">
        <ion-col col-2 style="text-align:left;">
            <img src="assets/imgs/microsoft.jpg" class="circle-pic" style="text-align:left;margin-top: 13px;">
     
        </ion-col>
        <ion-col col-10>
    <p style="font-weight:bold;color: #2b80c3;margin-top: 21px;margin-bottom: 0px;">Graphic Designer</p>
    <p style="font-weight:bold; color:orange;margin-top: 3px;">Published 4 days ago </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2></ion-col>
        <ion-col col-10>
          <p style="margin-top: 0px;font-weight: bold; color: gray;">{{'totalemp' | translate}} 10 {{'emp' | translate}}</p>
    
        </ion-col>
      </ion-row>
      <ion-row>
      
        <ion-col col-12>
            <button ion-button style="    text-transform: none;
            width: 100%;background-color:#2d81c4; border-radius: 15px;text-transform: none;"> {{'details' | translate}}</button>
    
        </ion-col>
       
    
      </ion-row>
    </div>
    <div style="border: 1px solid #388acb;border-radius: 15px;    margin-bottom: 10px;">
        <ion-row style="margin-left: 5px; margin-right: 5px;">
          <ion-col col-2 style="text-align:left;">
              <img src="assets/imgs/microsoft.jpg" class="circle-pic" style="text-align:left;margin-top: 13px;">
       
          </ion-col>
          <ion-col col-10>
      <p style="font-weight:bold;color: #2b80c3;margin-top: 21px;margin-bottom: 0px;">Graphic Designer</p>
      <p style="font-weight:bold; color:orange;margin-top: 3px;">Published 4 days ago </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2></ion-col>
          <ion-col col-10>
            <p style="margin-top: 0px;font-weight: bold; color: gray;">{{'totalemp' | translate}} 10 {{'emp' | translate}}</p>
      
          </ion-col>
        </ion-row>
        <ion-row>
        
          <ion-col col-12>
              <button ion-button style="    text-transform: none;
              width: 100%;background-color:#2d81c4; border-radius: 15px;text-transform: none;"> {{'details' | translate}}</button>
      
          </ion-col>
         
      
        </ion-row>
      </div> -->
      <div *ngFor="let item of jobdata" style="border-radius: 15px;    margin-bottom: 10px;" [style.border]="item.jobbordercolor">
        <ion-row style="margin-left: 5px; margin-right: 5px;">
          <ion-col col-2 style="text-align:left;">
              <img src="{{CompanyLogo}}" class="rounded-circle" onerror="this.onerror=null;this.src='assets/imgs/logo4.png';" class="circle-pic" style="text-align:left;margin-top: 13px;">
       
          </ion-col>
          <ion-col >
      <p right *ngIf="langDirection=='ltr'" style="font-weight:bold;color: #2b80c3;margin-top: 14px;margin-bottom: 0px;">{{item.JobTitleEn}}</p>
      <p right *ngIf="langDirection=='rtl'" style="font-weight:bold;color: #2b80c3;margin-top: 14px;margin-bottom: 0px;">{{item.JobTitleAr}}</p>

      <p style="font-weight:bold; color:orange;margin-top: 3px;margin-bottom: 0px;">{{item.CreationDate}}</p>
          </ion-col>
          <!-- [hidden]="!item.hideviewDEtailsForUNposted" -->
          <ion-col col-1  style="text-align:left" (click)="canceluppostedjob(item)">
              <ion-icon name="ios-close-circle-outline" style="color:red;font-size: 30px;    margin-top: 12px;"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>

          </ion-col>
          <ion-col col-10>
            <p style="margin-top: 0px;margin-bottom:0px;font-weight: bold; color: gray;">{{'totalemp' | translate}} {{item.CandidatesCount}} {{'emp' | translate}}</p>
      
          </ion-col>
        </ion-row>
        <!-- <ion-row>
        
          <ion-col col-12 [hidden]="item.hideviewDEtailsForUNposted">
              <button ion-button *ngIf="langDirection=='ltr'" style=" text-transform: none; width: 100%;background-color:#2783c3; border-radius: 15px;text-transform: none;" (click)="showdetails(item.JobTitleEn,item.SID,item.CandidatesCount)"> {{'details' | translate}}</button>
              <button ion-button *ngIf="langDirection=='rtl'" style=" text-transform: none; width: 100%;background-color:#2783c3; border-radius: 15px;text-transform: none;" (click)="showdetails(item.JobTitleAr,item.SID,item.CandidatesCount)"> {{'details' | translate}}</button>
              
          </ion-col>
         
      
        </ion-row> -->

        <ion-row  [hidden]="item.hideviewDEtailsForUNposted">
            <ion-col col-4>
                <button ion-button  block style="font-size:16px;border-radius: 10px;background-color: #3a8ccd;color:white;border:2px solid #3a8ccd;width: 100%;margin: auto auto;" (click)="details(item)" > {{'detailscan' | translate}}</button>
            </ion-col>
            <ion-col col-4>
                <button ion-button *ngIf="langDirection=='ltr'" style="font-size:16px;border-radius: 10px;background-color: #3a8ccd;color:white;border:2px solid #3a8ccd;width: 100%;margin: auto auto;" (click)="showdetails(item.JobTitleEn,item.SID,item.CandidatesCount)"> {{'appliedcan' | translate}}</button>
                <button ion-button *ngIf="langDirection=='rtl'" style="font-size:16px;border-radius: 10px;background-color: #3a8ccd;color:white;border:2px solid #3a8ccd;width: 100%;margin: auto auto;" (click)="showdetails(item.JobTitleAr,item.SID,item.CandidatesCount)"> {{'appliedcan' | translate}}</button>
  
            </ion-col>
            <ion-col col-4>
                <button ion-button   block style="font-size:16px;border-radius: 10px;background-color: #3a8ccd;;color:white;border:2px solid #3a8ccd;width: 100%;margin: auto auto;" (click)="selected(item)"> {{'selected' | translate}}</button>
            </ion-col>
        </ion-row>

      </div>
      <!-- <ion-fab *ngIf="langDirection=='rtl'" left bottom>
          <button ion-fab style="background:#2d81c4;" ><ion-icon style="color:white;" name="add"></ion-icon></button>
         
        </ion-fab>
        <ion-fab *ngIf="langDirection=='ltr'" right bottom>
          <button ion-fab style="background:#2d81c4;" ><ion-icon style="color:white;" name="add"></ion-icon></button>
         
        </ion-fab> -->

 <!--<button item-right style="background:transparent" (click)="addOutside()"><ion-icon style="font-size: 70px;color:#4456b9" ios="ios-add-circle" md="md-add-circle"></ion-icon></button>-->

         <!--<button item-right style="background:transparent" (click)="addOutside()"><ion-icon style="font-size: 70px;color:#4456b9" ios="ios-add-circle" md="md-add-circle"></ion-icon></button>-->

         <ion-grid style="height: 100%" [hidden]="hideNoDataTxt">
            <ion-row justify-content-center align-items-center style="height: 100%">
          <ion-col style="text-align:center">
            <p style="color:#388acb;font-weight:bold">{{"noPostedjobs" | translate}}</p>
            </ion-col>
            </ion-row>
            </ion-grid>

</ion-content>
