
<ion-header>
    <ion-navbar hideBackButton>
    <ion-row >
      <ion-col col-1 (click)="openmenu()" >
        <ion-icon name="menu" style="font-size: 30px;color: white;" ></ion-icon>
      </ion-col>
      <ion-col>
        <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{"profile22" | translate}}</p>
      </ion-col>
      <ion-col col-1 (click)="editProfile()" >
        <ion-icon name="md-create" style="color:white;font-size: 23px" [ngClass]="scaleClass"></ion-icon>
      </ion-col>
    </ion-row>
    </ion-navbar> 
  </ion-header>

<ion-content  style="background-color:#ffff">
  <!-- <ion-row>  padding 
    <ion-col col-1>
      <ion-icon name="md-create" style="color:blue;    font-size: 1.5em;"></ion-icon>
    </ion-col>
    <ion-col col-10></ion-col>

    <ion-col col-1 *ngIf="langDirection=='ltr'">
                <ion-icon (click)="ViewCtrl.dismiss()"  md="ios-arrow-forward" ios="ios-arrow-forward"  style="font-size: 2.5rem;color:blue;" ></ion-icon>
    </ion-col>
    <ion-col col-1 *ngIf="langDirection=='rtl'" >
    <ion-icon (click)="ViewCtrl.dismiss()" md="ios-arrow-back-outline"  ios="ios-arrow-back-outline" style="font-size: 2.5rem;color:blue;" ></ion-icon>
  </ion-col>

  </ion-row> -->

  <!-- <ion-col col-1></ion-col> -->
  <!-- <ion-col col-1></ion-col> -->

 <!-- <p style="text-align:center;font-weight:bold;font-size: 1em; margin-top: 0px;color:gray;">{{'total' | translate}} 300 {{'number'| translate}}</p> -->
<!-- <ion-row>
  <ion-col col-2></ion-col>
  <ion-col col-8 style="text-align:center;">
  <img src="assets/imgs/default-avatar.png" class="circle-pic" style="text-align:center;">
</ion-col>
  <ion-col col-2></ion-col>
</ion-row>
<ion-row>
    <ion-col col-2></ion-col>
    <ion-col col-8 style="text-align:center;">
  <p style="text-align:center;font-weight:bold;font-size: 1.2em;margin-bottom:0px; margin-top: 0px;">{{compName}}</p>
</ion-col>
  <ion-col col-2></ion-col>
</ion-row>
<ion-row>
    <ion-col col-2></ion-col>
    <ion-col col-8 style="text-align:center;">
 
</ion-col>
  <ion-col col-2></ion-col>
</ion-row>
<ion-row style="text-align:center;">
  <ion-col col-2 style="    margin-left: 6px;height: 40px;background: #e19419;border-radius: 20px;text-align: center;">
    <p style="margin-top:7px;">IT</p>
  </ion-col>
  <ion-col col-4 style="    margin-left: 6px;height: 40px;background: #e19419;border-radius: 20px;text-align: center;">
      <p style="margin-top:7px;">Development</p>
    </ion-col>
    <ion-col col-2 style="    margin-left: 6px;height: 40px;background: #e19419;border-radius: 20px;text-align: center;">
        <p style="margin-top:7px;">Web</p>
      </ion-col>
      <ion-col col-3 style="    margin-left: 6px;height: 40px;background: #a9a7a7;border-radius: 20px;text-align: center;">
          <p style="margin-top:7px;">+3More</p>
        </ion-col>

</ion-row>
<ion-row style="margin-top:8px;">
  
  <ion-col   style="height: 30px;background: #a9a7a7;border-radius: 20px;text-align: center;"><p style="margin-top:2px;">{{phone}}</p></ion-col>
  <ion-col  style="height: 30px;background: #a9a7a7;border-radius: 20px;text-align: center;margin-left: 5px;"><p style="margin-top:2px;">{{compEmail}}</p></ion-col>
  
</ion-row>
<ion-row>
  <p style="font-size: .9em;font-weight: bold;">{{compShortDescription}}</p>
</ion-row>
<div #map id="map" > </div> 
<ion-row>
  <ion-col col-6>
    <p style="font-weight:bold;">{{'jobs' | translate}}</p>
  </ion-col>
  <ion-col col-2></ion-col>

  <ion-col col-4>
      <p  style="text-align: center;">20 {{'jobsnumber' | translate}}</p>

  </ion-col>
</ion-row>
<ion-row>
    <ion-col col-6>
      <p style="font-weight:bold;">{{'totalhours' | translate}}</p>
    </ion-col>
    <ion-col col-2></ion-col>
  
    <ion-col col-4>
        <p style="text-align: center;">200 {{'hournumber' | translate}}</p>
  
    </ion-col>
  </ion-row> -->
  
  <img (click)="selectImage()" src="assets/icon/cam_icon.png" style="position: absolute; top: 20px; width: 30px; height: 30px;left:calc(50% - 90px);">
  <!-- <ion-icon (click)="selectImage()" name="md-camera" style="border-radius: 50% !important; padding: 5px 5px; position: absolute; top: 6px; margin-right: 12px; font-size: 35px; margin-left: 12px; background-color: white; width: 40px; height: 40px; color: #014574; border: 2px solid;"></ion-icon> -->
 <div style="text-align: center"> 
  <img src="{{userImageUrl}}" onerror="this.onerror=null;this.src='assets/imgs/default-avatar.png';"   style="width: 200px;height: 200px;margin:10px" >
  <!-- style="width: 100%;height:250px" -->
</div>
  <ion-item  no-lines style="padding: 5px 16px;border-bottom: 1px solid #ece4e4;"> 
    <!-- <h2 style="color:#4a84ac;"  item-start>{{"compname" | translate}}</h2> -->
    <h2 style="color:grey" item-start>{{compName}} </h2>
  </ion-item>
  <ion-item  no-lines style="padding: 5px 16px;border-bottom: 1px solid #ece4e4;"> 
      <!-- <h2 style="color:#4a84ac;"  item-start>{{"compcontact" | translate}}</h2>
      <p style="color:grey" item-end>{{totalBalance}} {{"sar" | translate}} </p> -->
      <h2 style="color:grey" item-start>{{compShortDescription}}</h2>
    </ion-item>
  <ion-item  no-lines style="padding: 5px 16px;border-bottom: 1px solid #ece4e4;"> 
    <!-- <h2 style="color:#4a84ac;"  item-start>{{"compcontact" | translate}}</h2>
    <p style="color:grey" item-end>{{totalBalance}} {{"sar" | translate}} </p> -->
    <h2 style="color:grey" item-start>{{compEmail}}</h2>
  </ion-item>
  <ion-item  no-lines style="padding: 5px 16px;border-bottom: 1px solid #ece4e4;"> 
      <!-- <h2 style="color:#4a84ac;"  item-start>{{"compcontact" | translate}}</h2>
      <p style="color:grey" item-end>{{totalBalance}} {{"sar" | translate}} </p> -->
      <h2 style="color:grey" item-start>{{compmobile}}</h2>
    </ion-item>

    <ion-item *ngIf="citytxt" no-lines style="margin-top: 15px;border-bottom:1px solid lightgray" >
      <h2 style="color:#054b82;" item-start>{{"city" | translate}}</h2>
      <p style="color:grey;" item-end>{{citytxt}}</p>
    </ion-item>
  

    <ion-item *ngIf="RegistryNum" no-lines style="border-bottom:1px solid lightgray" >
      <h2 style="color:#054b82;">{{"RegistryNum" | translate}}</h2>
      <p style="color:grey;">{{RegistryNum}}</p>
    </ion-item>


  <ion-item  no-lines style="padding: 5px 16px;border-bottom: 1px solid #ece4e4;" (click)="editlocation()">  
    <h2 style="color:grey;"  item-start>{{compAddress}}</h2>
    <ion-icon name="locate" style="font-size: 30px;color:#054b82;"  item-end></ion-icon>
    <!-- <p style="color:grey" item-end></p> -->
    <!-- <h2 style="color:grey" item-start>{{compEmail}}</h2> -->
  </ion-item>
  
    <!-- <ion-item *ngIf="compCR" no-lines style="padding: 5px 16px;border-bottom: 1px solid #ece4e4;"> 
   
    <h2 style="color:grey" item-start> {{compCR}} </h2>
  </ion-item> -->
  
  <ion-item  no-lines style="padding: 5px 16px;border-bottom: 1px solid #ece4e4;"  > 
    <!-- <h2 style="color:grey;text-decoration: underline"  item-start (click)="showcv()">{{comptxt}}</h2> -->
    <ion-label style="color:grey;text-decoration: underline"  item-start (click)="showcv()" text-wrap>{{comptxt}}</ion-label>
    <!-- <ion-icon name="attach" style="font-size: 30px;color:#054b82;" item-end></ion-icon> -->
    <img src="assets/icon/upload.png" item-end style="width: 26px;" (click)="selectcv()">
    <!-- <p style="color:grey" item-end></p> -->
    <!-- <h2 style="color:grey" item-start>{{compEmail}}</h2> -->
  </ion-item>

  <!-- <ion-item  no-lines style="padding: 5px 16px;border-bottom: 1px solid #ece4e4;"> 
     
      <h2 style="color: #e19419;text-decoration: underline" item-start (click)="changepass()">{{"changepass" | translate}}</h2>
    </ion-item> -->

    <ion-item  no-lines > 
       
      </ion-item>
      <ion-item  no-lines > 
       
        </ion-item>

        <ion-item  no-lines > 
       
          </ion-item>
    
  
  <!-- <ion-item  no-lines style="padding: 5px 16px;border-bottom: 1px solid #ece4e4;"> 
    <h2 style="color:#4a84ac;"  item-start>{{"totalBalance" | translate}}</h2>
    <p style="color:grey" item-end>{{totalBalance}} {{"sar" | translate}} </p>
  </ion-item>
  <ion-item  no-lines style="padding: 5px 16px;border-bottom: 1px solid #ece4e4;"> 
    <h2 style="color:#4a84ac;"  item-start>{{"totalBalance" | translate}}</h2>
    <p style="color:grey" item-end>{{totalBalance}} {{"sar" | translate}} </p>
  </ion-item> -->

</ion-content>
