page-companyprofile {
    .toolbar-background {
        // background: linear-gradient( 60deg, #1c74ba 30%, #77b7ea 60%) !important;
        // background: linear-gradient(to bottom,  #1c74ba 0%,  #73b7ed 80%);;
        background: linear-gradient(to bottom,  #05253e 0%,  #054b82 80%);
        color:white;
        
    }
    // .toolbar-background {
    //     // background: linear-gradient( 60deg, #1c74ba 30%, #77b7ea 60%) !important;
    //     background: linear-gradient(to bottom,  #1c74ba 0%,  #73b7ed 80%);;
    //     color:white;
        
    // }

    .scaleClass{
        transform: scale(-1,1);
    }
    
    .circle-pic{
        border:2px solid black;
    
        width: 97px;
        height: 100px;
        border-radius: 50%;
        text-align: center;
        margin-top: 30px;
        margin-left: 1px;
    }
    .scaleClass{
        transform: scale(-1,1);
    }
   #map
    {
        height:12em;
        width:100%;
    }
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: white;
    }
    .toolbar-title-ios {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: white;
    }
}
