    <!-- <ion-col col-1>
      <img src="assets/icon/back.png" style="width: 20px;" [ngClass]="scaleClass" (click)="dismiss()">
    </ion-col> -->

<!-- <ion-header>
  <ion-navbar>
  <ion-row >

    <ion-col col-1 (click)="openmenu()" >
      <ion-icon name="menu" style="font-size: 30px;color: white;" ></ion-icon>
    </ion-col>
    <ion-col>
      <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{"accounts" | translate}}</p>
    </ion-col>
  </ion-row>
  </ion-navbar> 
</ion-header> -->


<ion-header>
    <ion-navbar hideBackButton>
    <ion-row >
      <ion-col col-1>
        <img src="assets/icon/back.png" style="width: 20px;" [ngClass]="scaleClass" (click)="dismiss()">
      </ion-col>
      <ion-col>
        <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{"accounts" | translate}}</p>
      </ion-col>
    </ion-row>
    </ion-navbar> 
  </ion-header>



<ion-content  style="background-color:#ffff">

  <ion-refresher  (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <!-- <ion-item  no-lines style="padding: 5px 16px;border-bottom: 1px solid #ece4e4;"> 
    <h2 style="color:#4a84ac;"  item-start>{{"totalHours" | translate}}</h2>
    <p style="color:grey" item-end>{{"accounts" | translate}}</p>
  </ion-item> -->


  <ion-item  no-lines style="padding: 5px 16px;border-bottom: 1px solid #ece4e4;"> 
    <h2 style="color:#4a84ac;"  item-start>{{"totalBalance" | translate}}</h2>
    <p style="color:grey" item-end>{{totalBalance}} {{"sar" | translate}} </p>
  </ion-item>

  <!-- <ion-item  no-lines style="padding: 5px 16px;border-bottom: 1px solid #ece4e4;"> 
    <h2 style="color:#4a84ac;"  item-start>{{"totalJobs" | translate}}</h2>
    <p style="color:grey" item-end>{{"accounts" | translate}}</p>
  </ion-item> -->

  <!-- <ion-item  no-lines style="padding: 5px 16px;border-bottom: 1px solid #ece4e4;box-shadow: 3px 3px 18px rgb(224, 224, 224);"> 
    <h2 style="color:#4a84ac;"  item-start>{{"Totalavtivejobs" | translate}}</h2>
    <p style="color:grey" item-end>{{"accounts" | translate}}</p>
  </ion-item> -->

</ion-content>
