<ion-header>
  <ion-navbar hideBackButton>
  <ion-row >
    <ion-col col-1>
      <img src="assets/icon/back.png" style="width: 20px;" [ngClass]="scaleClass" (click)="dismiss()">
    </ion-col>
    <ion-col>
      <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{jobName}}</p>
    </ion-col>
  </ion-row>
  </ion-navbar> 
</ion-header>


<ion-content padding  style="background-color:#ffff">
  <div  style="border: 1px solid #c5c5c5;border-radius: 15px;    margin-bottom: 10px;">
    <ion-row style="margin-left: 5px; margin-right: 5px;">
      <ion-col col-2 style="text-align:left;">
          <img src="assets/imgs/default-avatar.png" class="circle-pic" style="text-align:left;margin-top: 13px;">
   
      </ion-col>
      <ion-col col-10>
  <p style="font-weight:bold;color: #2b80c3;margin-top: 21px;margin-bottom: 0px;">{{jsName}}</p>
  <p style="font-weight:bold; color:gray;margin-top: 3px;">{{jsShortDescription}}  </p>
  <p style="font-weight:bold; color:gray;margin-top: 3px;"> <span style="color:#e19419">{{"JObStatus" | translate}} :</span> {{txt}}  </p>

      </ion-col>
    </ion-row>
    <ion-row [hidden]="hide2Btns">
      <ion-col col-2></ion-col>
      <ion-col col-4>
          <button ion-button style=" text-transform: none;
          width: 100%;background-color:#2783c3; border-radius: 15px;text-transform: none;" (click)="accept()"> {{'accept' | translate}}</button>

      </ion-col>
      <ion-col col-4>
          <button ion-button style=" text-transform: none;
          width: 100%;background-color:#2783c3; border-radius: 15px;text-transform: none;" (click)="reject()"> {{'reject' | translate}}</button>

        </ion-col>
      <ion-col col-2></ion-col>

    </ion-row>

  </div>


</ion-content>
