<!--
  Generated template for the HoursPopoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
<ion-row>
  <ion-col col-2 style="padding: 10px;color: black">
    {{'from' | translate}}
  </ion-col>
  <ion-col col-4>
      <ion-datetime style="border:1px solid #4e99d4;padding: 6px;" displayFormat="hh:mm a" [(ngModel)]="fromTime" cancelText="{{'cancel' | translate}}" doneText="{{'done' | translate}}"  placeholder="{{ 'from' | translate }}">
        </ion-datetime> 
  </ion-col>
  <ion-col col-2  style="padding: 10px;color: black">
      {{'to' | translate}}
  </ion-col>
  <ion-col col-4>
      <ion-datetime  style="border:1px solid #4e99d4;padding: 6px;" displayFormat="hh:mm a" [(ngModel)]="toTime" cancelText="{{'cancel' | translate}}" doneText="{{'done' | translate}}"  placeholder="{{ 'to' | translate }}">
        </ion-datetime> 
  </ion-col>
</ion-row>
<ion-item style="text-align: center;">
    <button ion-button color="popover" (click)="DismissHourss()" 
    style="width: 110px; color: white; padding: 8px; border-radius: 18px; font-size: 16px;"
    >{{"save" | translate}}</button>
  </ion-item>
</ion-content>
