<!--
  Generated template for the CompanyhiredcanidatesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
    <ion-navbar>
        <ion-row >
            <ion-title style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{"jobsposted" | translate}}</ion-title>
        </ion-row>
        <ion-buttons right *ngIf="langDirection=='ltr'">
            <button ion-button (click)="dismiss()">
                <ion-icon md="ios-arrow-forward" ios="ios-arrow-forward"  style="font-size: 2.5rem;color:white;" ></ion-icon>
            </button>
            </ion-buttons>
            <ion-buttons right *ngIf="langDirection=='rtl'">
              <button ion-button (click)="dismiss()">
                  <ion-icon md="ios-arrow-back-outline"  ios="ios-arrow-back-outline" style="font-size: 2.5rem;color:white;" ></ion-icon>
              </button>
          </ion-buttons>
        </ion-navbar>  
  

</ion-header> -->

<ion-header>
    <ion-navbar hideBackButton>
    <ion-row >
      <ion-col col-1 [hidden]="hideback">
        <img src="assets/icon/back.png" style="width: 20px;" [ngClass]="scaleClass" (click)="dismiss()">
      </ion-col>
      <ion-col col-1 (click)="openmenu()" [hidden]="!hideback">
        <ion-icon name="menu" style="font-size: 30px;color: white;" ></ion-icon>
      </ion-col>

      <ion-col>
        <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{"jobsposted" | translate}}</p>
      </ion-col>
    </ion-row>
    </ion-navbar> 
  </ion-header>


<ion-content padding  style="background-color:#ffff">

    <ion-refresher  (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

      
    <div *ngFor="let item of jobdata" style="border-radius: 15px;    margin-bottom: 10px;" [style.border]="item.jobbordercolor">
        <ion-row style="margin-left: 5px; margin-right: 5px;">
          <ion-col col-2 style="text-align:left;">
              <img src="{{CompanyLogo}}" class="rounded-circle" onerror="this.onerror=null;this.src='assets/imgs/logo4.png';" class="circle-pic" style="text-align:left;margin-top: 13px;">
       
          </ion-col>
          <ion-col col-9>
      <p right *ngIf="langDirection=='ltr'" style="font-weight:bold;color: #2b80c3;margin-top: 14px;margin-bottom: 0px;">{{item.JobTitleEn}}</p>
      <p right *ngIf="langDirection=='rtl'" style="font-weight:bold;color: #2b80c3;margin-top: 14px;margin-bottom: 0px;">{{item.JobTitleAr}}</p>

      <p style="font-weight:bold; color:orange;margin-top: 3px;margin-bottom: 0px;">{{item.CreationDate}}</p>
          </ion-col>
          <!-- [hidden]="!item.hideviewDEtailsForUNposted" -->
          <ion-col col-1  style="text-align:left" (click)="canceluppostedjob(item)">
              <ion-icon name="ios-close-circle-outline" style="color:red;font-size: 30px;    margin-top: 12px;"></ion-icon>
          </ion-col>
        </ion-row>

        
        <ion-row>
          <ion-col col-2>

          </ion-col>
          <ion-col col-10>
            <p style="margin-top: 0px;margin-bottom:0px;font-weight: bold; color: gray;">{{'totalemp' | translate}} {{item.CandidatesCount}} {{'emp' | translate}}</p>
      
          </ion-col>
        </ion-row>
        <!-- <ion-row>
        
          <ion-col col-12 [hidden]="item.hideviewDEtailsForUNposted">
              <button ion-button *ngIf="langDirection=='ltr'" style=" text-transform: none; width: 100%;background-color:#2783c3; border-radius: 15px;text-transform: none;" (click)="showdetails(item.JobTitleEn,item.SID,item.CandidatesCount)"> {{'details' | translate}}</button>
              <button ion-button *ngIf="langDirection=='rtl'" style=" text-transform: none; width: 100%;background-color:#2783c3; border-radius: 15px;text-transform: none;" (click)="showdetails(item.JobTitleAr,item.SID,item.CandidatesCount)"> {{'details' | translate}}</button>
              
          </ion-col>
         
      
        </ion-row> -->

        <ion-row [hidden]="item.hideviewDEtailsForUNposted">
            <ion-col col-4>
                <button ion-button  block style="font-size:16px;border-radius: 10px;background-color: #3a8ccd;color:white;border:2px solid #3a8ccd;width: 90%;margin: auto auto;" (click)="details(item)" > {{'detailscan' | translate}}</button>
            </ion-col>
            <ion-col col-4>
                <button ion-button *ngIf="langDirection=='ltr'" style="font-size:16px;border-radius: 10px;background-color: #3a8ccd;color:white;border:2px solid #3a8ccd;width: 90%;margin: auto auto;" (click)="showdetails(item.JobTitleEn,item.SID,item.CandidatesCount)"> {{'appliedcan' | translate}}</button>
                <button ion-button *ngIf="langDirection=='rtl'" style="font-size:16px;border-radius: 10px;background-color: #3a8ccd;color:white;border:2px solid #3a8ccd;width: 90%;margin: auto auto;" (click)="showdetails(item.JobTitleAr,item.SID,item.CandidatesCount)"> {{'appliedcan' | translate}}</button>
  
            </ion-col>
            <ion-col col-4>
                <button ion-button   block style="font-size:16px;border-radius: 10px;background-color: #3a8ccd;;color:white;border:2px solid #3a8ccd;width: 90%;margin: auto auto;" (click)="selected(item)"> {{'selected' | translate}}</button>
            </ion-col>
        </ion-row>

      </div>

      <ion-fab *ngIf="langDirection=='rtl'" left bottom>
        <button ion-fab style="background:#2d81c4;" (click)="openPostedJob()"><ion-icon style="color:white;" name="add"></ion-icon></button>
        <!--<button item-right style="background:transparent" (click)="addOutside()"><ion-icon style="font-size: 70px;color:#4456b9" ios="ios-add-circle" md="md-add-circle"></ion-icon></button>-->
      </ion-fab>
      <ion-fab *ngIf="langDirection=='ltr'" right bottom>
        <button ion-fab style="background:#2d81c4;" (click)="openPostedJob()"><ion-icon style="color:white;" name="add"></ion-icon></button>
        <!--<button item-right style="background:transparent" (click)="addOutside()"><ion-icon style="font-size: 70px;color:#4456b9" ios="ios-add-circle" md="md-add-circle"></ion-icon></button>-->
      </ion-fab>


      <ion-grid style="height: 100%" [hidden]="hideNoDataTxt">
          <ion-row justify-content-center align-items-center style="height: 100%">
        <ion-col style="text-align:center">
          <p style="color:#388acb;font-weight:bold">{{"noPostedjobs" | translate}}</p>
          </ion-col>
          </ion-row>
          </ion-grid>

</ion-content>
