page-companypostedjob {
    .toolbar-background {
        // background: linear-gradient( 60deg, #1c74ba 30%, #77b7ea 60%) !important;
        // background: linear-gradient(to bottom,  #1c74ba 0%,  #73b7ed 80%);;
        background: linear-gradient(to bottom,  #05253e 0%,  #054b82 80%);
        color:white;
        
    }
    // .toolbar-background {
    //     // background: linear-gradient( 60deg, #1c74ba 30%, #77b7ea 60%) !important;
    //     background: linear-gradient(to bottom,  #1c74ba 0%,  #73b7ed 80%);;
    //     color:white;
        
    // }

    .scaleClass{
        transform: scale(-1,1);
    }

    [col-1] {
        padding: 0px;
    }
    .circle-pic{
        border: 1px solid gray;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        margin-top: 30px;
        margin-left: 1px;
    }
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: white;
    }
    .toolbar-title-ios {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: white;
    }
}
