<!-- <ion-header>
    <ion-navbar hideBackButton>
    <ion-row >
      <ion-col col-1>
        <img src="assets/icon/back.png" style="width: 20px;" [ngClass]="scaleClass" (click)="dismiss()">
      </ion-col>
      <ion-col>
        <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{"compJobHistory" | translate}}</p>
      </ion-col>
    </ion-row>
    </ion-navbar> 
  </ion-header> -->

  <ion-header>
    <ion-navbar>
    <ion-row >
      <!-- <ion-col col-1>
        <img src="assets/icon/back.png" style="width: 20px;" [ngClass]="scaleClass" (click)="dismiss()">
      </ion-col> -->
      <ion-col col-1 (click)="openmenu()" >
        <ion-icon name="menu" style="font-size: 30px;color: white;" ></ion-icon>
      </ion-col>
      <ion-col>
        <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{"compJobHistory" | translate}}</p>
      </ion-col>
    </ion-row>
    </ion-navbar> 
  </ion-header>


<ion-content >



    <ion-refresher  (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

      <ion-item   *ngFor="let item of jobsList"   (click)="gotoSelected(item)" no-lines style="padding: 5px 16px;box-shadow: 3px 3px 18px rgb(224, 224, 224);">
         
       
          <h2 style="color:#054b82;" *ngIf="langDirection == 'rtl'" >{{item.JobTitleAr}}</h2>
          <h2 style="color:#054b82;" *ngIf="langDirection == 'ltr'" >{{item.JobTitleEn}}</h2>
          <p style="font-weight:bold; color:gray;margin-top: 3px;"> <span style="color:#e19419">{{"JObStatus" | translate}} :</span> {{item.txt}}  </p>
          <!-- <p style="color:grey">{{"from" | translate}} {{item.StartDate}}</p>
          <p style="color:grey">{{"to" | translate}} {{item.EndDate}}</p> -->
          <ion-icon name="ios-arrow-forward" style="color:#4a84ac;font-size: 20px; font-weight: bold" item-end [ngClass]="scaleClass" ></ion-icon>
          
        </ion-item>


    <ion-grid style="height: 100%" [hidden]="hideNoDataTxt">
        <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-col style="text-align:center">
        <p style="color:#054b82;font-weight:bold">{{"nodata" | translate}}</p>
        </ion-col>
        </ion-row>
        </ion-grid>
</ion-content>
