<!--
  Generated template for the CompanycheckinviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  
  <ion-navbar>
      <ion-row >
          <ion-title style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">Graphic Designer</ion-title>
      </ion-row>
      <ion-buttons right *ngIf="langDirection=='ltr'">
          <button ion-button (click)="ViewCtrl.dismiss()">
              <ion-icon md="ios-arrow-forward" ios="ios-arrow-forward"  style="font-size: 2.5rem;color:white;" ></ion-icon>
          </button>
          </ion-buttons>
          <ion-buttons right *ngIf="langDirection=='rtl'">
            <button ion-button (click)="ViewCtrl.dismiss()">
                <ion-icon md="ios-arrow-back-outline"  ios="ios-arrow-back-outline" style="font-size: 2.5rem;color:white;" ></ion-icon>
            </button>
        </ion-buttons>
      </ion-navbar>   
   

</ion-header>


<ion-content padding  style="background-color:#ffff">
<ion-input [dir]="langDirection" placeholder="{{'search' | translate}}" style="color:black;     border-radius: 15px;
border: 1px solid #7eb2db; margin-bottom:15px;">
  </ion-input>
<div style="border: 1px solid #c5c5c5;border-radius: 15px;    margin-bottom: 10px;">
    <ion-row style="margin-left: 5px; margin-right: 5px;">
      <ion-col col-2 style="text-align:left;">
          <img src="assets/imgs/microsoft.jpg" class="circle-pic" style="text-align:left;margin-top: 13px;">
   
      </ion-col>
      <ion-col col-10>
  <p style="font-weight:bold;color: #2b80c3;margin-top: 21px;margin-bottom: 0px;">Ali Hosny</p>
  <p style="font-weight:bold; color:gray;margin-top: 3px;">Graphic Designer with experience 3 years  </p>
  <p style="font-weight:bold; color:gray;margin-top: 3px;">{{'status' | translate}} late </p>
  <p style="font-weight:bold; color:gray;margin-top: 3px;">{{'numberhour' | translate}} 2 {{'hour' | translate}} </p>
  <p style="font-weight:bold; color:gray;margin-top: 3px;">{{'rest' | translate}} 1 {{'hour' | translate}} </p>


      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4></ion-col>
      <ion-col col-4>
          <button ion-button style="    text-transform: none;
          width: 100%;background-color:orange; border-radius: 15px;text-transform: none;"> {{'finish' | translate}}</button>

      </ion-col>
     
      <ion-col col-4></ion-col>

    </ion-row>
  
  </div>
  <div style="border: 1px solid #c5c5c5;border-radius: 15px;    margin-bottom: 10px;">
      <ion-row style="margin-left: 5px; margin-right: 5px;">
        <ion-col col-2 style="text-align:left;">
            <img src="assets/imgs/microsoft.jpg" class="circle-pic" style="text-align:left;margin-top: 13px;">
     
        </ion-col>
        <ion-col col-10>
    <p style="font-weight:bold;color: #2b80c3;margin-top: 21px;margin-bottom: 0px;">Ali Hosny</p>
    <p style="font-weight:bold; color:gray;margin-top: 3px;">Graphic Designer with experience 3 years  </p>
    <p style="font-weight:bold; color:gray;margin-top: 3px;">{{'status' | translate}} late </p>
    <p style="font-weight:bold; color:gray;margin-top: 3px;">{{'numberhour' | translate}} 2 {{'hour' | translate}} </p>
    <p style="font-weight:bold; color:gray;margin-top: 3px;">{{'rest' | translate}} 1 {{'hour' | translate}} </p>


        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4></ion-col>
        <ion-col col-4>
            <button ion-button style="    text-transform: none;
            width: 100%;background-color:orange; border-radius: 15px;text-transform: none;"> {{'finish' | translate}}</button>

        </ion-col>
       
        <ion-col col-4></ion-col>

      </ion-row>
    
    </div>
</ion-content>
