<ion-header>
    <ion-navbar hideBackButton>
    <ion-row >
      <ion-col col-1>
        <img src="assets/icon/back.png" style="width: 20px;" [ngClass]="scaleClass" (click)="dismiss()">
      </ion-col>
      <ion-col>
        <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{"consitions" | translate}}</p>
      </ion-col>
    </ion-row>
    </ion-navbar> 
  </ion-header>


<ion-content padding  style="background-color:#ffff">

  <!-- <p style="padding: 16px;">{{conditionsTxt}}</p> -->
  <div [innerHtml]="conditionsTxt"></div>
</ion-content>
