<ion-header>
  <ion-navbar>
  <ion-row >
    <ion-col col-1>
      <ion-icon name="menu"  menuToggle style="font-size: 30px;color: white;margin-top: 10px;"></ion-icon>
    </ion-col>
    <ion-col style="text-align:center">
      <img src="assets/imgs/logo.png" style="width: 51px;">
    </ion-col>
    <!-- <ion-col col-1>
      <ion-icon name="search" style="font-size: 30px; color: white;margin-top: 10px;"></ion-icon>
    </ion-col> -->
  </ion-row>
  </ion-navbar> 
</ion-header>

<ion-content padding  style="background-color:#ffff">
  
    <ion-refresher  (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      

  <!-- <button (click)="openPosteaJob()">openPosteaJob</button> -->
  <!-- <button (click)="confirmPass()">confirmPass</button> -->
  <!-- <button (click)="CompanyCheckInNotificationPage2()">CompanyCheckInNotificationPage</button> -->
   <!-- <button (click)="activationCode()">activationCode</button> -->
  <!-- <button (click)="activejobs()">activeJobs</button>
  <button (click)="study()">study</button>
  <button (click)="experience()">experience</button> -->
  <!-- <button (click)="CandidateDetails()">CandidateDetails</button>  -->
  <p [hidden]="tmpHidden" style="color:#4a84ac;font-size:18px;font-weight:bold" >{{"recentlyApplied" | translate}}</p>
  <p [hidden]="latestnodata" style="color:#e19419;font-weight:bold;text-align: center;    margin: 0px;">{{"norecentjob" | translate}}</p>
  <ion-row [hidden]="tmpHidden" >

    <ion-col  *ngFor="let item of latestApplied"   style="width: 20%;box-shadow: 3px 3px 18px rgb(224, 224, 224);margin: 0px 5px;border:2px solid lightgrey ;background-color:#fef5f9;border-radius:10px;text-align:center ;    margin-bottom: 5px; ">
      <img src="{{item.CompanyLogo}}" class="rounded-circle" onerror="this.onerror=null;this.src='assets/imgs/logo5.jpg';" style="    width: 45px;
      height: 45px;">
      <!-- <img src=""  style="width: 40px;height: 40px;">  font-weight:bold;font-size:13px;margin: 0px; -->
      
      <ion-label style="color:#4a84ac;" *ngIf="langDirection == 'rtl'">{{item.JobTitleAr}}</ion-label>
      <ion-label style="color:#4a84ac;" *ngIf="langDirection == 'ltr'">{{item.JobTitleEn}}</ion-label>
 
      <!-- bottom: 2px;position: absolute;right: 27%; -->
      <button ion-button style="    height: 25px;font-size: 12px;background-color:#e19419;color:#4a84ac;border-radius: 5px;    " (click)="latestDetails(item)">{{"newdetails" | translate}}</button>
    </ion-col>
    
    <!-- <ion-col   style="width: 20%;box-shadow: 3px 3px 18px rgb(224, 224, 224);margin: 0px 5px;border:2px solid lightgrey ;background-color:#fef5f9;border-radius:10px;text-align:center ;    margin-bottom: 5px;">
      <img src="assets/imgs/logo5.jpg" style="width: 45px;">
      <p style="color:#4a84ac;font-weight:bold;font-size:13px;margin: 0px;">{{"job" | translate}}</p>
      <button ion-button style="    height: 25px;
      font-size: 12px;background-color:#e19419;color:#4a84ac;border-radius: 5px">{{"edit" | translate}}</button>
    </ion-col>

    <ion-col  style="width: 20%;box-shadow: 3px 3px 18px rgb(224, 224, 224);margin: 0px 5px;border:2px solid lightgrey ;background-color:#fef5f9;border-radius:10px;text-align:center ;    margin-bottom: 5px;">
      <img src="assets/imgs/logo5.jpg" style="width: 45px;">
      <p style="color:#4a84ac;font-weight:bold;font-size:13px;margin: 0px;">{{"job" | translate}}</p>
      <button ion-button style="    height: 25px;
      font-size: 12px;background-color:#e19419;color:#4a84ac;border-radius: 5px">{{"edit" | translate}}</button>
    </ion-col>

    <ion-col   style="width: 20%;box-shadow: 3px 3px 18px rgb(224, 224, 224);margin: 0px 5px;border:2px solid lightgrey ;background-color:#fef5f9;border-radius:10px;text-align:center ;    margin-bottom: 5px;">
      <img src="assets/imgs/logo5.jpg" style="width: 45px;">
      <p style="color:#4a84ac;font-weight:bold;font-size:13px;margin: 0px;">{{"job" | translate}}</p>
      <button ion-button style="    height: 25px;
      font-size: 12px;background-color:#e19419;color:#4a84ac;border-radius: 5px">{{"edit" | translate}}</button>
    </ion-col> -->

  </ion-row>

<!-- <ion-row [hidden]="tmpHidden">
  <ion-col col-9>
    <p style="color:#4a84ac;font-size:18px;font-weight:bold">{{"recommended" | translate}}</p>
  </ion-col>
  <ion-col col-3 style="text-align:center" >
    <button ion-button  style="margin:10px 0px;font-size:12px;border-radius: 50px 50px;background-color: white;color:#3878ab;border:2px solid #3878ab" >{{"seeall" | translate}}</button>
  </ion-col>
</ion-row> -->
<ion-row [hidden]="hideRecommendedTitle" >
    <ion-col col-9>
      <p style="color:#4a84ac;font-size:18px;font-weight:bold">{{"recommended" | translate}}</p>
    </ion-col>
    <ion-col col-3 [style.text-align]="morertl" (click)="seeMoreRecommendedJobs()">
      <button ion-button  style="    margin: 10px 0px;font-size:12px;border-radius: 50px 50px;background-color: white;color:#3878ab;border:2px solid #3878ab" >{{"seeall" | translate}}</button>
    </ion-col>
  </ion-row>

  <ion-row  *ngFor="let item of recommendedJobs" style="border:2px solid lightgrey;border-radius: 10px;margin-bottom:20px">
      <ion-col style="padding-right: 0px;padding-left: 0px;padding-bottom: 0px">
        <ion-row style="margin: 0px 10px;">
          <ion-col col-2>
              <img src="{{item.CompanyLogo}}" class="rounded-circle" onerror="this.onerror=null;this.src='assets/imgs/logo4.png';" style="width: 40px;height: 40px;">
          </ion-col>
          <ion-col col-10> 
            <p style="margin:0px;color:#4a84ac;font-weight:bold" *ngIf="langDirection == 'rtl'" (click)="applayforJob(item)"> {{item.JobTitleAr}} </p>
            <p style="margin:0px;color:#4a84ac;font-weight:bold" *ngIf="langDirection == 'ltr'" (click)="applayforJob(item)"> {{item.JobTitleEn}} </p>
            <p style="margin:0px;color:#e19419;" *ngIf="langDirection == 'rtl'"> {{"ago" | translate}} {{item.dateConversion}} </p>
            <p style="margin:0px;color:#e19419;" *ngIf="langDirection != 'rtl'"> {{item.dateConversion}} {{"ago" | translate}} </p>
          </ion-col>
        </ion-row>
    
    
        <ion-row style="margin: 0px 10px;">
          <p style="color:gray;margin:5px">{{item.JobDescription}}</p>
        </ion-row>
    
        <ion-row style="text-align:center;color:rgb(196, 193, 193);margin-top:20px">
          <ion-col [ngClass]="hideClass" (click)="hideJob(item)" style="color:#e19419"> 
              <img src="assets/icon/hide.png" style="    width: 12px;">
              {{"hide" | translate}}
          </ion-col>
          <ion-col  [ngClass]="applyClass" (click)="applayforJob(item)" style="color:#4a84ac">
              <ion-icon name="add" style="color:#4a84ac"></ion-icon>
              {{"Apply" | translate}}
          </ion-col>
        </ion-row>
    
    
      </ion-col>
    
    </ion-row>
 
    

<!-- <ion-row style="border:2px solid lightgrey;border-radius: 10px" [hidden]="tmpHidden" *ngIf="recommendedJobs">
  <ion-col style="padding-right: 0px;padding-left: 0px;padding-bottom: 0px">
    <ion-row style="margin: 0px 10px;">
      <ion-col col-2>
          <img src="assets/imgs/logo4.png" style="width: 40px;height: 40px;">
      </ion-col>
      <ion-col col-10>
        <p style="margin:0px;color:#4a84ac;font-weight:bold"> {{"Event" | translate}} </p>
        <p style="margin:0px;color:#e19419;"> {{"time" | translate}}</p>
      </ion-col>
    </ion-row>


    <ion-row style="margin: 0px 10px;">
      <p style="color:gray;margin:5px">{{"longtxt" | translate}}</p>
    </ion-row>

    <ion-row style="text-align:center;color:rgb(196, 193, 193);margin-top:20px">
      <ion-col [ngClass]="hideClass" (click)="hideJob(item)"  style="color:#e19419">
          <img src="assets/icon/hide.png" style="    width: 12px;">
          {{"hide" | translate}}
      </ion-col>
      <ion-col   [ngClass]="applyClass" style="color:#4a84ac">
          <ion-icon name="add" style="color:#4a84ac"></ion-icon>
          {{"Apply" | translate}}
      </ion-col>
    </ion-row>


  </ion-col>

</ion-row> -->


<ion-row>
    <ion-col col-9>
      <p style="color:#4a84ac;font-size:18px;font-weight:bold">{{"newJobs" | translate}}</p>
    </ion-col>
    <ion-col col-3 [style.text-align]="morertl" (click)="seeMoreNewJobs()">
      <button ion-button  style="    margin: 10px 0px;font-size:12px;border-radius: 50px 50px;background-color: white;color:#3878ab;border:2px solid #3878ab" >{{"seeall" | translate}}</button>
    </ion-col>
  </ion-row>
  
  <ion-row  *ngFor="let item of newJobsList" style="border:2px solid lightgrey;border-radius: 10px;margin-bottom:20px">
    <ion-col style="padding-right: 0px;padding-left: 0px;padding-bottom: 0px">
      <ion-row style="margin: 0px 10px;">
        <ion-col col-2>
            <img src="{{item.CompanyLogo}}" class="rounded-circle" onerror="this.onerror=null;this.src='assets/imgs/logo4.png';" style="width: 40px;height: 40px;">
        </ion-col>
        <ion-col col-10> 
          <p style="margin:0px;color:#4a84ac;font-weight:bold" *ngIf="langDirection == 'rtl'" (click)="applayforJob(item)"> {{item.JobTitleAr}} </p>
          <p style="margin:0px;color:#4a84ac;font-weight:bold" *ngIf="langDirection == 'ltr'" (click)="applayforJob(item)"> {{item.JobTitleEn}} </p>
          <p style="margin:0px;color:#e19419;" *ngIf="langDirection == 'rtl'"> {{"ago" | translate}} {{item.dateConversion}} </p>
          <p style="margin:0px;color:#e19419;" *ngIf="langDirection != 'rtl'"> {{item.dateConversion}} {{"ago" | translate}} </p>
        </ion-col>
      </ion-row>
  
  
      <ion-row style="margin: 0px 10px;">
        <p style="color:gray;margin:5px">{{item.JobDescription}}</p>
      </ion-row>
  
      <ion-row style="text-align:center;color:rgb(196, 193, 193);margin-top:20px">
        <ion-col [ngClass]="hideClass" (click)="hideJob(item)" style="color:#e19419"> 
            <img src="assets/icon/hide.png" style="    width: 12px;">
            {{"hide" | translate}}
        </ion-col>
        <ion-col  [ngClass]="applyClass" (click)="applayforJob(item)" style="color:#4a84ac">
            <ion-icon name="add" style="color:#4a84ac"></ion-icon>
            {{"Apply" | translate}}
        </ion-col>
      </ion-row>
  
  
    </ion-col>
  
  </ion-row>
  





  <!-- <ion-row style="border:2px solid lightgrey;border-radius: 10px;margin-bottom:20px">
      <ion-col style="padding-right: 0px;padding-left: 0px;padding-bottom: 0px">
        <ion-row style="margin: 0px 10px;">
          <ion-col col-2>
              <img src="assets/imgs/logo4.png" style="width: 45px;">
          </ion-col>
          <ion-col col-10>
            <p style="margin:0px;color:#4a84ac;font-weight:bold"> {{"Event" | translate}} </p>
            <p style="margin:0px;color:#e19419;"> {{"time" | translate}}</p>
          </ion-col>
        </ion-row>
    
    
        <ion-row style="margin: 0px 10px;">
          <p style="color:gray;margin:5px">{{"longtxt" | translate}}</p>
        </ion-row>
    
        <ion-row style="text-align:center;color:rgb(196, 193, 193);margin-top:20px">
          <ion-col [ngClass]="hideClass">
              <img src="assets/icon/hide.png" style=" width: 15px;">
              {{"hide" | translate}}
          </ion-col>
          <ion-col  [ngClass]="applyClass">
              <ion-icon name="add" ></ion-icon>
              {{"Apply" | translate}}
          </ion-col>
        </ion-row>
    
    
      </ion-col>
    
    </ion-row> -->

</ion-content>
