page-home {
    .toolbar-background {
        // background: linear-gradient( 60deg, #1c74ba 30%, #77b7ea 60%) !important;
        // background: linear-gradient(to bottom,  #1c74ba 0%,  #73b7ed 80%);;
        background: linear-gradient(to bottom,  #05253e 0%,  #054b82 80%);
        color:white;
        
    }
    // .col {
    //     padding-right: 0px;
    //     padding-left: 0px;
    // }

    .hideltr{
        border:2px solid lightgrey;
        border-bottom: none;
        border-left: none;
    }
    .hidertl{
        border:2px solid lightgrey;
        border-bottom: none;
        border-right: none;
    }
    .applyltr{
        border:2px solid lightgrey;
        border-bottom: none;
        border-right: none; 
    }
    .applyrtl{
        border:2px solid lightgrey;
        border-bottom: none;
        border-left: none;
    }
    .label-md{
        margin:0px;
    }
    .label-ios{
        margin:0px;
    }
}
