page-activation-code {
    .toolbar-background {
        // background: linear-gradient( 60deg, #1c74ba 30%, #77b7ea 60%) !important;
        // background: linear-gradient(to bottom,  #1c74ba 0%,  #73b7ed 80%);;
        background: linear-gradient(to bottom,  #05253e 0%,  #054b82 80%);
        color:white;
        
    }

    .scaleClass{
        transform: scale(-1,1);
    }

    .text-input-md {
        margin: 0px 0px !important;
        padding: 0;
        width: calc(100% - 8px - 8px);
        text-align: center;
    }
    .text-input-ios {
        margin: 0px 0px !important;
        padding: 0;
        width: calc(100% - 8px - 8px);
        text-align: center;
    }

}
