<ion-header>
  <ion-navbar hideBackButton>
  <ion-row >
    <!-- <ion-col col-1>
      <img src="assets/icon/back.png" style="width: 20px;" [ngClass]="scaleClass" (click)="dismiss()">
    </ion-col> -->
    <ion-col>
      <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{"activationCode" | translate}}</p>
    </ion-col>
  </ion-row>
  </ion-navbar> 
</ion-header>

<ion-content padding  style="background-color:#ffff">
  <!-- <p style="color:#4a84ac;text-align:center;font-size: 25px;padding: 25px;">{{"activationMsg" | translate}}</p>

  
  <div style="text-align:center;"> -->
    <!-- <ion-icon name="ios-checkmark-circle" style="color:#e19419;font-size:20px;margin:0px 20px;"></ion-icon>
  <input type="text" style="font-size: 40px;width:45px;height:45px;border:2px solid #afc4d3;border-radius: 5px;color:#e19419;text-align:center" >
  <input type="text" style="font-size: 40px;width:45px;height:45px;border:2px solid #afc4d3;border-radius: 5px;color:#e19419;text-align:center" >
  <input type="text" style="font-size: 40px;width:45px;height:45px;border:2px solid #afc4d3;border-radius: 5px;color:#e19419;text-align:center" >
  <input type="text" style="font-size: 40px;width:45px;height:45px;border:2px solid #afc4d3;border-radius: 5px;color:#e19419;text-align:center"  (click)="home()">
   -->
   <!-- <ion-row>
    <ion-icon name="ios-checkmark-circle" style="color:#e19419;font-size:20px;margin:10px 20px;"></ion-icon>
  <ion-input type="text" style="font-size: 30px;width:40px;height:40px;border:2px solid #afc4d3;border-radius: 5px;color:#e19419;text-align:center" maxlength="1" (input)='onInputTime($event)' [(ngModel)]='input1'></ion-input>
  <ion-input type="text" style="font-size: 30px;width:40px;height:40px;border:2px solid #afc4d3;border-radius: 5px;color:#e19419;text-align:center" maxlength="1"  (input)='onInputTime1($event)' [(ngModel)]='input2' #focusInput1></ion-input>
  <ion-input type="text" style="font-size: 30px;width:40px;height:40px;border:2px solid #afc4d3;border-radius: 5px;color:#e19419;text-align:center" maxlength="1"  (input)='onInputTime2($event)' [(ngModel)]='input3' #focusInput2></ion-input>
  <ion-input type="text" style="font-size: 30px;width:40px;height:40px;border:2px solid #afc4d3;border-radius: 5px;color:#e19419;text-align:center" maxlength="1"  (focus)='onInputTime3()' [(ngModel)]='input4' #focusInput5></ion-input>
</ion-row>
(focus)='onInputTime3()'
  </div>
<div style="text-align:center;margin-top:30px">
  <p style="color:#4a84ac;text-align:center;display:inline-block;font-size: 18px;">{{"resendMsg" | translate}}</p>
  <p style="color:#e19419;text-align:center;display:inline-block;font-size: 18px;" >{{"resendTxt" | translate}} </p>
</div> -->


<p style="color:#4a84ac;text-align:center;font-size: 25px;padding: 25px;">{{"activationMsg" | translate}}</p>

  
<div style="text-align:center;direction: ltr;">
  <ion-row>
    <ion-icon name="ios-checkmark-circle" [hidden]="hideMark" style="color:#e19419;font-size:20px;margin:10px 20px;"></ion-icon>
    <ion-input type="number" style="font-size: 30px;width:40px;height:40px;border:2px solid #afc4d3;border-radius: 5px;color:#e19419;text-align:center;" [style.border-color]="borderColor" maxlength="1" (input)='onInputTime($event)' [(ngModel)]='input1' #focusInput0></ion-input>
    <ion-input type="number" style="font-size: 30px;width:40px;height:40px;border:2px solid #afc4d3;border-radius: 5px;color:#e19419;text-align:center" maxlength="1"  (input)='onInputTime1($event)' [(ngModel)]='input2' #focusInput1></ion-input>
    <ion-input type="number" style="font-size: 30px;width:40px;height:40px;border:2px solid #afc4d3;border-radius: 5px;color:#e19419;text-align:center" maxlength="1"  (input)='onInputTime2($event)' [(ngModel)]='input3' #focusInput2></ion-input>
    <ion-input type="number" style="font-size: 30px;width:40px;height:40px;border:2px solid #afc4d3;border-radius: 5px;color:#e19419;text-align:center" maxlength="1"  (input)='onInputTime4()'  [(ngModel)]='input4' #focusInput3></ion-input></ion-row>
</div>
<div style="text-align:center;margin-top:30px">
<p style="color:#4a84ac;text-align:center;display:inline-block;font-size: 18px;">{{"resendMsg" | translate}} {{time}} {{"sec" | translate}}</p>
<p style="color:#e19419;text-align:center;display:inline-block;font-size: 18px;" (click)="resend()">{{"resendTxt" | translate}} </p>
</div>


</ion-content>
