page-companypostajob {
    .toolbar-background {
        // background: linear-gradient( 60deg, #1c74ba 30%, #77b7ea 60%) !important;
        // background: linear-gradient(to bottom,  #1c74ba 0%,  #73b7ed 80%);;
        background: linear-gradient(to bottom,  #05253e 0%,  #054b82 80%);
        color:white;
        
    }
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: white;
    }
    .toolbar-title-ios {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: white;
    }

    .scaleClass{
        transform: scale(-1,1);
    }
    
    .text-input-md {
        margin: 13px 0px;
        color: black;
        padding: 0;
        width: calc(100% - 8px - 8px);
    }
    .text-input-ios {
        margin: 13px 0px;
        color: black;
        padding: 0;
        width: calc(100% - 8px - 8px);
    }
    #map
    {
        // height:12em;
        height: 17em;
        width:100%;
    }
    .circle-pic{
        border: 1px solid gray;
        width: 100px;
        height: 48px;
        border-radius: 50%;
        text-align: center;
        margin-top: 30px;
        margin-left: 1px;
    }

    .item-md.item-block .item-inner{
        padding-right: 0px;
    }

    .item-ios.item-block .item-inner{
        padding-right: 0px;
    }
    .classUpToShow{
        padding-bottom: 300px;
    }
    .classRemoveUpToShow{
        padding-bottom: 0px;
    }

    .select-md{
        padding: 13px 5px 13px 5px;
    }
}
