<!--
  Generated template for the CompanypostajobPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar hideBackButton>
    <ion-row >
      <ion-col col-1>
        <img src="assets/icon/back.png" style="width: 20px;" [ngClass]="scaleClass" (click)="dismiss()">
      </ion-col>
      <ion-col>
        <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{"postjob" | translate}}</p>
      </ion-col>
    </ion-row>
    </ion-navbar> 
  </ion-header>

<ion-content padding [ngClass]="cssClass"  style="background-color:#ffff">
<div  style="border: 1px solid #c5c5c5;border-radius: 15px;    margin-bottom: 100px;" #scrollMe >
    <ion-row style="margin-left: 5px; margin-right: 5px;">
      <ion-col col-2 style="text-align:left;">
          <img src="assets/imgs/default-avatar.png" class="circle-pic" style="text-align:left;margin-top: 7px;">
   
      </ion-col>
      <ion-col col-10 style="margin-top:10px;">
          <ion-item no-lines style="margin: 0px; box-shadow: 1px 1px 1px 2px lightgrey;">
              <ion-label>{{'category'|  translate}}</ion-label> 
  
            <ion-select placeholder="{{'category'|  translate}}" *ngIf="langDirection=='rtl'" (ionChange)="getjob()"  [(ngModel)]="category"  okText="تم" cancelText="إلغاء" style="width: 100%;  max-width: 100%; " >
                  <ion-option  *ngFor="let item of categorys" value={{item.SID}} style="font-size: 13px;" > {{item.CategoryNameAr}}</ion-option>
              </ion-select>   
              <ion-select placeholder="{{'category'|  translate}}" *ngIf="langDirection=='ltr'" (ionChange)="getjob()"  [(ngModel)]="category"   okText="OK" cancelText="Cancel" style="width: 100%;  max-width: 100%; " >
                <ion-option *ngFor="let item of categorys" value={{item.SID}} style="font-size: 13px;" > {{item.CategoryNameEn}}</ion-option>
            </ion-select> 
              
      </ion-item>
      <ion-item style=" margin-top: 9px;max-height: 30px;box-shadow: 1px 1px 1px 2px lightgrey;">
          <ion-label>{{'choosejob'|  translate}}</ion-label> 
  
      <ion-select placeholder="{{'choosejob'|  translate}}" *ngIf="langDirection=='rtl'" (ionChange)="choosejob()" [(ngModel)]="job"   okText="تم" cancelText="إلغاء" style="width: 100%;  max-width: 100%; " >
          <ion-option *ngFor="let item of jobs" value={{item.SID}} style="font-size: 13px;" > {{item.TitleAr}}</ion-option>
      </ion-select>    
      <ion-select placeholder="{{'choosejob'|  translate}}" *ngIf="langDirection=='ltr'" [(ngModel)]="job"   okText="OK" cancelText="Cancel" style="width: 100%;  max-width: 100%; " >
        <ion-option *ngFor="let item of jobs" value={{item.SID}} style="font-size: 13px;" > {{item.TitleEn}}</ion-option>
    </ion-select>
    </ion-item>



    <ion-item no-lines style="margin: 0px; box-shadow: 1px 1px 1px 2px lightgrey;margin-top: 9px;">
      <ion-label>{{'nationality'|  translate}}</ion-label> 

    <ion-select placeholder="{{'nationality'|  translate}}" *ngIf="langDirection=='rtl'"   [(ngModel)]="natId"  okText="تم" cancelText="إلغاء" style="width: 100%;  max-width: 100%; " >
          <ion-option  *ngFor="let item of natsarr" value={{item.SID}} style="font-size: 13px;" > {{item.Nationality_Ar}}</ion-option>
      </ion-select>   
      <ion-select placeholder="{{'nationality'|  translate}}" *ngIf="langDirection=='ltr'"   [(ngModel)]="natId"   okText="OK" cancelText="Cancel" style="width: 100%;  max-width: 100%; " >
        <ion-option *ngFor="let item of natsarr" value={{item.SID}} style="font-size: 13px;" > {{item.Nationality_En}}</ion-option>
    </ion-select> 
      
</ion-item>




    </ion-col>
    </ion-row>
    
    <ion-row>
   
      <ion-col col-12>
          <p>{{'writedescription' | translate}}</p>
  
      <textarea rows="5" style="border:2px solid lightgray;width: 100%" [(ngModel)]="description"></textarea>
    </ion-col>
     
  
    </ion-row>
    <ion-list radio-group [(ngModel)]="jobTypeSelected" >
     
        <ion-row style="padding: 0px"> 
          <ion-col col-6 style="padding: 0px">
      <ion-item style="font-weight: bold;"  [style.background-color]="buyColor" no-lines>
        
        <ion-radio  item-start style="margin: 9px 10px 9px 0;" item-left value="1" [checked]="jobTypeSelected == 1 ? true : false" (ionSelect)="selectionTypeChanged()"></ion-radio>
        <ion-label item-end >{{"perhour" | translate }}</ion-label>
      </ion-item>
          </ion-col>
          <ion-col col-6 style="padding: 0px">
      <ion-item style="font-weight: bold;"   [style.background-color]="sellColor" no-lines>
          <!-- item-left -->
        <ion-radio item-start style="margin: 9px 10px 9px 0;" item-left value="2" [checked]="jobTypeSelected == 2 ? true : false" (ionSelect)="selectionTypeChanged()"></ion-radio>
        <ion-label item-end  >{{"permonth" | translate}}</ion-label>
      </ion-item>
      </ion-col>
     </ion-row> 

     <ion-row style="padding: 0px"> 
      <ion-col col-6 style="padding: 0px">
  <ion-item style="font-weight: bold;"   no-lines>
    
    <ion-radio  item-start style="margin: 9px 10px 9px 0;" item-left value="3" [checked]="jobTypeSelected == 3 ? true : false" (ionSelect)="selectionTypeChanged()"></ion-radio>
    <ion-label item-end >{{"peryear" | translate }}</ion-label>
  </ion-item>
      </ion-col>
      <ion-col col-6 style="padding: 0px">
  <!-- <ion-item style="font-weight: bold;"   [style.background-color]="sellColor" no-lines>
      
    <ion-radio item-start style="margin: 9px 10px 9px 0;" item-left value="2" [checked]="jobTypeSelected == 2 ? true : false" (ionSelect)="selectionTypeChanged()"></ion-radio>
    <ion-label item-end  >{{"fullTime" | translate}}</ion-label>
  </ion-item> -->
  </ion-col>
 </ion-row> 

      </ion-list>
      <ion-row *ngIf="jobTypeSelected == 2 || jobTypeSelected == 3">
        <ion-col col-6>
          <ion-item no-lines style="margin: 0px; box-shadow: 1px 1px 1px 2px lightgrey;padding: 0">
              <ion-label  style="color:gray;padding: 0px 5px;" (click)="daysPopover(ev)"><span *ngIf="!SelectedDayStrings">{{'Workingdays' | translate}}</span><span *ngIf="SelectedDayStrings">{{SelectedDayStrings}}</span></ion-label>
        
      </ion-item>
    </ion-col>
    <ion-col col-6>
        <ion-item no-lines style="margin: 0px; box-shadow: 1px 1px 1px 2px lightgrey;padding: 0">
        
          <ion-label  style="color:gray;padding: 0px 5px;" (click)="hoursPopover(ev)"><span *ngIf="!SelectedhourString">{{'WorkingHours' | translate}}</span><span *ngIf="SelectedhourString">{{SelectedhourString}}</span></ion-label>
          <!-- <ion-label  style="color:gray;padding: 0px 5px;" (click)="hoursPopover(ev)">{{'WorkingHours' | translate}}</ion-label> -->
      
    </ion-item>
    </ion-col>
    <!-- <ion-col col-6>
        <ion-item no-lines style="margin: 0px; box-shadow: 1px 1px 1px 2px lightgrey;padding: 0">
            <ion-input  [dir]="langDirection" type="tel"  [(ngModel)]="monthlySalary" placeholder="{{'MonthSalary'| translate}}" style="color:gray;    padding: 0px 5px;"></ion-input>
      
    </ion-item>
  </ion-col> -->
      </ion-row>
    <ion-row *ngIf="jobTypeSelected == 1">
      <ion-col col-6>
        <ion-item no-lines style="margin: 0px; box-shadow: 1px 1px 1px 2px lightgrey;padding: 0">
            <ion-input  (input)='salaryinput()' [dir]="langDirection" type="tel"  [(ngModel)]="salary" placeholder="{{'salary'| translate}}" style="color:gray;    padding: 0px 5px;"></ion-input>
      
    </ion-item>
  </ion-col>
  <ion-col col-6>
      <ion-item no-lines style="margin: 0px; box-shadow: 1px 1px 1px 2px lightgrey;padding: 0">
          <ion-input (input)='numberofhourinput()'    [dir]="langDirection" type="tel"  [(ngModel)]="numberofhour" placeholder="{{'numberofhour'| translate}}" style="color:gray;    padding: 0px 5px;"></ion-input>
    
  </ion-item>
  </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6>
  
          <ion-item no-lines style="margin: 0px; box-shadow: 1px 1px 1px 2px lightgrey;padding: 0" [hidden]="!!myDate">
          <!-- <ion-item [hidden]="!!myDate"> -->
            <ion-label style="padding-right: 5px; padding-left: 5px"><span *ngIf="!mystartdate">{{ 'startdate' | translate }}</span><span *ngIf="mystartdate">{{mystartdate}} {{myTime}}</span></ion-label>
            <ion-datetime   min="{{date}}" max="2050" cancelText="{{'cancel' | translate}}" doneText="{{'done' | translate}}" (ngModelChange)="change(datePicker)" displayFormat="DD-MMM-YYYY" [(ngModel)]="myDate"></ion-datetime>
          </ion-item>
          <!-- <ion-item [hidden]="!myDate" > -->
              <ion-item no-lines style="margin: 0px; box-shadow: 1px 1px 1px 2px lightgrey;padding: 0" [hidden]="!myDate" > 
            <!-- <ion-label>Time</ion-label> -->
            <ion-datetime #datePicker cancelText="{{'cancel' | translate}}" doneText="{{'done' | translate}}"
            (ionCancel)="myDate=undefined" (ngModelChange)="changeTime()"  displayFormat="h:m a"  [(ngModel)]="myTime"></ion-datetime>
          </ion-item>
<!--           
  min="05:20"
          pickerFormat="h:mm:A" hourValues="07,08,09,10,11,12,13,14,15,16,17,18,19,20" -->
          <!-- <h1 [hidden]="!myTime">result is {{myDate}} : {{myTime}} </h1> -->

 <!-- <ion-datetime [dir]="langDirection"  min="{{date}}" max="2050" displayFormat="DD-MM-YYYY HH:mm" [(ngModel)]="startdate" cancelText="{{'cancel' | translate}}" doneText="{{'done' | translate}}"  placeholder="{{ 'startdate' | translate }}">
        </ion-datetime> -->


          <!-- <ion-item no-lines style="margin: 0px; box-shadow: 1px 1px 1px 2px lightgrey;padding: 0">
             
        <ion-label (click)="chooseDate(1)" style="color:darkgray;margin:0px;padding: 0px;    padding: 0px 5px;"><span *ngIf="!startdate">{{ 'startdate' | translate }}</span><span *ngIf="startdate">{{startDateDisplay}}</span></ion-label>
      </ion-item> -->

    </ion-col>
    <ion-col col-6>


        <ion-item no-lines style="margin: 0px; box-shadow: 1px 1px 1px 2px lightgrey;padding: 0" [hidden]="!!myendDate">
            <!-- <ion-item [hidden]="!!myDate"> -->
              <ion-label style="padding-right: 5px; padding-left: 5px"><span *ngIf="!myenddate">{{ 'enddate' | translate }}</span><span *ngIf="myenddate">{{myenddate}} {{myendTime}}</span></ion-label>
              <ion-datetime  min="{{date}}" max="2050" cancelText="{{'cancel' | translate}}" doneText="{{'done' | translate}}" (ngModelChange)="changeend(datePickerend)" displayFormat="DD-MMM-YYYY" [(ngModel)]="myendDate"></ion-datetime>
            </ion-item>
            <!-- <ion-item [hidden]="!myDate" > -->
                <ion-item no-lines style="margin: 0px; box-shadow: 1px 1px 1px 2px lightgrey;padding: 0" [hidden]="!myendDate" > 
              <!-- <ion-label>Time</ion-label> -->
              <ion-datetime #datePickerend cancelText="{{'cancel' | translate}}" doneText="{{'done' | translate}}"
              (ionCancel)="myendDate=undefined" (ngModelChange)="changeTimeend()"  useCurrentTimeAsDefaultValue="true" displayFormat="h:m a"  [(ngModel)]="myendTime"></ion-datetime>
            </ion-item>

        <!-- <ion-datetime [dir]="langDirection"  min="{{date}}"   max="2050" displayFormat="DD-MM-YYYY HH:mm" [(ngModel)]="enddate" cancelText="{{'cancel' | translate}}" doneText="{{'done' | translate}}" placeholder="{{ 'enddate' | translate }}">
      </ion-datetime> -->

        <!-- <ion-item no-lines style="margin: 0px; box-shadow: 1px 1px 1px 2px lightgrey;padding: 0">
          
      <ion-label (click)="chooseDate(2)" style="color:darkgray;margin:0px;padding: 0px;     padding: 0px 5px;"><span *ngIf="!enddate">{{ 'enddate' | translate }}</span><span *ngIf="enddate">{{endDateDisplay}}</span></ion-label>
    </ion-item> -->

  </ion-col>
      </ion-row>
      <ion-row>
         
      <ion-col col-6>
          <ion-item no-lines style="margin: 0px; box-shadow: 1px 1px 1px 2px lightgrey;height: 45px;padding: 0">
  
              
              <ion-label  style="margin:0px">{{'Gender'|  translate}}</ion-label>
            <ion-select   placeholder="{{'Gender'|  translate}}" [(ngModel)]="type"   okText="{{'done' | translate}}" cancelText="{{'cancel' | translate}}" style="width: 100%;  max-width: 100% " >
                <ion-option  style="font-size: 13px;" value="2"> {{'any'|  translate}}</ion-option>    
                <ion-option  style="font-size: 13px;" value="1"> {{'male'|  translate}}</ion-option>
                <ion-option  style="font-size: 13px;" value="0"> {{'female'|  translate}}</ion-option>
                  
  
                </ion-select>    
              
      </ion-item>
    </ion-col>
    <ion-col col-6>
            <ion-item no-lines style="margin: 0px; box-shadow: 1px 1px 1px 2px lightgrey;padding: 0">
                <ion-input  [dir]="langDirection" type="tel"  (input)='placesinput()' [(ngModel)]="places" placeholder="{{'places'| translate}}" style="color:gray;    padding: 0px 5px;" ></ion-input>
          
        </ion-item>
      </ion-col>
        </ion-row>


<ion-row>
  <ion-col col-6>
      <ion-item no-lines style="margin: 0px; box-shadow: 1px 1px 1px 2px lightgrey;padding: 0">
          <ion-input  [dir]="langDirection" type="tel"  (input)='ageFromFunc()' [(ngModel)]="agefrom1" placeholder="{{'ageFrom'| translate}}" style="color:gray;    padding: 0px 5px;" ></ion-input>
    
  </ion-item>
  </ion-col>
        <ion-col col-6>
          <ion-item no-lines style="margin: 0px; box-shadow: 1px 1px 1px 2px lightgrey;padding: 0">
              <ion-input  [dir]="langDirection" type="tel"  (input)='ageTOFunc()' [(ngModel)]="ageto1" placeholder="{{'ageTo'| translate}}" style="color:gray;    padding: 0px 5px;" ></ion-input>
        
      </ion-item>
    </ion-col>
</ion-row>


        <ion-row>
            <ion-col col-6>
                <ion-item no-lines style="margin: 0px; box-shadow: 1px 1px 1px 2px lightgrey;height: 45px;padding: 0">
        
                    
                    <ion-label style="margin:0px">{{'city'| translate}}</ion-label>
                  <ion-select   placeholder="{{'city'|  translate}}" [(ngModel)]="city_id"   okText="{{'done' | translate}}" cancelText="{{'cancel' | translate}}" style="width: 100%;  max-width: 100%;" >
                      <ion-option *ngFor="let item of cities"  style="font-size: 13px;" [value]="item.SID"> <span *ngIf="langDirection=='rtl'">{{item.CityName_Ar}}</span><span *ngIf="langDirection !='rtl'">{{item.CityName}}</span></ion-option>    
                      
                      </ion-select>    
                    
            </ion-item>
          </ion-col>
          <ion-col col-6 *ngIf="jobTypeSelected == 2 || jobTypeSelected == 3">
              <ion-item no-lines style="margin: 0px; box-shadow: 1px 1px 1px 2px lightgrey;padding: 0">
                  <ion-input  (input)='monthsalaryinput()' [dir]="langDirection" type="tel"  [(ngModel)]="monthlySalary" placeholder="{{'MonthSalary'| translate}}" style="color:gray;    padding: 0px 5px;"></ion-input>
            
          </ion-item>
        </ion-col>

        </ion-row>
          <ion-row>
            <ion-col col-12>
              <p>{{'address'|translate}}</p>
              <div #map id="map" > </div> 
              <!-- bottom: 11px;right: 21px;  -->
              <ion-icon name="locate" style="position: absolute; top: 55px;right: 16px;font-size: 40px;color:#016a38;" (click)="locateUser()"></ion-icon>
            </ion-col>
          </ion-row>
          <div style="text-align: center">
            <textarea  placeholder="{{'AddressDescription' | translate}}"  rows="5" style="border:2px solid lightgray;width: 95%;" [(ngModel)]="locationdesc"></textarea>
          </div>
          
            
          
          <!-- <ion-row (click)="inviteFriend()">
              <ion-col col-6> 
                <ion-item no-lines style="margin: 0px; box-shadow: 1px 1px 1px 2px lightgrey;">
                   <ion-label>{{"inviteFriend" | translate}}</ion-label>
                   
                   <img src="assets/imgs/invite_mail.png"  style="width:15px">
              
            </ion-item>
          </ion-col>
          <ion-col col-6>
              
        </ion-col>
            </ion-row> -->
            <ion-row (click)="inviteFriend()">
                <ion-col> 
                  <p style="margin: 10px 5px;font-size: 16px;display: inline-block; ">{{"inviteFriend" | translate}}</p>
                  <img src="assets/imgs/invite_mail.png"  style="width: 19px;margin-top: 10px;">
                  <!-- <ion-item no-lines style="margin: 0px; box-shadow: 1px 1px 1px 2px lightgrey;"><ion-label>{{"inviteFriend" | translate}}</ion-label></ion-item> -->
              </ion-col>
            <!-- <ion-col >
                <img src="assets/imgs/invite_mail.png"  style="width: 19px;margin-top: 10px;">
          </ion-col> -->
              </ion-row>

            <ion-row style="border-top: 1px solid lightgray;margin-top: 15px;">
              <button  ion-button style="width:100%;background-color:white;color:#2a85c5;" (click)="publish()">{{'publish'| translate}}</button>
            </ion-row>
            <br>
  </div>

</ion-content>
