<!-- <ion-header>
  <ion-navbar>
  <ion-row >
    <ion-col col-1>
      <ion-icon name="menu"  menuToggle style="font-size: 30px;color: white;"></ion-icon>
    </ion-col>
    <ion-col>
      <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{"settings" | translate}}</p>
    </ion-col>
  </ion-row>
  </ion-navbar> 
</ion-header> -->
<ion-header>
  <ion-navbar hideBackButton>
  <ion-row >
    <ion-col col-1>
      <img src="assets/icon/back.png" style="width: 20px;" [ngClass]="scaleClass" (click)="dismiss()">
    </ion-col>
    <ion-col>
      <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{"Settings" | translate}}</p>
    </ion-col>
  </ion-row>
  </ion-navbar> 
</ion-header>


<ion-content padding  style="background-color:#ffff">

  <ion-item style="color: #3878ab;" no-lines style="border-bottom:1px solid lightgrey" >
    <ion-icon name='globe' item-start style="color: #3878ab;"></ion-icon>
    {{"Language" | translate}}
    <ion-note item-end (click)="changelang()" style="color: #3878ab;">
    {{language}}
    </ion-note>
  </ion-item> 

<!-- 
  <ion-item  no-lines style="color:#054b82;border-bottom:1px solid lightgrey" >
      <ion-icon name='globe' item-start style="color: #3878ab;"></ion-icon>
    <ion-label style="color: black" > {{"Language" | translate}}</ion-label>
    <ion-select (ionChange)="changelang2()"  style="color:#054b82;" [dir]="langDirection" placeholder='{{"Language" | translate}}' [(ngModel)]="langId"    okText='{{"done" | translate}}' cancelText='{{"cancel" | translate}}'  >
      <ion-option  value="ar" >{{"arabic2" | translate}}</ion-option>
      <ion-option  value="en" >{{"english2" | translate}}</ion-option>
     
    </ion-select>

   

  </ion-item> -->


  <ion-item style="color: #3878ab;" no-lines style="border-bottom:1px solid lightgrey">
      <ion-icon name='notifications' item-start style="color: #3878ab;"></ion-icon> 
    <ion-label>  {{"notification" | translate}}</ion-label>
    <ion-toggle [(ngModel)]="notificationonoff" (ionChange)="notificationChanged()" ></ion-toggle>
  </ion-item>
  <!-- style="padding: 5px 16px;border-bottom: 1px solid #ece4e4;" -->
  
  <!-- [hidden]="hidechangepassforcompany" -->
  <!-- style="color: #3878ab;" -->
  <ion-item (click)="changepassforJSorComp()" no-lines  > 
      
      <ion-icon name='ios-lock' item-start style="color: #3878ab;"></ion-icon> 
      <ion-label >  {{"changepass" | translate}}</ion-label>
      
    </ion-item>

    <ion-row style="margin-top:100px">
      <ion-col style="text-align:center"><a href="https://www.facebook.com/PerHourjob1/" style="text-decoration: none;color:#3878ab">  <ion-icon name="logo-facebook"  style="font-size:30px"></ion-icon> </a></ion-col>
      <ion-col style="text-align:center"><a href="https://twitter.com/PerHour_jobs" style="text-decoration: none;color:#3878ab">  <ion-icon name="logo-twitter"  style="font-size:30px"></ion-icon> </a></ion-col>
      <ion-col style="text-align:center"><a href="https://www.instagram.com/perhour_jobs/" style="text-decoration: none;color:#3878ab">  <ion-icon name="logo-instagram"  style="font-size:30px"></ion-icon> </a></ion-col>
      <ion-col style="text-align:center"><a href="https://www.linkedin.com/in/perhour-jobs-640a43176/" style="text-decoration: none;color:#3878ab">  <ion-icon name="logo-linkedin"  style="font-size:30px"></ion-icon> </a></ion-col>
    </ion-row>
</ion-content>
