<ion-header>
  <ion-navbar>
  <ion-row >
    <ion-col col-1>
      <ion-icon name="menu"  menuToggle style="font-size: 30px;color: white;"></ion-icon>
    </ion-col>
    <ion-col>
      <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{"nearbyjobs" | translate}}</p>
    </ion-col>
  </ion-row>
  </ion-navbar> 
</ion-header>

<ion-content padding  style="background-color:#ffff">

  <div   #map id="map" ></div>
</ion-content>
