// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {

    font-family: "na5il";
    src:url("../assets/new_fonts/na5il.eot");
    src:url("../assets/new_fonts/na5il.eot") format("embedded-opentype"),
      url("../assets/new_fonts/na5il.woff") format("woff"),
      url("../assets/new_fonts/na5il.ttf") format("truetype"),
      url("../assets/new_fonts/na5il.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  
  }
  @font-face {

    font-family: "na5il2";
    src:url("../assets/new_fonts/new_fonts_2/na5il.eot");
    src:url("../assets/new_fonts/new_fonts_2/na5il.eot") format("embedded-opentype"),
      url("../assets/new_fonts/new_fonts_2/na5il.woff") format("woff"),
      url("../assets/new_fonts/new_fonts_2/na5il.ttf") format("truetype"),
      url("../assets/new_fonts/new_fonts_2/na5il.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  
  }

  @font-face {

    font-family: "icomoon";
    src:url("../assets/new_fonts/new_fonts_3/icomoon.eot");
    src:url("../assets/new_fonts/new_fonts_3/icomoon.eot") format("embedded-opentype"),
      url("../assets/new_fonts/new_fonts_3/icomoon.woff") format("woff"),
      url("../assets/new_fonts/new_fonts_3/icomoon.ttf") format("truetype"),
      url("../assets/new_fonts/new_fonts_3/icomoon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  
  }

  .ion-ios-myjobHistory:before ,
  .ion-ios-myjobHistory-circle:before ,
  .ion-ios-myjobHistory-circle-outline:before ,
  .ion-ios-myjobHistory-outline:before ,
  .ion-md-myjobHistory:before ,
  .ion-md-myjobHistory-circle:before ,
  .ion-md-myjobHistory-circle-outline:before ,
  .ion-md-myjobHistory-outline:before  {
    font-family: "icomoon" !important;
    content: "\e905";
    color: white;
  }

  .ion-ios-myjob:before ,
  .ion-ios-myjob-circle:before ,
  .ion-ios-myjob-circle-outline:before ,
  .ion-ios-myjob-outline:before ,
  .ion-md-myjob:before ,
  .ion-md-myjob-circle:before ,
  .ion-md-myjob-circle-outline:before ,
  .ion-md-myjob-outline:before  {
    font-family: "na5il" !important;
    content: '\65';
    color: white;
  }
  ion-popover.hourPopover >div.popover-wrapper>div.popover-content {
    width: 95% !important;
    // left: 15% !important;
}
ion-popover.invitePopover >div.popover-wrapper>div.popover-content {
  width: 95% !important;
  top: 100px !important;
  // top: 270px !important;
  // right:10%;
  // left:10%;
  // top: 190px !important;
  
  // right:15%;
  // left:15%;

  // margin: auto auto;
  // text-align: center;
  max-height: 70% !important; 
}
  .ion-ios-myhome:before ,
  .ion-ios-myhome-circle:before ,
  .ion-ios-myhome-circle-outline:before ,
  .ion-ios-myhome-outline:before ,
  .ion-md-myhome:before ,
  .ion-md-myhome-circle:before ,
  .ion-md-myhome-circle-outline:before ,
  .ion-md-myhome-outline:before  {
    font-family: "na5il" !important;
    content: '\66';
    color: white;
  }

 
  .ion-ios-myaccountants:before ,
  .ion-ios-myaccountants-circle:before ,
  .ion-ios-myaccountants-circle-outline:before ,
  .ion-ios-myaccountants-outline:before ,
  .ion-md-myaccountants:before ,
  .ion-md-myaccountants-circle:before ,
  .ion-md-myaccountants-circle-outline:before ,
  .ion-md-myaccountants-outline:before  {
    font-family: "na5il" !important;
    content: '\67';
    color: white;
    
  }
  .ion-ios-mymap:before ,
  .ion-ios-mymap-circle:before ,
  .ion-ios-mymap-circle-outline:before ,
  .ion-ios-mymap-outline:before ,
  .ion-md-mymap:before ,
  .ion-md-mymap-circle:before ,
  .ion-md-mymap-circle-outline:before ,
  .ion-md-mymap-outline:before  {
    font-family: "na5il" !important;
    content: '\68';
    color: white;
  }
  .ion-ios-compuser:before ,
  .ion-ios-compuser-circle:before ,
  .ion-ios-compuser-circle-outline:before ,
  .ion-ios-compuser-outline:before ,
  .ion-md-compuser:before ,
  .ion-md-compuser-circle:before ,
  .ion-md-compuser-circle-outline:before ,
  .ion-md-compuser-outline:before  {
    font-family: "na5il" !important;
    content: "\61";
    color: white;
  }

  
  .ion-ios-mycurrencey:before ,
  .ion-ios-mycurrencey-circle:before ,
  .ion-ios-mycurrencey-circle-outline:before ,
  .ion-ios-mycurrencey-outline:before ,
  .ion-md-mycurrencey:before ,
  .ion-md-mycurrencey-circle:before ,
  .ion-md-mycurrencey-circle-outline:before ,
  .ion-md-mycurrencey-outline:before  {
    font-family: "na5il2" !important;
    // content: '\61';
    content: '\63';
    color: #e19419;
    
  }
  .ion-ios-myshare:before ,
  .ion-ios-myshare-circle:before ,
  .ion-ios-myshare-circle-outline:before ,
  .ion-ios-myshare-outline:before ,
  .ion-md-myshare:before ,
  .ion-md-myshare-circle:before ,
  .ion-md-myshare-circle-outline:before ,
  .ion-md-myshare-outline:before  {
    font-family: "na5il2" !important;
    // content: '\62';
    content: '\61';
    color: #e19419;
    
  }

  .ion-ios-myclock:before ,
  .ion-ios-myclock-circle:before ,
  .ion-ios-myclock-circle-outline:before ,
  .ion-ios-myclock-outline:before ,
  .ion-md-myclock:before ,
  .ion-md-myclock-circle:before ,
  .ion-md-myclock-circle-outline:before ,
  .ion-md-myclock-outline:before  {
    font-family: "na5il2" !important;
    // content: '\63';
    content: '\62';
    color: #e19419;
    
  }

  .tabs-md .tab-button{
    // background: linear-gradient(to bottom,  #1c74ba 0%,  #73b7ed 80%);;
    background: linear-gradient(to bottom,  #05253e 0%,  #054b82 80%);
    color: white;
  }
  
  .tabs-md .tab-button.icon-only{
    // background: linear-gradient(to bottom,  #1c74ba 0%,  #73b7ed 80%);;
    background: linear-gradient(to bottom,  #05253e 0%,  #054b82 80%);
  }
  

  .tabs-ios .tab-button{
    // background: linear-gradient(to bottom,  #1c74ba 0%,  #73b7ed 80%);;
    background: linear-gradient(to bottom,  #05253e 0%,  #054b82 80%);
    color: white;
  }

  .tabs-ios .tab-button.icon-only{
    // background: linear-gradient(to bottom,  #1c74ba 0%,  #73b7ed 80%);;
    background: linear-gradient(to bottom,  #05253e 0%,  #054b82 80%);
  }
  
  //.swiper-pagination-bullet-active //it will change the color of active slider dot
  // .swiper-pagination-bullet > .swiper-pagination-bullet-active
  // {
  //   background-color: white;  //write your desired color here 
  // }

  .swiper-pagination-bullet //it will change the color of active slider dot
  {
    background-color: white;  //write your desired color here 
  }

  //   .tabs-md .tabbar {
//     background: linear-gradient(to bottom,  #1c74ba 0%,  #73b7ed 80%);;
//     }

.button-md {
  text-transform: initial;
}
.button-ios {
  text-transform: initial;
}

.picker-md .picker-wrapper{
  direction: ltr;
}
.picker-ios .picker-wrapper{
  direction: ltr;
}

.rtl .back-button.show-back-button {
    transform: rotate(180deg) !important;
}
html[dir="rtl"] body > ion-app {
    text-align: right;
}
.rtl{
    text-align: right !important;
    direction: rtl;
}
.ltr{
    text-align: left !important;
    direction: ltr;
}
.rtl input.text-input{
    direction: rtl !important;
}
.rounded-circle {
  border-radius: 50% !important;
}

.fab-md {
  background-color: white;
  box-shadow: none;
}
.fab-ios {
  background-color: white;
  box-shadow: none;
}
.circle-pic{
  border: 1px solid gray;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  margin-top: 30px;
  margin-left: 1px;
}
.tabs-md .tab-button[aria-selected=true] {
  color: white !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#14629e), color-stop(80%, #1c74ba));
}
.tabs-ios .tab-button[aria-selected=true] {
  color: white !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#14629e), color-stop(80%, #1c74ba));
}
.alert-button-group {
  flex-direction: row-reverse !important;
  justify-content: flex-start !important;
}



.alert-md .alert-checkbox-icon {
  left: 10px !important;
  right: 12px;  
  top: 0 !important;
  // border-radius: 50%;
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border-width: 2px;
  border-style: solid;
  border-color: #787878;
}
.alert-ios .alert-checkbox-icon {
  left: 0px !important;
  right: 0px;  
  top: 0 !important;
  // border-radius: 50%;
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border-width: 2px;
  border-style: unset !important;
  border-color: #787878;
}

.alert-md .alert-radio-icon {
  left: 10px !important;
  right: 12px;  
  top: 0 !important;
  border-radius: 50%;
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border-width: 2px;
  border-style: solid;
  border-color: #787878;
}
.alert-ios .alert-radio-icon {
  left: 0px !important;
  right: 0px;  
  top: 0 !important;
  border-radius: 50%;
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border-width: 2px;
  border-style: unset !important;
  border-color: #787878;
}
.alert-button-group {
  flex-direction: row-reverse !important;
  justify-content: flex-start !important;
}
.tabs-md .tab-button[aria-selected=true] {
  color: white !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#0b74c7), color-stop(80%, #0b74c7));
}
.tabs-ios .tab-button[aria-selected=true] {
  color: white !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#0b74c7), color-stop(80%, #0b74c7));
}

.alert-md .alert-title {
  font-size: 15px;
}
$searchbar-ios-background-color:white;
// $searchbar-ios-input-text-color: red;
// $searchbar-md-input-text-color: red;

// $checkbox-md-icon-border-color-on: #00ff00;
// $checkbox-md-icon-border-color-off:red;



// @font-face {
//   font-family: "Cocon_Bold";
//   src:url("../assets/Cocon_NextFonts/Cocon_Next_Arabic-Bold.otf");
// }
// @font-face {
//   font-family: "Cocon_Medium";
//   src:url("../assets/Cocon_NextFonts/Gotham_Rounded_Medium.otf");
// }
// @font-face {
//   font-family: "Cocon_Regular";
//   src:url("../assets/Cocon_NextFonts/Cocon_Next_Arabic-Regular.otf");
// }
// @font-face {
//   font-family: "Cocon_Light";
//   src:url("../assets/Cocon_NextFonts/Cocon_Next_Arabic-Light.otf");
// }

// ion-app{
//   font-family: "Cocon_Bold" !important;

// }