
<!-- [attr.side]="this.platform.dir()==='ltr'?'left':'right'" -->
<ion-menu *ngIf="this.platform.dir() =='ltr' && menu==true" side="left"  [enabled]="userLoged" [content]="mycontent" > 
    <ion-content >
        <div style="text-align:center;margin-bottom: 20px;">
            <img src="{{userImageUrl}}" (click)="openProfileImg()" class="rounded-circle" style="width: 125px; margin: 10px;height: 125px;" onerror="this.onerror=null;this.src='assets/imgs/default-avatar.png';" /><br>
            <h5 style="margin: 0px;color:#3878ab">{{userName}}</h5>
            <!-- <h5 style="margin: 0px;color:#8a8a8a">{{userJob}}</h5> -->
        </div>
        <ion-list id="side_menu"><!-- <img src='assets/icon/user2.png' style="width: 18px;height: 20px;"/> -->
          <button menuClose ion-item (click)="openAppliedJobs()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><img src='assets/icon/job.png' style="width: 20px;height: 20px;"/></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"appliedJobs" | translate}}</span></td></tr></table></button>   
          <!-- <button menuClose ion-item (click)="openActiveJobs()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><img src='assets/icon/job.png' style="width: 20px;height: 20px;"/></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"activeJobs" | translate}}</span></td></tr></table></button>  -->
          
          <!-- <button menuClose ion-item (click)="openProfile()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td>
            
            <ion-icon name="md-person" style="font-size: 26px;color:#1d6ba9"></ion-icon>
          </td><td><span style="padding-right: 10px;padding-left: 10px;">{{"profile2" | translate}}</span></td></tr></table></button> 
            <button menuClose ion-item (click)="openjobsHistory()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td> <img src='assets/icon/job.png' style="width: 20px;height: 20px;"/></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"jobsHistory" | translate }} </span></td></tr></table></button> 
           
            -->
            <!-- <button menuClose ion-item (click)="openjsbalance()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><img src='assets/icon/accounts_blue.png' style="width: 20px;height: 20px;"/></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"accounts" | translate}}</span></td></tr></table></button>  -->
<!-- <img src='assets/icon/job.png' style="width: 20px;height: 20px;"/> -->
            <!-- <button menuClose ion-item (click)="openmonytransfer()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td> 
              
              <ion-icon name="md-cash" style="font-size: 26px;color:#1d6ba9"></ion-icon>
            </td><td><span style="padding-right: 10px;padding-left: 10px;">{{"moneytransfer" | translate }} </span></td></tr></table></button> 
             -->
            <button menuClose ion-item (click)="openordercetificate()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><ion-icon name="ios-book" style="font-size: 28px"></ion-icon></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"ordercertificate" | translate}}</span></td></tr></table></button> 
            <button menuClose ion-item (click)="openAboutApp()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><ion-icon name="globe" style="font-size: 28px"></ion-icon></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"aboutapp" | translate}}</span></td></tr></table></button> 
            <button menuClose ion-item (click)="openTermsAndConditions()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><ion-icon name="clipboard" style="font-size: 28px"></ion-icon></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"consitions" | translate}}</span></td></tr></table></button> 
            <a href="mailto:info@perhour-sa.com" style="text-decoration: none"> <button menuClose ion-item  style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><ion-icon name="ios-mail" style="font-size: 28px"></ion-icon></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"contactus" | translate}}</span></td></tr></table></button> </a>


            <!-- <button menuClose ion-item (click)="changepassforjs()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td> <ion-icon name="ios-lock" style="font-size: 28px"></ion-icon></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"changepass" | translate }} </span></td></tr></table></button>  -->

            <button menuClose ion-item (click)="openSettings()" style='border-top:1px solid lightgray;border-bottom:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td>
              <!-- <img src='assets/icon/settings.png' style="width: 20px;height: 20px;"/> -->
              
              <ion-icon name="ios-settings" style="font-size: 26px;color:#1d6ba9"></ion-icon>
            </td><td><span style="padding-right: 10px;padding-left: 10px;">{{"Settings" | translate }}</span></td></tr></table></button> 
            <!-- <button menuClose ion-item (click)="openSettings()" style='border-top:1px solid lightgray;border-bottom:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><img src='assets/icon/settings.png' style="width: 20px;height: 20px;"/></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"settings" | translate }}{{"share" | translate }}</span></td></tr></table></button>  -->
            <!-- <ion-fab bottom right (click)="Logout()" *ngIf="this.platform.dir()==='ltr'">
                    <button ion-fab><img src='assets/icon/logout.png' style="width: 20px;height: 20px;"/></button>
                </ion-fab>
                
                <ion-fab bottom left (click)="Logout()" *ngIf="this.platform.dir()==='rtl'">
                  <button ion-fab><img src='assets/icon/logout.png' style="width: 20px;height: 20px;"/></button>
              </ion-fab> -->
          
              <button menuClose ion-item (click)="Logout()" style='border-bottom:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><ion-icon name="md-log-out" style="font-size: 28px"></ion-icon></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"logout" | translate}}</span></td></tr></table></button> 
        </ion-list>
                      
                      
    </ion-content> 
</ion-menu>

<!-- [attr.side]="this.platform.dir()==='ltr'?'left':'right'" -->
<ion-menu   *ngIf="this.platform.dir() =='rtl' && menu==true" side="right"  [enabled]="userLoged" [content]="mycontent" > 
    <ion-content >
        <div style="text-align:center;margin-bottom: 20px;">
            <img src="{{userImageUrl}}" (click)="openProfileImg()" class="rounded-circle" style="width: 125px; margin: 10px;height: 125px;" onerror="this.onerror=null;this.src='assets/imgs/default-avatar.png';" /><br>
            <h5 style="margin: 0px;color:#3878ab">{{userName}}</h5>
            <!-- <h5 style="margin: 0px;color:#8a8a8a">{{userJob}}</h5> -->
        </div>
        <ion-list id="side_menu"><!-- <img src='assets/icon/user2.png' style="width: 18px;height: 20px;"/> -->
          <button menuClose ion-item (click)="openAppliedJobs()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><img src='assets/icon/job.png' style="width: 20px;height: 20px;"/></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"appliedJobs" | translate}}</span></td></tr></table></button>   
          <!-- <button menuClose ion-item (click)="openActiveJobs()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><img src='assets/icon/job.png' style="width: 20px;height: 20px;"/></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"activeJobs" | translate}}</span></td></tr></table></button>  -->
          
          
          <!-- <button menuClose ion-item (click)="openProfile()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td>
            
            <ion-icon name="md-person" style="font-size: 26px;color:#1d6ba9"></ion-icon>
          </td><td><span style="padding-right: 10px;padding-left: 10px;">{{"profile2" | translate}}</span></td></tr></table></button> 
            <button menuClose ion-item (click)="openjobsHistory()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td> <img src='assets/icon/job.png' style="width: 20px;height: 20px;"/></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"jobsHistory" | translate }} </span></td></tr></table></button> 
           
            -->
            <!-- <button menuClose ion-item (click)="openjsbalance()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><img src='assets/icon/accounts_blue.png' style="width: 20px;height: 20px;"/></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"accounts" | translate}}</span></td></tr></table></button>  -->

            <!-- <img src='assets/icon/job.png' style="width: 20px;height: 20px;"/> -->
<!-- 
            <button menuClose ion-item (click)="openmonytransfer()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td> 
              
              <ion-icon name="md-cash" style="font-size: 26px;color:#1d6ba9"></ion-icon>
            </td><td><span style="padding-right: 10px;padding-left: 10px;">{{"moneytransfer" | translate }} </span></td></tr></table></button> 
             -->
            <button menuClose ion-item (click)="openordercetificate()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><ion-icon name="ios-book" style="font-size: 28px"></ion-icon></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"ordercertificate" | translate}}</span></td></tr></table></button> 
            <button menuClose ion-item (click)="openAboutApp()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><ion-icon name="globe" style="font-size: 28px"></ion-icon></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"aboutapp" | translate}}</span></td></tr></table></button> 
            <button menuClose ion-item (click)="openTermsAndConditions()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><ion-icon name="clipboard" style="font-size: 28px"></ion-icon></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"consitions" | translate}}</span></td></tr></table></button> 
            <a href="mailto:info@perhour-sa.com" style="text-decoration: none"> <button menuClose ion-item  style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><ion-icon name="ios-mail" style="font-size: 28px"></ion-icon></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"contactus" | translate}}</span></td></tr></table></button> </a>


            <!-- <button menuClose ion-item (click)="changepassforjs()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td> <ion-icon name="ios-lock" style="font-size: 28px"></ion-icon></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"changepass" | translate }} </span></td></tr></table></button>  -->

            <button menuClose ion-item (click)="openSettings()" style='border-top:1px solid lightgray;border-bottom:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td>
              <!-- <img src='assets/icon/settings.png' style="width: 20px;height: 20px;"/> -->
              
              <ion-icon name="ios-settings" style="font-size: 26px;color:#1d6ba9"></ion-icon>
            </td><td><span style="padding-right: 10px;padding-left: 10px;">{{"Settings" | translate }}</span></td></tr></table></button> 
            <!-- <button menuClose ion-item (click)="openSettings()" style='border-top:1px solid lightgray;border-bottom:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><img src='assets/icon/settings.png' style="width: 20px;height: 20px;"/></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"settings" | translate }}{{"share" | translate }}</span></td></tr></table></button>  -->
            <!-- <ion-fab bottom right (click)="Logout()" *ngIf="this.platform.dir()==='ltr'">
                    <button ion-fab><img src='assets/icon/logout.png' style="width: 20px;height: 20px;"/></button>
                </ion-fab>
                
                <ion-fab bottom left (click)="Logout()" *ngIf="this.platform.dir()==='rtl'">
                  <button ion-fab><img src='assets/icon/logout.png' style="width: 20px;height: 20px;"/></button>
              </ion-fab> -->
          
              <button menuClose ion-item (click)="Logout()" style='border-bottom:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><ion-icon name="md-log-out" style="font-size: 28px"></ion-icon></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"logout" | translate}}</span></td></tr></table></button> 
        </ion-list>
                      
                      
    </ion-content> 
</ion-menu>


<!-- [attr.side]="this.platform.dir()==='ltr'?'left':'right'" -->
<ion-menu  *ngIf="this.platform.dir() =='rtl' && menu==false" side="right"   [enabled]="userLoged" [content]="mycontent" > 
  <ion-content >
      <div style="text-align:center;margin-bottom: 20px;">
          <img src="{{userImageUrl}}" (click)="openProfileImg()" class="rounded-circle" style="width: 125px; margin: 10px;height: 125px;" onerror="this.onerror=null;this.src='assets/imgs/default-avatar.png';"/><br>
          <h5 style="margin: 0px;color:#3878ab">{{userName}}</h5>
          <!-- <h5 style="margin: 0px;color:#8a8a8a">{{userJob}}</h5> -->
      </div>
      <ion-list id="side_menu">
         
        <button menuClose ion-item (click)="opencompbalance()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><img src='assets/icon/accounts_blue.png' style="width: 20px;height: 20px;"/></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"balance2" | translate}}</span></td></tr></table></button> 
        
          <!-- <button menuClose ion-item (click)="opencomphome()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><ion-icon name="home" style="font-size: 28px"></ion-icon></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"home" | translate}}</span></td></tr></table></button> 
          <button menuClose ion-item (click)="openpostedJobs()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td> <img src='assets/icon/job.png' style="width: 20px;height: 20px;"/></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"jobsposted" | translate}} </span></td></tr></table></button> 
          <button menuClose ion-item (click)="opencompjobsHistory()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td> <img src='assets/icon/job.png' style="width: 20px;height: 20px;"/></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"compJobHistory" | translate }} </span></td></tr></table></button>  -->
          <button menuClose ion-item (click)="openmonytransferforcomapny()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td> 
            <!-- <img src='assets/icon/job.png' style="width: 20px;height: 20px;"/> -->
            <ion-icon name="md-cash" style="font-size: 26px;color:#1d6ba9"></ion-icon>
          </td><td><span style="padding-right: 10px;padding-left: 10px;">{{"moneytransfer" | translate }} </span></td></tr></table></button> 

         
          <!-- <button menuClose ion-item (click)="opencompProfile()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td>
            
            <ion-icon name="md-person" style="font-size: 26px;color:#1d6ba9"></ion-icon>
          </td><td><span style="padding-right: 10px;padding-left: 10px;">{{"profile" | translate}}</span></td></tr></table></button> 
           -->
          <!-- <img src='assets/icon/user2.png' style="width: 18px;height: 20px;"/> -->
          <button menuClose ion-item (click)="openAboutApp()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><ion-icon name="globe" style="font-size: 28px"></ion-icon></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"aboutapp" | translate}}</span></td></tr></table></button> 
          <button menuClose ion-item (click)="openTermsAndConditions()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><ion-icon name="clipboard" style="font-size: 28px"></ion-icon></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"consitions" | translate}}</span></td></tr></table></button> 
         <a href="mailto:info@perhour-sa.com" style="text-decoration: none"> <button menuClose ion-item  style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><ion-icon name="ios-mail" style="font-size: 28px"></ion-icon></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"contactus" | translate}}</span></td></tr></table></button> </a>
          
         <!-- <button menuClose ion-item (click)="changepass()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td> <ion-icon name="ios-lock" style="font-size: 28px"></ion-icon></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"changepass" | translate }} </span></td></tr></table></button>  -->
        
         <button menuClose ion-item (click)="openSettings()" style='border-top:1px solid lightgray;border-bottom:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td>
            <!-- <img src='assets/icon/settings.png' style="width: 20px;height: 20px;"/> -->
            <ion-icon name="ios-settings" style="font-size: 26px;color:#1d6ba9"></ion-icon>
          </td><td><span style="padding-right: 10px;padding-left: 10px;">{{"Settings" | translate }}</span></td></tr></table></button> 
          
          
          <!-- <ion-fab bottom right (click)="Logout()" *ngIf="this.platform.dir()==='ltr'">
                  <button ion-fab><img src='assets/icon/logout.png' style="width: 20px;height: 20px;"/></button>
              </ion-fab>
              
              <ion-fab bottom left (click)="Logout()" *ngIf="this.platform.dir()==='rtl'">
                <button ion-fab><img src='assets/icon/logout.png' style="width: 20px;height: 20px;"/></button>
            </ion-fab> -->
            <button menuClose ion-item (click)="Logout()" style='border-bottom:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><ion-icon name="md-log-out" style="font-size: 28px"></ion-icon></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"logout" | translate}}</span></td></tr></table></button> 
      </ion-list>
                    
                    
  </ion-content> 
</ion-menu>

<!-- [attr.side]="this.platform.dir()==='ltr'?'left':'right'" -->
<ion-menu *ngIf="this.platform.dir() =='ltr' && menu==false" side="left"   [enabled]="userLoged" [content]="mycontent" > 
    <ion-content >
        <div style="text-align:center;margin-bottom: 20px;">
            <img src="{{userImageUrl}}" (click)="openProfileImg()" class="rounded-circle" style="width: 125px; margin: 10px;height: 125px;" onerror="this.onerror=null;this.src='assets/imgs/default-avatar.png';"/><br>
            <h5 style="margin: 0px;color:#3878ab">{{userName}}</h5>
            <!-- <h5 style="margin: 0px;color:#8a8a8a">{{userJob}}</h5> -->
        </div>
        <ion-list id="side_menu">
           
          <button menuClose ion-item (click)="opencompbalance()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><img src='assets/icon/accounts_blue.png' style="width: 20px;height: 20px;"/></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"balance2" | translate}}</span></td></tr></table></button> 
          
            <!-- <button menuClose ion-item (click)="opencomphome()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><ion-icon name="home" style="font-size: 28px"></ion-icon></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"home" | translate}}</span></td></tr></table></button> 
            <button menuClose ion-item (click)="openpostedJobs()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td> <img src='assets/icon/job.png' style="width: 20px;height: 20px;"/></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"jobsposted" | translate}} </span></td></tr></table></button> 
            <button menuClose ion-item (click)="opencompjobsHistory()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td> <img src='assets/icon/job.png' style="width: 20px;height: 20px;"/></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"compJobHistory" | translate }} </span></td></tr></table></button>  -->
            <button menuClose ion-item (click)="openmonytransferforcomapny()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td> 
              <!-- <img src='assets/icon/job.png' style="width: 20px;height: 20px;"/> -->
              <ion-icon name="md-cash" style="font-size: 26px;color:#1d6ba9"></ion-icon>
            </td><td><span style="padding-right: 10px;padding-left: 10px;">{{"moneytransfer" | translate }} </span></td></tr></table></button> 
  
           
            <!-- <button menuClose ion-item (click)="opencompProfile()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td>
              
              <ion-icon name="md-person" style="font-size: 26px;color:#1d6ba9"></ion-icon>
            </td><td><span style="padding-right: 10px;padding-left: 10px;">{{"profile" | translate}}</span></td></tr></table></button> 
             -->
            <!-- <img src='assets/icon/user2.png' style="width: 18px;height: 20px;"/> -->
            <button menuClose ion-item (click)="openAboutApp()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><ion-icon name="globe" style="font-size: 28px"></ion-icon></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"aboutapp" | translate}}</span></td></tr></table></button> 
            <button menuClose ion-item (click)="openTermsAndConditions()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><ion-icon name="clipboard" style="font-size: 28px"></ion-icon></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"consitions" | translate}}</span></td></tr></table></button> 
           <a href="mailto:info@perhour-sa.com" style="text-decoration: none"> <button menuClose ion-item  style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><ion-icon name="ios-mail" style="font-size: 28px"></ion-icon></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"contactus" | translate}}</span></td></tr></table></button> </a>
            
           <!-- <button menuClose ion-item (click)="changepass()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td> <ion-icon name="ios-lock" style="font-size: 28px"></ion-icon></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"changepass" | translate }} </span></td></tr></table></button>  -->
          
           <button menuClose ion-item (click)="openSettings()" style='border-top:1px solid lightgray;border-bottom:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td>
              <!-- <img src='assets/icon/settings.png' style="width: 20px;height: 20px;"/> -->
              <ion-icon name="ios-settings" style="font-size: 26px;color:#1d6ba9"></ion-icon>
            </td><td><span style="padding-right: 10px;padding-left: 10px;">{{"Settings" | translate }}</span></td></tr></table></button> 
            
            
            <!-- <ion-fab bottom right (click)="Logout()" *ngIf="this.platform.dir()==='ltr'">
                    <button ion-fab><img src='assets/icon/logout.png' style="width: 20px;height: 20px;"/></button>
                </ion-fab>
                
                <ion-fab bottom left (click)="Logout()" *ngIf="this.platform.dir()==='rtl'">
                  <button ion-fab><img src='assets/icon/logout.png' style="width: 20px;height: 20px;"/></button>
              </ion-fab> -->
              <button menuClose ion-item (click)="Logout()" style='border-bottom:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><ion-icon name="md-log-out" style="font-size: 28px"></ion-icon></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"logout" | translate}}</span></td></tr></table></button> 
        </ion-list>
                      
                      
    </ion-content> 
  </ion-menu>
  
  
  

<!-- <ion-menu *ngIf="this.platform.dir() =='ltr'" side="left"  [enabled]="userLoged" [content]="mycontent"> 
        <ion-content >
            <div style="text-align:center;margin-bottom:20px">
                <img src="{{userImageUrl}}" (click)="openProfileImg()" class="rounded-circle" style="width: 125px; margin: 10px;height: 125px;" /><br>
                <h5 style="margin: 0px;color:#3878ab">{{userName}}</h5>
                <p style="margin: 0px;color:#8a8a8a">{{userJob}}</p>
            </div>
            <ion-list id="side_menu">
            <button menuClose ion-item (click)="openProfile()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><img src='assets/icon/user2.png' style="width: 18px;height: 20px;"/></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"profile" | translate}}</span></td></tr></table></button>  
            <button menuClose ion-item (click)="openActiveJobs()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><img src='assets/icon/job.png' style="width: 20px;height: 20px;"/></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"activeJobs" | translate}}</span></td></tr></table></button> 
            <button menuClose ion-item (click)="openjobsHistory()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td> <img src='assets/icon/job.png' style="width: 20px;height: 20px;"/></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"jobsHistory" | translate }} </span></td></tr></table></button> 
            <button menuClose ion-item (click)="openSettings()" style='border-top:1px solid lightgray;border-bottom:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><img src='assets/icon/settings.png' style="width: 20px;height: 20px;"/></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"settings" | translate }}</span></td></tr></table></button> 
            
            <ion-fab bottom right (click)="Logout()">
                <button ion-fab><img src='assets/icon/logout.png' style="width: 20px;height: 20px;"/></button>
            </ion-fab>
                 
            
            </ion-list>
                          
                          
        </ion-content> 
    </ion-menu> -->

    <!-- <ion-menu *ngIf="menu==false" [content]="mycontent"  [attr.side]="this.platform.dir()==='ltr'?'left':'right'">
        <ion-content>
          <div style="width:100%;text-align: left;">
            <ion-row>
              <ion-col col-12 style="text-align:center;">
                <img dir="*ngif(this.platform.isRTL)? rtl : ltr" src="{{photo}}" class="circle-pic"
                onerror="this.onerror=null;this.src='assets/imgs/microsoft.jpg';">
              </ion-col>
              <ion-col col-12 style="text-align:center;">
              <p style="text-align:center;color: black;font-weight: bold; margin-top: 0px;">Microsoft Company</p>
            </ion-col>

            </ion-row>
           
          </div>
          <ion-list  style="margin-top: -7px;">
            <ion-item menuClose  (click)="openhome()" style="margin-bottom: -8px;">
              <ion-row  style="margin-right: 0px;margin-top: 30px;">
                <ion-icon name="md-person" style="font-size:21px;color:#4456b9;"></ion-icon>
                <h2 style="margin-right: 10px;margin-left: 10px; color:gray; font-size:18px;color:#4456b9;">{{"profile"| translate}}</h2>
              </ion-row>
            </ion-item>
            <ion-item menuClose  (click)="openhome()" style="margin-bottom: -8px;">

            <ion-row  style="margin-right: 0px;">
                    <ion-icon name="md-person" style="font-size:21px;color:#4456b9;"></ion-icon>
                    <h2 style="margin-right: 10px;margin-left: 10px; color:gray; font-size:18px;color:#4456b9;">{{"profile"| translate}}</h2>
                  </ion-row>
                </ion-item>
                <ion-item menuClose (click)="openhome()" style="margin-bottom: -8px;">

                <ion-row  style="margin-right: 0px;">
                        <ion-icon name="md-person" style="font-size:21px;color:#4456b9;"></ion-icon>
                        <h2 style="margin-right: 10px;margin-left: 10px; color:gray; font-size:18px;color:#4456b9;">{{"profile"| translate}}</h2>
                      </ion-row>
                    </ion-item>
                    <ion-item menuClose  (click)="openhome()" style="margin-bottom: -8px;">

                    <ion-row  style="margin-right: 0px;">
                            <ion-icon name="md-settings" style="font-size:21px;color:#4456b9;"></ion-icon>
                            <h2 style="margin-right: 10px;margin-left: 10px; color:gray; font-size:18px;color:#4456b9;">{{"setting"| translate}}</h2>
                          </ion-row>
                        </ion-item>
          </ion-list>
        </ion-content>
      </ion-menu> -->


      <!-- <ion-menu *ngIf="menu==false" [content]="mycontent"  [attr.side]="this.platform.dir()==='ltr'?'left':'right'">
        <ion-content>
          <div style="width:100%;text-align: left;">
            <ion-row>
              <ion-col col-12 style="text-align:center;">
                <img dir="*ngif(this.platform.isRTL)? rtl : ltr" src="{{photo}}" class="circle-pic"
                onerror="this.onerror=null;this.src='assets/imgs/microsoft.jpg';">
              </ion-col>
              <ion-col col-12 style="text-align:center;">
              <p style="text-align:center;color: black;font-weight: bold; margin-top: 0px;">Microsoft Company</p>
            </ion-col>

            </ion-row>
           
          </div>
          <ion-list  style="margin-top: -7px;">
            <ion-item menuClose  (click)="openhome()" style="margin-bottom: -8px;">
              <ion-row  style="margin-right: 0px;margin-top: 30px;">
                <ion-icon name="md-person" style="font-size:21px;color:#4456b9;"></ion-icon>
                <h2 style="margin-right: 10px;margin-left: 10px; color:gray; font-size:18px;color:#4456b9;">{{"profile"| translate}}</h2>
              </ion-row>
            </ion-item>
            <ion-item menuClose  (click)="openhome()" style="margin-bottom: -8px;">

            <ion-row  style="margin-right: 0px;">
                    <ion-icon name="md-person" style="font-size:21px;color:#4456b9;"></ion-icon>
                    <h2 style="margin-right: 10px;margin-left: 10px; color:gray; font-size:18px;color:#4456b9;">{{"profile"| translate}}</h2>
                  </ion-row>
                </ion-item>
                <ion-item menuClose (click)="openhome()" style="margin-bottom: -8px;">

                <ion-row  style="margin-right: 0px;">
                        <ion-icon name="md-person" style="font-size:21px;color:#4456b9;"></ion-icon>
                        <h2 style="margin-right: 10px;margin-left: 10px; color:gray; font-size:18px;color:#4456b9;">{{"profile"| translate}}</h2>
                      </ion-row>
                    </ion-item>
                    <ion-item menuClose  (click)="openhome()" style="margin-bottom: -8px;">

                    <ion-row  style="margin-right: 0px;">
                            <ion-icon name="md-settings" style="font-size:21px;color:#4456b9;"></ion-icon>
                            <h2 style="margin-right: 10px;margin-left: 10px; color:gray; font-size:18px;color:#4456b9;">{{"setting"| translate}}</h2>
                          </ion-row>
                        </ion-item>
                        <button menuClose ion-item (click)="openProfile()" style='border-top:1px solid lightgray;color: #3878ab; background-color: transparent;    height: 30px !important;'><table><tr><td><img src='assets/icon/user2.png' style="width: 18px;height: 20px;"/></td><td><span style="padding-right: 10px;padding-left: 10px;">{{"profile" | translate}}</span></td></tr></table></button> 
                        <ion-fab bottom right (click)="Logout()" *ngIf="this.platform.dir()==='ltr'">
                          <button ion-fab><img src='assets/icon/logout.png' style="width: 20px;height: 20px;"/></button>
                      </ion-fab>
                      
                      <ion-fab bottom left (click)="Logout()" *ngIf="this.platform.dir()==='rtl'">
                        <button ion-fab><img src='assets/icon/logout.png' style="width: 20px;height: 20px;"/></button>
                    </ion-fab>

          </ion-list>
        </ion-content>
      </ion-menu> -->
      
<ion-nav #mycontent [root]="rootPage"></ion-nav>


