<ion-header>
    <ion-navbar hideBackButton>
    <ion-row >
      <ion-col col-1>
        <img src="assets/icon/back.png" style="width: 20px;" [ngClass]="scaleClass" (click)="dismiss()">
      </ion-col>
      <ion-col>
        <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{"changepass" | translate}}</p>
      </ion-col>
    </ion-row>
    </ion-navbar> 
  </ion-header>

<ion-content  class="background-image" [dir]="langDirection">
  
<div style="text-align:center" >
    <img src="assets/imgs/logo.png" style="width: 110px;margin-top: 50px;
    margin-bottom: 80px;" >
  </div>
    <!-- border-bottom: 2px solid #eaf0f5; -->
    <!-- style="margin-bottom:5px;box-shadow: 3px 3px 18px rgb(224, 224, 224); border-radius:10px; border:1px solid lightgrey;padding: 0px 30px;margin-top:20px;"  -->
    <!-- <img src="assets/imgs/logo4.png" style="width:50px;height:50px"> -->
    <div style="padding: 10px;padding-bottom:5px;width:90%;margin:auto auto;border-radius: 5px;border:2px solid #f0f0f1;box-shadow: 0 0 15px lightgray;background-color:white">
        <!-- <form [formGroup]="logInForm" > -->
    <form [formGroup]="registerForm" >
       
      <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;">
        <ion-label>
          <!-- <img src="assets/icon/password.png" style="width: 20px;" > -->
          <ion-icon name="ios-lock" style="    margin: 0px 5px;
          font-size: 25px;color:#1d6ba9"></ion-icon>
        </ion-label>
      <ion-input  [dir]="langDirection" type="password" formControlName="oldPass" [(ngModel)]="oldPass" [placeholder]="placeholder.oldPass" style="color:#81afd3"></ion-input>
    </ion-item>
    
    <ion-item text-wrap *ngIf="!registerForm.controls.oldPass.valid&&submitAttempt" no-lines>
      <p style="color:red"> {{errors.oldPassErr}} </p>
    </ion-item>



      <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;">
            <ion-label>
              <!-- <img src="assets/icon/password.png" style="width: 20px;" > -->
              <ion-icon name="ios-lock" style="    margin: 0px 5px;
              font-size: 25px;color:#1d6ba9"></ion-icon>
            </ion-label>
          <ion-input  [dir]="langDirection" type="password" formControlName="password" [(ngModel)]="password" [placeholder]="placeholder.password" style="color:#81afd3"></ion-input>
        </ion-item>
        
        <ion-item text-wrap *ngIf="!registerForm.controls.password.valid&&submitAttempt" no-lines>
          <p style="color:red"> {{errors.passwordErr}} </p>
        </ion-item>
    
    
        <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;">
            <ion-label>
              <!-- <img src="assets/icon/password.png" style="width: 20px;" > -->
              <ion-icon name="ios-lock" style="    margin: 0px 5px;
              font-size: 25px;color:#1d6ba9"></ion-icon>
            </ion-label>
          <ion-input [dir]="langDirection" type="password" formControlName="confirmpassword" [(ngModel)]="confirmpassword" [placeholder]="placeholder.confirmPassword" style="color:#81afd3"></ion-input>
        </ion-item>
        
        <ion-item text-wrap *ngIf="!registerForm.controls.confirmpassword.valid&&submitAttempt" no-lines>
          <p style="color:red"> {{errors.confirmpasswordErr}} </p>
        </ion-item>
    

    <ion-item no-lines style="text-align:center;width:100%;margin-top: 25px;">
        <button ion-button type="submit"   style="font-size:16px;border-radius: 50px 50px;background-color: #054b82;color:white;border:2px solid #054b82;width:55%;padding:15px;text-align:center" (click)="send()">{{"send" | translate}}</button>
      </ion-item>
      <!-- <ion-item no-lines></ion-item> -->
    </form>
    </div>
</ion-content>


