<ion-header>
  <ion-navbar hideBackButton>
  <ion-row >
    <ion-col col-1>
      <img src="assets/icon/back.png" style="width: 20px;" [ngClass]="scaleClass" (click)="dismiss()">
    </ion-col>
    <ion-col>
      <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{"editprofile" | translate}}</p>
    </ion-col>
  </ion-row>
  </ion-navbar> 
</ion-header>



<ion-content padding>

  <!-- <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item> -->
  


  <form [formGroup]="registerForm" >
    
    <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;">
      <ion-label   *ngIf="langDirection == 'rtl'"  floating style="color:#054b82;transform-origin:right top;">
        {{placeholder.name}}
      </ion-label>
      
      <ion-label   *ngIf="langDirection == 'ltr'"  floating style="color:#054b82;">
        {{placeholder.name}}
      </ion-label>

      <ion-input  [dir]="langDirection" type="text" formControlName="name" [(ngModel)]="name"  style="color:#054b82"></ion-input>
    </ion-item>
  
  <ion-item  text-wrap *ngIf="!registerForm.controls.name.valid&&submitAttempt" no-lines>
  <p style="color:red"> {{errors.nameErr}} </p>
  </ion-item>
  

  
  <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;">
    <ion-label *ngIf="langDirection == 'rtl'"  floating style="color:#054b82;transform-origin:right top;">
      {{placeholder.email}}
    </ion-label>

    <ion-label *ngIf="langDirection == 'ltr'"  floating style="color:#054b82">
      {{placeholder.email}}
    </ion-label>

    <ion-input  [dir]="langDirection" type="email" formControlName="email" [(ngModel)]="email"  style="color:#054b82"></ion-input>
  </ion-item>

<ion-item  text-wrap  [hidden]="hideemailerr" no-lines>
<p style="color:red"> {{errors.emailErr}} </p>
</ion-item>


<ion-item no-lines style="border-bottom: 2px solid #eaf0f5;">
  <ion-label *ngIf="langDirection == 'rtl'" floating style="color:#054b82;transform-origin:right top;">
    {{placeholder.IBANtxt}}
  </ion-label>

  <ion-label *ngIf="langDirection == 'ltr'" floating style="color:#054b82">
    {{placeholder.IBANtxt}}
  </ion-label>
  
  <ion-input (input)="onInputTime()" [dir]="langDirection" type="text" formControlName="IBANtxt" [(ngModel)]="IBANtxt"  style="color:#054b82"></ion-input>
</ion-item>

<ion-item  text-wrap *ngIf="!registerForm.controls.IBANtxt.valid&&submitAttempt" no-lines>
<p style="color:red"> {{errors.IBANtxtErr}} </p>
</ion-item>

<!-- <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;">
    <ion-label *ngIf="langDirection == 'rtl'" floating style="color:#054b82;transform-origin:right top;">
      {{placeholder.jobtitletxt}}
    </ion-label>

    <ion-label *ngIf="langDirection == 'ltr'" floating style="color:#054b82">
      {{placeholder.jobtitletxt}}
    </ion-label>

    
    <ion-input [dir]="langDirection" type="text" formControlName="jobtitletxt" [(ngModel)]="jobtitletxt"  style="color:#054b82"></ion-input>
  </ion-item> -->
  
  <!-- <ion-item  text-wrap *ngIf="!registerForm.controls.jobtitletxt.valid&&submitAttempt" no-lines>
  <p style="color:red"> {{errors.jobtitletxt}} </p>
  </ion-item> -->


<!-- <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;">
    <ion-label floating style="color:#054b82">
      {{placeholder.videourl}}
    </ion-label>
    
    <ion-input [dir]="langDirection" type="text" formControlName="videourl" [(ngModel)]="videourl"  style="color:#054b82"></ion-input>
  </ion-item>
  
  <ion-item  text-wrap *ngIf="!registerForm.controls.videourl.valid&&submitAttempt" no-lines>
  <p style="color:red"> {{errors.videourlErr}} </p>
  </ion-item> -->

  <ion-item  no-lines style="border-bottom: 2px solid #eaf0f5;color:#054b82" >
    <ion-label style="color:#054b82" > {{placeholder.jobtitletxt}}</ion-label>
    <ion-select  style="color:#054b82;" [dir]="langDirection" placeholder="{{placeholder.jobtitletxt}}" [(ngModel)]="jobcatid"  formControlName="jobcatid"   okText="{{oktext}}" cancelText="{{canceltext}}"  >
      <ion-option  *ngFor="let item of jobscatsarr" value="{{item.SID}}" >{{item.labeltxt}}</ion-option>
     
    </ion-select>

    <!-- <ion-label style="color:#054b82" > {{placeholder.jobtitletxt}} {{placeholder.jobtitletxt}}</ion-label>
    <ion-select  [(ngModel)]="experience"  placeholder='{{"Job_category" | translate}}' [ngModelOptions]="{standalone: true}"  okText="{{'done' | translate}}" cancelText="{{'cancel' | translate}}" style="color:#054b82" >
        <ion-option *ngFor="let item of natsArr"  style="font-size: 13px;" [value]="item.SID"> <span *ngIf="langDirection=='rtl'">{{item.Nationality}}</span><span *ngIf="langDirection !='rtl'">{{item.Nationality}}</span></ion-option>    
        
        </ion-select>     -->

  </ion-item>

  <ion-item  no-lines style="border-bottom: 2px solid #eaf0f5;color:#054b82" >
    <ion-label style="color:#054b82" >{{"interestedjobs" | translate}}</ion-label>
    <ion-select  style="color:#054b82;" [dir]="langDirection" placeholder="{{'interestedjobs'|  translate}}" [(ngModel)]="categories"  formControlName="categories" multiple="true" (ionChange)="choosedCategories()"  okText="{{oktext}}" cancelText="{{canceltext}}"  >
      <ion-option  *ngFor="let item of optionsArr" value="{{item.SID}}" >{{item.labeltxt}}</ion-option>
     
    </ion-select>
  </ion-item>


  <ion-item  no-lines style="border-bottom: 2px solid #eaf0f5;color:#054b82">
        
                    
    <ion-label style="color:#054b82" >{{'city'| translate}}</ion-label>
  <ion-select  [(ngModel)]="city_id"  placeholder="{{'city'|  translate}}" formControlName="city_id"  okText="{{'done' | translate}}" cancelText="{{'cancel' | translate}}" style="color:#054b82" >
      <ion-option *ngFor="let item of cities"  style="font-size: 13px;" [value]="item.SID"> <span *ngIf="langDirection=='rtl'">{{item.CityName_Ar}}</span><span *ngIf="langDirection !='rtl'">{{item.CityName}}</span></ion-option>    
      
      </ion-select>    
    
</ion-item>

<ion-item no-lines style="border-bottom: 2px solid #eaf0f5;color:#054b82">      
  <ion-label  style="color:#054b82">{{'Gender'|  translate}}</ion-label>
<ion-select   placeholder="{{'Gender'|  translate}}" [(ngModel)]="gender" formControlName="gender"   okText="{{'done' | translate}}" cancelText="{{'cancel' | translate}}" style="color:#054b82" >  
    <ion-option  style="font-size: 13px;" value="1" > {{'male'|  translate}}</ion-option>
    <ion-option  style="font-size: 13px;" value="0" > {{'female'|  translate}}</ion-option>
    </ion-select>    
</ion-item>

<ion-item no-lines style="border-bottom: 2px solid #eaf0f5;color:#054b82">
  <ion-label style="color:#054b82" >{{'dob' | translate}}</ion-label>
  <ion-datetime placeholder="{{'dob'|  translate}}" max="{{date}}" displayFormat="DD-MM-YYYY" [(ngModel)]="dob" formControlName="dob" cancelText="{{'cancel' | translate}}" doneText="{{'done' | translate}}"></ion-datetime>
</ion-item>


<!-- <ion-item  no-lines style="border-bottom: 2px solid #eaf0f5;color:#054b82">
    <ion-label  style="color:#054b82" item-start (click)="daysPopover(ev)">{{'Workingdays' | translate}}</ion-label>
  <p  style="color:#054b82" item-end (click)="daysPopover(ev)"><span *ngIf="!SelectedDayStrings" style="color: grey">{{'Workingdays' | translate}}</span><span *ngIf="SelectedDayStrings">{{SelectedDayStrings}}</span></p>

</ion-item> -->

<!-- <ion-item  no-lines style="border-bottom: 2px solid #eaf0f5;color:#054b82" >
    <ion-label style="color:#054b82" >{{"Workingdays" | translate}}</ion-label>
    <ion-select style="color:#054b82" placeholder="{{'Workingdays'|  translate}}" [(ngModel)]="days"  formControlName="days" multiple="true"   okText="{{oktext}}" cancelText="{{canceltext}}"  >
      <ion-option *ngFor="let item of daysArr" value="{{item.SID}}"  >{{item.labeltxt}}</ion-option>
      
    </ion-select>
  </ion-item>

  <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;color:#054b82">      
      <ion-label  style="color:#054b82">{{'workingtime'|  translate}}</ion-label>
    <ion-select   placeholder="{{'workingtime'|  translate}}" [(ngModel)]="workingtime" formControlName="workingtime"   okText="{{'done' | translate}}" cancelText="{{'cancel' | translate}}" style="color:#054b82" >  
        <ion-option  style="font-size: 13px;" value="1"> {{'am'|  translate}}</ion-option>
        <ion-option  style="font-size: 13px;" value="0"> {{'pm'|  translate}}</ion-option>
        </ion-select>    
    </ion-item> -->
    <!-- Workingdays -->
    <ion-label style="color:#054b82;padding:10px;padding-bottom: 0px;padding-top: 0px" >{{"availability" | translate}} {{"ampm" | translate}}</ion-label>
    <ion-row>
      <!-- <ion-col col-4>
          <ion-label style="color:#054b82" >{{"Workingdays" | translate}}</ion-label>
          <ion-label style="color: #054b82;" >{{"am"|translate}}</ion-label>
          <ion-label style="color: #054b82;" >{{"pm"|translate}}</ion-label>
      </ion-col> -->
      <ion-col >
          <ion-label style="color:#054b82;margin: 0px;margin-bottom: 5px;" >{{"sun" | translate}}</ion-label>
          
            <ion-checkbox   [ngModelOptions]="{standalone: true}" style="display: block;margin-bottom:10px;margin-right: 5px;margin-left: 5px;"
              [(ngModel)]="sunamTime" >
              </ion-checkbox>
             
                <ion-checkbox   [ngModelOptions]="{standalone: true}" style="display: block;margin-right: 5px;margin-left: 5px;"
                  [(ngModel)]="sunpmTime" >
                  </ion-checkbox>
      </ion-col>
      <ion-col >
          <ion-label style="color:#054b82;margin: 0px;margin-bottom: 5px;" >{{"mon" | translate}}</ion-label>
          
            <ion-checkbox   [ngModelOptions]="{standalone: true}" style="display: block;margin-bottom:10px;margin-right: 5px;margin-left: 5px;"
              [(ngModel)]="monamTime" >
              </ion-checkbox>
             
                <ion-checkbox   [ngModelOptions]="{standalone: true}" style="display: block;margin-right: 5px;margin-left: 5px;"
                  [(ngModel)]="monpmTime" >
                  </ion-checkbox>
      </ion-col>
      <ion-col >
          <ion-label style="color:#054b82;margin: 0px;margin-bottom: 5px;" >{{"tue" | translate}}</ion-label>
          
            <ion-checkbox   [ngModelOptions]="{standalone: true}" style="display: block;margin-bottom:10px;margin-right: 5px;margin-left: 5px;"
              [(ngModel)]="tueamTime" >
              </ion-checkbox>
             
                <ion-checkbox   [ngModelOptions]="{standalone: true}" style="display: block;margin-right: 5px;margin-left: 5px;"
                  [(ngModel)]="tuepmTime" >
                  </ion-checkbox>
      </ion-col>
      <ion-col >
          <ion-label style="color:#054b82;margin: 0px;margin-bottom: 5px;" >{{"wed" | translate}}</ion-label>
          
            <ion-checkbox   [ngModelOptions]="{standalone: true}" style="display: block;margin-bottom:10px;margin-right: 5px;margin-left: 5px;"
              [(ngModel)]="wedamTime" >
              </ion-checkbox>
             
                <ion-checkbox   [ngModelOptions]="{standalone: true}" style="display: block;margin-right: 5px;margin-left: 5px;"
                  [(ngModel)]="wedpmTime" >
                  </ion-checkbox>
      </ion-col>
      <!-- <ion-col col-4></ion-col> -->
      <ion-col >
          <ion-label style="color:#054b82;margin: 0px;margin-bottom: 5px;" >{{"thu" | translate}}</ion-label>
          
            <ion-checkbox   [ngModelOptions]="{standalone: true}" style="display: block;margin-bottom:10px;margin-right: 5px;margin-left: 5px;"
              [(ngModel)]="thuamTime" >
              </ion-checkbox>
             
                <ion-checkbox   [ngModelOptions]="{standalone: true}" style="display: block;margin-right: 5px;margin-left: 5px;"
                  [(ngModel)]="thupmTime" >
                  </ion-checkbox>
      </ion-col>
      <ion-col  >
          <ion-label style="color:#054b82;margin: 0px;margin-bottom: 5px;" >{{"fri" | translate}}</ion-label>
          
            <ion-checkbox   [ngModelOptions]="{standalone: true}" style="display: block;margin-bottom:10px;margin-right: 5px;margin-left: 5px;"
              [(ngModel)]="friamTime" >
              </ion-checkbox>
             
                <ion-checkbox   [ngModelOptions]="{standalone: true}" style="display: block;margin-right: 5px;margin-left: 5px;"
                  [(ngModel)]="fripmTime" >
                  </ion-checkbox>
      </ion-col>
      <ion-col >
          <ion-label style="color:#054b82;margin: 0px;margin-bottom: 5px;" >{{"sat" | translate}}</ion-label>
          
            <ion-checkbox   [ngModelOptions]="{standalone: true}" style="display: block;margin-bottom:10px;margin-right: 5px;margin-left: 5px;"
              [(ngModel)]="satamTime" >
              </ion-checkbox>
             
                <ion-checkbox   [ngModelOptions]="{standalone: true}" style="display: block;margin-right: 5px;margin-left: 5px;"
                  [(ngModel)]="satpmTime" >
                  </ion-checkbox>
      </ion-col>

    </ion-row>

    <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;color:#054b82">      
        <ion-label  style="color:#054b82">{{'workingDaysInWeekend'|  translate}}</ion-label>
      <ion-select   placeholder="{{'workingDaysInWeekend'|  translate}}" [(ngModel)]="workingDaysInWeekend" formControlName="workingDaysInWeekend"   okText="{{'done' | translate}}" cancelText="{{'cancel' | translate}}" style="color:#054b82" >  
          <ion-option  style="font-size: 13px;" value="1"> {{'oneday'|  translate}}</ion-option>
          <ion-option  style="font-size: 13px;" value="2"> {{'twodays'|  translate}}</ion-option>
          </ion-select>    
      </ion-item>

      <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;color:#054b82">      
        <ion-label  style="color:#054b82">{{'hoursperweek'|  translate}}</ion-label>
      <ion-select   placeholder="{{'hoursperweek'|  translate}}" [(ngModel)]="hoursperweek" formControlName="hoursperweek"   okText="{{'done' | translate}}" cancelText="{{'cancel' | translate}}" style="color:#054b82" >  
          <ion-option  style="font-size: 13px;" value="1" > 1</ion-option>
          <ion-option  style="font-size: 13px;" value="2" > 2</ion-option>
          <ion-option  style="font-size: 13px;" value="3" > 3</ion-option>
          <ion-option  style="font-size: 13px;" value="4" > 4</ion-option>
          <ion-option  style="font-size: 13px;" value="5" > 5</ion-option>
          <ion-option  style="font-size: 13px;" value="6" > 6</ion-option>
          <ion-option  style="font-size: 13px;" value="7" > 7</ion-option>
          <ion-option  style="font-size: 13px;" value="8" > 8</ion-option>
          <ion-option  style="font-size: 13px;" value="9" > 9</ion-option>
          <ion-option  style="font-size: 13px;" value="10" > 10</ion-option>
          <ion-option  style="font-size: 13px;" value="11" > 11</ion-option>
          <ion-option  style="font-size: 13px;" value="12" > 12</ion-option>
          <ion-option  style="font-size: 13px;" value="13" > 13</ion-option>
          <ion-option  style="font-size: 13px;" value="14" > 14</ion-option>
          <ion-option  style="font-size: 13px;" value="15" > 15</ion-option>
          <ion-option  style="font-size: 13px;" value="16" > 16</ion-option>
          <ion-option  style="font-size: 13px;" value="17" > 17</ion-option>
          <ion-option  style="font-size: 13px;" value="18" > 18</ion-option>
          <ion-option  style="font-size: 13px;" value="19" > 19</ion-option>
          <ion-option  style="font-size: 13px;" value="20" > 20</ion-option>
          <ion-option  style="font-size: 13px;" value="21" > 21</ion-option>
          <ion-option  style="font-size: 13px;" value="22" > 22</ion-option>
          <ion-option  style="font-size: 13px;" value="23" > 23</ion-option>
          <ion-option  style="font-size: 13px;" value="24" > 24</ion-option>

          </ion-select>    
      </ion-item>
<!--
        <ion-item no-lines >      
          <ion-label  style="color:#054b82">{{'hoursperweek'|  translate}}</ion-label>    
        </ion-item>

      <ion-row>
        <ion-col>
            <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;color:#054b82">
                <ion-label style="color:#054b82" >{{'from' | translate}}</ion-label>
                <ion-datetime placeholder="{{'from'|  translate}}" displayFormat="h:m a" [(ngModel)]="from" formControlName="from" cancelText="{{'cancel' | translate}}" doneText="{{'done' | translate}}"></ion-datetime>
              </ion-item>
        </ion-col>
        <ion-col>
            <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;color:#054b82">
                <ion-label style="color:#054b82" >{{'to' | translate}}</ion-label>
                <ion-datetime placeholder="{{'to'|  translate}}"  displayFormat="h:m a" [(ngModel)]="to" formControlName="to" cancelText="{{'cancel' | translate}}" doneText="{{'done' | translate}}"></ion-datetime>
              </ion-item>
        </ion-col>
      </ion-row>
    -->


    <ion-item  no-lines style="border-bottom: 2px solid #eaf0f5;color:#054b82">
        
                    
      <ion-label style="color:#054b82" >{{'nationality'| translate}}</ion-label>
    <ion-select  [(ngModel)]="nat_id"  placeholder="{{'nationality'|  translate}}" formControlName="nat_id"  okText="{{'done' | translate}}" cancelText="{{'cancel' | translate}}" style="color:#054b82" >
        <ion-option *ngFor="let item of natsArr"  style="font-size: 13px;" [value]="item.SID"> <span *ngIf="langDirection=='rtl'">{{item.Nationality_Ar}}</span><span *ngIf="langDirection !='rtl'">{{item.Nationality_En}}</span></ion-option>    
        
        </ion-select>    
      
  </ion-item>


      <ion-item no-lines style="text-align:center;width:100%">
          <!-- 3a8ccd -->
        <button ion-button type="submit"   style="font-size:16px;background-color: #054b82;color:white;border:2px solid #054b82;width:100%;padding:15px;text-align:center;    margin-top: 20px;" (click)="save()">{{"save" | translate}}</button>
      </ion-item>
      <ion-item no-lines></ion-item>
  </form>
  
  
</ion-content>
