<!--
  Generated template for the CompanyjophistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
      <ion-row >
          <ion-title style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{"companyhistory" | translate}}</ion-title>
      </ion-row>
      <ion-buttons right *ngIf="langDirection=='ltr'">
          <button ion-button (click)="ViewCtrl.dismiss()">
              <ion-icon md="ios-arrow-forward" ios="ios-arrow-forward"  style="font-size: 2.5rem;color:white;" ></ion-icon>
          </button>
          </ion-buttons>
          <ion-buttons right *ngIf="langDirection=='rtl'">
            <button ion-button (click)="ViewCtrl.dismiss()">
                <ion-icon md="ios-arrow-back-outline"  ios="ios-arrow-back-outline" style="font-size: 2.5rem;color:white;" ></ion-icon>
            </button>
        </ion-buttons>
      </ion-navbar>  

</ion-header>


<ion-content padding  style="background-color:#ffff">
<div style="border: 1px solid #388acb;border-radius: 15px;    margin-bottom: 10px;">
<ion-row style="margin-left: 5px; margin-right: 5px;">
  <ion-col col-2 style="text-align:left;">
      <img src="assets/imgs/microsoft.jpg" class="circle-pic" style="text-align:left;margin-top: 13px;">

  </ion-col>
  <ion-col col-10>
<p style="font-weight:bold;color: #2b80c3;margin-top: 21px;margin-bottom: 0px;">Graphic Designer</p>
<p style="font-weight:bold; color:orange;margin-top: 3px;">Published 4 days ago </p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col col-2></ion-col>
  <ion-col col-10>
    <p style="margin-top: 0px;font-weight: bold; color: gray;">{{'hired' | translate}} 10</p>
    <p style="margin-top: 0px;font-weight: bold; color: gray;">{{'hourtotal' | translate}} 50 {{'hour' | translate}}</p>
    <p style="margin-top: 0px;font-weight: bold; color: gray;">{{'paidtotal' | translate}} 400 {{'ryal' | translate}}</p>

  </ion-col>
</ion-row>
<ion-row>
  <ion-col col-2></ion-col>
  <ion-col col-4>
    <button ion-button style="    text-transform: none;
    width: 100%;background-color:orange; border-radius: 15px;text-transform: none;"> {{'show' | translate}}</button>
  </ion-col>
  <ion-col col-4>
      <button ion-button style="    text-transform: none;
      width: 100%;background-color:#2783c3; border-radius: 15px;text-transform: none;"> {{'again' | translate}}</button>

  </ion-col>
  <ion-col col-2></ion-col>

</ion-row>
</div>
<div style="border: 1px solid #388acb;border-radius: 15px;">
  <ion-row style="margin-left: 5px; margin-right: 5px;">
    <ion-col col-2 style="text-align:left;">
        <img src="assets/imgs/microsoft.jpg" class="circle-pic" style="text-align:left;margin-top: 13px;">
 
    </ion-col>
    <ion-col col-10>
<p style="font-weight:bold;color: #2b80c3;margin-top: 21px;margin-bottom: 0px;">Graphic Designer</p>
<p style="font-weight:bold; color:orange;margin-top: 3px;">Published 4 days ago </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2></ion-col>
    <ion-col col-10>
      <p style="margin-top: 0px;font-weight: bold; color: gray;">{{'hired' | translate}} 10</p>
      <p style="margin-top: 0px;font-weight: bold; color: gray;">{{'hourtotal' | translate}} 50 {{'hour' | translate}}</p>
      <p style="margin-top: 0px;font-weight: bold; color: gray;">{{'paidtotal' | translate}} 400 {{'ryal' | translate}}</p>

    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2></ion-col>
    <ion-col col-4>
      <button ion-button style="    text-transform: none;
      width: 100%;background-color:orange; border-radius: 15px;text-transform: none;" (click)="show()"> {{'show' | translate}}</button>
    </ion-col>
    <ion-col col-4>
        <button ion-button style="    text-transform: none;
        width: 100%;background-color:#2783c3; border-radius: 15px;text-transform: none;" (click)="hire()"> {{'again' | translate}}</button>

    </ion-col>
    <ion-col col-2></ion-col>

  </ion-row>
</div>
</ion-content>
