<!-- <ion-header>
  <ion-navbar hideBackButton>
  <ion-row style="padding: 5px;">
    <ion-col col-1>
      <img src="assets/icon/back.png" style="width: 20px;" [ngClass]="scaleClass" (click)="dismiss()">
    </ion-col>
    <ion-col>
      <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{"profile" | translate}}</p>
    </ion-col>
    <ion-col col-1>
      <img src="assets/icon/profile_edit.png" item-end style="width: 20px;"> 
    </ion-col>
  </ion-row>

  <div style="text-align:center;margin-bottom:20px">
    <img src="{{ProfileImage}}" (click)="openProfileImg()" class="rounded-circle" style="width: 125px; margin: 10px;height: 125px;" /><br>
    <h5 style="margin: 0px;color:white">{{FirstName}}</h5>
    
  </div>

  <ion-row>
    <ion-col col-1 >
      <img src="assets/icon/profile_mobile.png" style="width: 15px;">
    </ion-col>
    <ion-col col-4 >
      
      <p style="    margin: 0px;margin-top:3px;display: inline-block;color:white;padding: 0px 10px;" >{{mobile}}</p>
    </ion-col>
    <ion-col col-1 >
      <img src="assets/icon/profile_mail.png" style="width: 20px;">
    </ion-col>
    <ion-col col-6>
      
      <p style="    margin: 0px;display: inline-block;color:white;padding: 0px 10px;">{{mail}}</p>
    </ion-col>
  </ion-row>
  </ion-navbar> 
</ion-header>
 -->

<ion-content  style="background-color:#ffff"   overflow-scroll="true">

<div class="bgc">

    <!-- (click)="dismiss()" -->
    <ion-row style="padding: 10px 10px" >
        <ion-col col-1 [hidden]="hideForShowProfile">
            <ion-icon name="menu"  menuToggle style="font-size: 30px;color: white ;   margin-top: -4px;"></ion-icon>
          <!-- <img src="assets/icon/back.png" style="width: 20px;" [ngClass]="scaleClass" (click)="dismiss()"> -->
        </ion-col>
        <ion-col col-1 [hidden]="!hideForShowProfile" (click)="dismiss()">
            <!-- <ion-icon name="menu"  menuToggle style="font-size: 30px;color: white ;   margin-top: -4px;"></ion-icon> -->
          <img src="assets/icon/back.png" style="width: 20px;" [ngClass]="scaleClass" >
        </ion-col>

        <ion-col>
          <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{"profile" | translate}}</p>
        </ion-col>
        <ion-col col-1 (click)="editProfile()" [hidden]="hideForShowProfile">
          <!-- <img src="assets/icon/profile_edit.png" item-end style="width: 20px;">  -->
          <ion-icon name="md-create" style="color:white;font-size: 23px" [ngClass]="scaleClass"></ion-icon>
        </ion-col>
        <ion-col col-1 [hidden]="!hideForShowProfile">
            
          </ion-col>
      </ion-row>
     
      <div style="text-align:center;margin-bottom:20px">
        <img [hidden]="hideForShowProfile" (click)="selectImage()" src="assets/icon/cam_icon.png" style="position: absolute; top: 175px; width: 30px; height: 30px;left:calc(50% - 50px); ">
        <!-- <ion-icon (click)="selectImage()" name="md-camera" style="border-radius: 50% !important; padding: 5px 5px; position: absolute; top: 165px; margin-right: 0px; font-size: 35px; margin-left: 0px; background-color: white; width: 40px; height: 40px; color: #014574; border: 2px solid;"></ion-icon> -->
        <img src="{{userImageUrl}}" onerror="this.onerror=null;this.src='assets/imgs/default-avatar.png';" (click)="openProfileImg()" class="rounded-circle" style="width: 135px; margin: 10px;height: 135px;" /><br>
        <h5 style="margin: 0px;color:white">{{FirstName}}</h5>
        <!-- padding: 7px 10px; -->
        <p style="margin: 0px;margin-top:3px;color:white;font-weight:bold" >{{desc}}</p>
        <p style="margin: 0px;margin-top:3px;color:white;font-weight:bold" >{{mobile}}</p>
        <p style="margin: 0px;color:white;padding: 0px 10px;    padding-bottom: 10px;font-weight:bold">{{mail}}</p>

        <!-- <p style="margin: 0px;color:white">{{job}}</p> -->
      </div>
    
        
      <!-- <ion-row>
        <ion-col col-1 >
          <img src="assets/icon/profile_mobile.png" style="width: 15px;">
        </ion-col>
        <ion-col col-4 >
          
          <p style="    margin: 0px;margin-top:3px;display: inline-block;color:white;padding: 0px 10px;" >{{mobile}}</p>
        </ion-col>
        <ion-col col-1 >
          <img src="assets/icon/profile_mail.png" style="width: 20px;">
        </ion-col>
        <ion-col col-6>
          
          <p style="    margin: 0px;display: inline-block;color:white;padding: 0px 10px;">{{mail}}</p>
        </ion-col>
      </ion-row> -->
    </div>


    <!--<ion-item *ngIf="Workingdays" no-lines style="margin-top: 15px;border-bottom:1px solid lightgray" >
        <h2 style="color:#054b82;">{{"Workingdays" | translate}}</h2>
        <p style="color:grey;">{{Workingdays}}</p>
      </ion-item>
    <ion-item *ngIf="amorpmTxt" no-lines style="margin-top: 15px;border-bottom:1px solid lightgray" >
        <h2 style="color:#054b82;" item-start>{{"workingtime" | translate}}</h2>
        <p style="color:grey;" item-end>{{amorpmTxt}}</p>
      </ion-item>-->


      <!-- [hidden]="hideAll"
      [hidden]="hideAll" -->
      <ion-label  style="color:#054b82;padding:10px;padding-top: 0px;padding-bottom: 0px" >{{"availability" | translate}} {{"ampm" | translate}}</ion-label>
      <ion-row  style="padding:10px;padding-top: 0px;" >
          <!-- <ion-col col-2>
              <ion-label style="color:#054b82" >{{"Workingdays" | translate}}</ion-label>

              <ion-label style="color: #054b82;" >{{"am"|translate}}</ion-label>
              <ion-label style="color: #054b82;" >{{"pm"|translate}}</ion-label>
          </ion-col> -->
          <ion-col [hidden]="sunHide" >
              <ion-label style="color:#054b82;margin: 0px;margin-bottom: 5px;" >{{"sun" | translate}}</ion-label>
              
                <ion-checkbox   disabled="true"  [ngModelOptions]="{standalone: true}" style="display: block;margin-bottom:10px;margin-right: 5px;margin-left: 5px;"
                  [(ngModel)]="sunamTime" >
                  </ion-checkbox>
                 
                    <ion-checkbox   disabled="true" [ngModelOptions]="{standalone: true}" style="display: block;margin-right: 5px;margin-left: 5px;"
                      [(ngModel)]="sunpmTime" >
                      </ion-checkbox>
          </ion-col>
          <ion-col [hidden]="monHide" >
              <ion-label style="color:#054b82;margin: 0px;margin-bottom: 5px;" >{{"mon" | translate}}</ion-label>
              
                <ion-checkbox   disabled="true" [ngModelOptions]="{standalone: true}" style="display: block;margin-bottom:10px;margin-right: 5px;margin-left: 5px;"
                  [(ngModel)]="monamTime" >
                  </ion-checkbox>
                 
                    <ion-checkbox   disabled="true" [ngModelOptions]="{standalone: true}" style="display: block;margin-right: 5px;margin-left: 5px;"
                      [(ngModel)]="monpmTime" >
                      </ion-checkbox>
          </ion-col>
          <ion-col [hidden]="tueHide">
              <ion-label style="color:#054b82;margin: 0px;margin-bottom: 5px;" >{{"tue" | translate}}</ion-label>
              
                <ion-checkbox    disabled="true" [ngModelOptions]="{standalone: true}" style="display: block;margin-bottom:10px;margin-right: 5px;margin-left: 5px;"
                  [(ngModel)]="tueamTime" >
                  </ion-checkbox>
                 
                    <ion-checkbox   disabled="true"  [ngModelOptions]="{standalone: true}" style="display: block;margin-right: 5px;margin-left: 5px;"
                      [(ngModel)]="tuepmTime" >
                      </ion-checkbox>
          </ion-col>
          <ion-col [hidden]="wedHide" >
              <ion-label style="color:#054b82;margin: 0px;margin-bottom: 5px;" >{{"wed" | translate}}</ion-label>
              
                <ion-checkbox    disabled="true" [ngModelOptions]="{standalone: true}" style="display: block;margin-bottom:10px;margin-right: 5px;margin-left: 5px;"
                  [(ngModel)]="wedamTime" >
                  </ion-checkbox>
                 
                    <ion-checkbox   disabled="true"  [ngModelOptions]="{standalone: true}" style="display: block;margin-right: 5px;margin-left: 5px;"
                      [(ngModel)]="wedpmTime" >
                      </ion-checkbox>
          </ion-col>
          <!-- <ion-col col-4></ion-col> -->
          <ion-col [hidden]="thuHide" >
              <ion-label style="color:#054b82;margin: 0px;margin-bottom: 5px;" >{{"thu" | translate}}</ion-label>
              
                <ion-checkbox    disabled="true" [ngModelOptions]="{standalone: true}" style="display: block;margin-bottom:10px;margin-right: 5px;margin-left: 5px;"
                  [(ngModel)]="thuamTime" >
                  </ion-checkbox>
                 
                    <ion-checkbox   disabled="true"  [ngModelOptions]="{standalone: true}" style="display: block;margin-right: 5px;margin-left: 5px;"
                      [(ngModel)]="thupmTime" >
                      </ion-checkbox>
          </ion-col>
          <ion-col [hidden]="friHide" >
              <ion-label style="color:#054b82;margin: 0px;margin-bottom: 5px;" >{{"fri" | translate}}</ion-label>
              
                <ion-checkbox   disabled="true"  [ngModelOptions]="{standalone: true}" style="display: block;margin-bottom:10px;margin-right: 5px;margin-left: 5px;"
                  [(ngModel)]="friamTime" >
                  </ion-checkbox>
                 
                    <ion-checkbox   disabled="true"  [ngModelOptions]="{standalone: true}" style="display: block;margin-right: 5px;margin-left: 5px;"
                      [(ngModel)]="fripmTime" >
                      </ion-checkbox>
          </ion-col>
          <ion-col [hidden]="satHide" >
              <ion-label style="color:#054b82;margin: 0px;margin-bottom: 5px;" >{{"sat" | translate}}</ion-label>
              
                <ion-checkbox   disabled="true"  [ngModelOptions]="{standalone: true}" style="display: block;margin-bottom:10px;margin-right: 5px;margin-left: 5px;"
                  [(ngModel)]="satamTime" >
                  </ion-checkbox>
                 
                    <ion-checkbox    disabled="true" [ngModelOptions]="{standalone: true}" style="display: block;margin-right: 5px;margin-left: 5px;"
                      [(ngModel)]="satpmTime" >
                      </ion-checkbox>
          </ion-col>
    
        </ion-row>


        <!-- *ngIf="hoursperweekTXT" -->
      <ion-item  no-lines style="border-bottom:1px solid lightgray" >
        <h2 style="color:#054b82;" item-start>{{"workingDaysInWeekend" | translate}}</h2>
        <p style="color:grey;" item-end>{{hoursperweekTXT}}</p>
      </ion-item>
      <!-- *ngIf="hoursperweek" -->
      <ion-item  no-lines style="margin-top: 15px;border-bottom:1px solid lightgray" >
        <h2 style="color:#054b82;" item-start>{{"hoursperweek" | translate}}</h2>
        <p style="color:grey;" item-end>{{hoursperweek}}</p>
      </ion-item>

      <!-- *ngIf="dob" -->
      <ion-item  no-lines style="margin-top: 15px;border-bottom:1px solid lightgray" >
        <h2 style="color:#054b82;" item-start>{{"dob" | translate}}</h2>
        <p style="color:grey;" item-end>{{dob}}</p>
      </ion-item>

      <!-- *ngIf="citytxt" -->
      <ion-item  no-lines style="margin-top: 15px;border-bottom:1px solid lightgray" >
        <h2 style="color:#054b82;" item-start>{{"city" | translate}}</h2>
        <p style="color:grey;" item-end>{{citytxt}}</p>
      </ion-item>

      <!-- *ngIf="gendertxt" -->
      <ion-item  no-lines style="margin-top: 15px;border-bottom:1px solid lightgray" >
        <h2 style="color:#054b82;" item-start>{{"Gender" | translate}}</h2>
        <p style="color:grey;" item-end>{{gendertxt}}</p>
      </ion-item>

      <!-- *ngIf="natString" -->
      <ion-item  no-lines style="margin-top: 15px;border-bottom:1px solid lightgray" >
        <h2 style="color:#054b82;" item-start>{{"nationality" | translate}}</h2>
        <p style="color:grey;" item-end>{{natString}}</p>
      </ion-item>

      <!-- *ngIf="IBANtxt" -->
    <ion-item  no-lines style="margin-top: 15px;border-bottom:1px solid lightgray" >
      
      <h2 style="color:#054b82;">{{"IBAN" | translate}}</h2>
      <p style="color:grey;">{{IBANtxt}}</p>
      

    </ion-item>


    <ion-item no-lines style="margin-top: 15px;border-bottom:1px solid lightgray" (click)="study()">
      
        <h2 style="color:#054b82;">{{"education" | translate}}</h2>
        <!-- <p style="color:#054b82;">faculty</p> -->
        <!-- <img src="assets/icon/edit.png" item-end style="width: 20px;" (click)="study()">  -->
        <ion-icon name="ios-arrow-forward" style="color:#054b82;font-size: 26px; font-weight: bold" item-end [ngClass]="scaleClass" ></ion-icon>
      </ion-item>

      <ion-item no-lines style="margin-top: 15px;border-bottom:1px solid lightgray" (click)="experience()">
      
        <h2 style="color:#054b82;">{{"experiences" | translate}}</h2>
        <!-- <p style="color:#054b82;">faculty</p> -->
        <!-- <img src="assets/icon/edit.png" item-end style="width: 20px;" (click)="experience()">  -->
        <ion-icon name="ios-arrow-forward" style="color:#054b82;font-size: 26px; font-weight: bold" item-end [ngClass]="scaleClass" ></ion-icon>
      </ion-item>

      

      <ion-item  no-lines  > 
        <h4 style="color:#054b82;"  item-start>{{"cv2" | translate }}</h4>
        <!-- <p style="color:grey" item-end> {{jscvlink}}</p> -->
        <!-- editcr -->
        <img src="assets/icon/upload.png" item-end style="width: 26px;" (click)="selectcv()" [hidden]="hideForShowProfile">
        <!-- <ion-icon name="attach" style="font-size: 30px;color:#054b82;" item-end></ion-icon> -->
       
        <!-- <p style="color:grey" item-end></p> -->
        <!-- <h2 style="color:grey" item-start>{{compEmail}}</h2> -->
      </ion-item>
      <div style="text-align: center;border-bottom: 1px solid #ece4e4;padding-bottom:8px" (click)="showcv()" >
        <div style="background-color:#054b82;border-radius: 10px;    width: 60%;
        margin: auto auto;">
          <!-- <img src="assets/icon/profile_cv.png" item-end style="width: 18px;margin-top: 5px;"> -->
          <p style="display: inline-block;color: white;text-align: center;    margin: 6px;">{{cvtxt}}</p>
        </div>
      </div>

<!-- 

      <form [formGroup]="logInForm" >
        
      
        
          <ion-item no-lines >
            <ion-input (input)="onInputTime()" [dir]="langDirection" type="text" formControlName="IBANtxt" [(ngModel)]="IBANtxt" [placeholder]="placeholder.IBANtxt" style="color:#054b82"></ion-input>
          </ion-item>
          
          <ion-item *ngIf="!logInForm.controls.IBANtxt.valid&&submitAttempt" no-lines>
            <p style="color:red"> {{errors.IBANtxtErr}} </p>
            </ion-item>
          
            <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;text-align:center;width:100%">
               
              <button ion-button type="submit"   style="font-size:16px;border-radius: 50px 50px;background-color: #054b82;color:white;border:2px solid #054b82;width:68%;padding:15px;text-align:center" (click)="IBAN()">{{"save2" | translate}}</button>
            </ion-item>

        </form> -->
        <!-- <button (click)="runVedio()">run vedio
        </button> -->

        <ion-item  no-lines  > 
            <h4 style="color:#054b82;"  item-start>{{"video" | translate }}</h4>
            <!-- <p style="color:grey" item-end> {{jscvlink}}</p> -->
            
            <img src="assets/icon/upload.png" item-end style="width: 26px;" (click)="chooseVedioSource()" [hidden]="hideForShowProfile">
            <!-- <img src="assets/icon/video.png" item-end style="width: 26px;" (click)="chooseVedioSource()" > -->

            <!-- <ion-icon name="attach" style="font-size: 30px;color:#054b82;" item-end></ion-icon> -->    
            <!-- <p style="color:grey" item-end></p> -->
            <!-- <h2 style="color:grey" item-start>{{compEmail}}</h2> -->
          </ion-item>
          <!-- <img src="assets/icon/profile_cv.png" item-end style="width: 18px;margin-top: 5px;"> -->
          <!-- <div style="text-align: center;border-bottom: 1px solid #ece4e4;padding-bottom:8px" (click)="showvedio()" >
              <div style="background-color:#054b82;border-radius: 10px;    width: 60%;
              margin: auto auto;">
                
                <p style="display: inline-block;color: white;text-align: center;    margin: 6px;">{{vediotxt}}</p>
              </div>
              <p style="text-align:center;color:grey;margin:0px;margin-top:5px">{{"maxsize" | translate}} </p>
            </div> -->
            
            <p style="text-align:center;color:grey;margin:0px;margin-top:5px">{{"maxsize" | translate}} </p>

        <!-- <div style="text-align: center;width: 100%;margin-top: 10px;margin-bottom: 10px"> -->
    
        <!-- <video  height="240" controls >
           
          
            <source [src]="vediolinkfromstorge" type="video/mp4">
      
          </video>
   -->
   <!-- <div data-tap-disable="true" overflow-scroll="true">
   <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer">
    <source [src]="trysource" type="video/mp4" />
   </video>
   </div> -->
   <!-- https://www.youtube.com/embed/MLleDRkSuvk -->
   <!-- v = {{vediolinkfromstorge}} ,x,
   
   v new sanitizer  = {{newvedioLink}} -->
   <!-- width="100%" height="300" -->
   <!-- allowfullscreen -->
   
   <!--iframe cortrect for ios  -->
   <!-- <iframe  style="border-bottom: 1px solid #ece4e4;" width="100%" height="250" [src]="newvedioLink" frameborder="0" allowfullscreen></iframe> -->


   <!-- <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline">
    <source src="vediolinkfromstorge" type="video/mp4" />
</video> -->
<!-- poster="{{pathToPreviewImage}}" -->
<!-- crossorigin -->
<!-- <div data-tap-disable="true">
<video   controls="controls"  preload="auto"  webkit-playsinline="webkit-playsinline">
  <source [src]="newvedioLink" autoplay type="{{videoType}}">
</video>
</div> -->
<!-- loop  autoplay -->
<!-- src="http://api.perhour-sa.com/Content/JSVideo/750c076f-3a95-489d-8ed7-834caeff3dd4.MOV" -->
<!-- [src]="vediolinkfromstorge" -->
<video  controls="controls"  data-tap-diable="true" [src]="vediolinkfromstorge"  style="border-bottom: 1px solid #ece4e4;" width="100%" height="250"></video>
<!-- 2222222 -->
<!-- <video autoplay loop src="https://www.youtube.com/embed/MLleDRkSuvk"></video> -->

        <!-- </div> -->

<!-- <div style="text-align: center;width: 100%;margin-top: 10px;margin-bottom: 10px">
    
        <video  height="240" controls >
           
          
            <source src="https://ukliminimate.club/BZIN?tag_id=754743&sub_id1=&sub_id2=7727055080003345165&cookie_id=7d0d38d0-c3a5-4456-936e-671075c2dc9d&lp=black_normal&tb=redirect&allb=redirect&ob=redirect&href=https%3A%2F%2Fevertherenous.info%2F%3Ftid%3D754743%26noocp%3D1&hop=7" type="video/mp4">
      
          </video>
  
        </div> -->
        

        <!-- <button ion-button full (click)="captureVideo()">Capture Video</button>
        <button ion-button full (click)="play()">play Video</button>
        <button ion-button full (click)="uploadvediofromgallery()">upload Video</button>
        
        <video controls autoplay #myvideo>
            <source [src]="vediosrc" type="video/mp4">
        </video>

        <video controls autoplay #myvideo>
            <source [src]="newvediosrc" type="video/mp4">
        </video> -->

        <ion-item  no-lines  > 
          <h4 style="color:#054b82;"  item-start>{{"WorkerCertificate" | translate }}</h4>
          <!-- <p style="color:grey" item-end> {{jscvlink}}</p> -->
          <!-- editcr -->
          <img src="assets/icon/upload.png" item-end style="width: 26px;" (click)="selectWorkerCertificate()" [hidden]="hideForShowProfile">
          <!-- <ion-icon name="attach" style="font-size: 30px;color:#054b82;" item-end></ion-icon> -->
         
          <!-- <p style="color:grey" item-end></p> -->
          <!-- <h2 style="color:grey" item-start>{{compEmail}}</h2> -->
        </ion-item>
        <div style="text-align: center;border-bottom: 1px solid #ece4e4;padding-bottom:8px" (click)="showWorkerCertificate()" >
          <div style="background-color:#054b82;border-radius: 10px;    width: 60%;
          margin: auto auto;">
            <!-- <img src="assets/icon/profile_cv.png" item-end style="width: 18px;margin-top: 5px;"> -->
            <p style="display: inline-block;color: white;text-align: center;    margin: 6px;">{{certttxt}}</p>
          </div>
        </div>


<ion-row (click)="showRate()">
  <ion-col style="text-align: center;padding:10px">

    <rating [(ngModel)]="rate" 
    readOnly="true" 
    max="5" 
    emptyStarIconName="star-outline" 
    halfStarIconName="star-half" 
    starIconName="star" 
    nullable="false" > </rating>

  </ion-col>
</ion-row>
       

<!-- [hidden]="hideForShowProfile" -->
  <ion-row >
  <ion-col col-2 >
    <img src="assets/icon/profile_job.png" style="width:40px;margin-right: 10px;margin-left:10px">
    
  </ion-col>
  <ion-col>
<p style="margin:5px;color:#054b82;" > {{"noofdonejobs" | translate}} {{noofdone}} {{"donejobs" | translate}}</p>
<!-- <p style="margin:0px;color:#054b82;">{{"noofapearjobs" | translate}} {{noofnotappear}} {{"donejobs" | translate}}</p> -->
  </ion-col>
  <ion-col col-2 >
    
    <img src="assets/icon/profile_trophy.png" style="width:40px">
  </ion-col>
</ion-row>
<!-- <button (click)="opengalleryToLoadVedio()">upload vedio</button> -->
</ion-content>
