<!-- <ion-header>
  <ion-navbar hideBackButton>
  <ion-row >
    <ion-col col-1>
      <img src="assets/icon/back.png" style="width: 20px;" [ngClass]="scaleClass" (click)="dismiss()">
    </ion-col>
    <ion-col>
      <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{"jobHistory" | translate}}</p>
    </ion-col>
  </ion-row>
  </ion-navbar> 
</ion-header> -->
<ion-header>
  <ion-navbar>
  <ion-row >
    <!-- <ion-col col-1>
      <img src="assets/icon/back.png" style="width: 20px;" [ngClass]="scaleClass" (click)="dismiss()">
    </ion-col> -->
    <ion-col col-1>
      <ion-icon name="menu"  menuToggle style="font-size: 30px;color: white;"></ion-icon>
    </ion-col>
    <ion-col>
      <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{"jobHistory" | translate}}</p>
    </ion-col>
  </ion-row>
  </ion-navbar> 
</ion-header>

<ion-content  style="background-color:#ffff">

    <ion-refresher  (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

         <!-- <img src="assets/imgs/job_history.png" item-start style="width: 16px;height: 110px;">  -->

  <ion-item no-lines style="padding: 0px 16px;box-shadow: 3px 3px 18px rgb(224, 224, 224);" *ngFor="let item of jobhistorydata">
    <img src="assets/imgs/default-avatar.png" class="rounded-circle"  onerror="this.onerror=null;this.src='assets/imgs/logo4.png';"  item-start style="width: 50px;height: 50px; border-radius: 50%;"> 
  
    <h2 style="color:#4a84ac;" *ngIf="langDirection == 'rtl'">{{item.JobTitleAr}}</h2>
    <h2 style="color:#4a84ac;" *ngIf="langDirection == 'ltr'">{{item.JobTitleEn}}</h2>
    <p style="color:grey">{{item.JobDescription}}</p>
    <p style="font-weight:bold; color:gray;margin-top: 3px;"> <span style="color:#e19419">{{"JObStatus" | translate}} :</span> {{item.statustxt}}  </p>
    <!-- <rating [(ngModel)]="item.rate" 
        readOnly="true" 
        max="5" 
        emptyStarIconName="star-outline" 
        halfStarIconName="star-half" 
        starIconName="star" 
        nullable="false" > </rating> -->

        
    <!-- <button ion-button [hidden]="item.hideCertBtn" item-end style="margin:10px 0px;font-size:12px;border-radius: 10px;background-color: white;color:#3878ab;border:2px solid #3878ab;padding:15px" >{{"certificate" | translate}}</button> -->
  </ion-item>


    <ion-grid style="height: 100%" [hidden]="hideNoDataTxt">
      <ion-row justify-content-center align-items-center style="height: 100%">
    <ion-col style="text-align:center">
      <p style="color:#054b82;font-weight:bold">{{"nodata" | translate}}</p>
      </ion-col>
      </ion-row>
      </ion-grid>
 
</ion-content>
