
<ion-content >
  
  <ion-row>
    <ion-col col-10>
        <!-- (ionInput)="getFriends($event)" -->
      <!-- <ion-searchbar (ionInput)="searchjs($event)" [placeholder]="invitefriends" style="color:#4a84ac;padding: 8px 0px;" class="searchbar-right-aligned ">
      </ion-searchbar> -->

      <ion-searchbar *ngIf="langDirection == 'rtl'" (ionInput)="searchjs($event)" [placeholder]="invitefriends"  style="color:#4a84ac;padding: 8px 0px;" class="searchbar-right-aligned " > </ion-searchbar>
      <ion-searchbar *ngIf="langDirection == 'ltr'" (ionInput)="searchjs($event)" [placeholder]="invitefriends" style="color:#4a84ac;padding: 8px 0px;"> </ion-searchbar>


    </ion-col>
    <ion-col (click)="searchFriends()">
        <ion-icon name="search" style="color:#4a84ac;    font-size: 29px;
        margin-top: 10px;
    "></ion-icon>
    </ion-col>
  </ion-row>
  <ion-item *ngFor="let item of jsList">
      <ion-label item-left style="font-size:15px">{{item.FirstName}}</ion-label>
      <ion-checkbox item-right (click)="friendChecked(item)" ></ion-checkbox>
    </ion-item>
    <ion-item style="text-align: center;">
        <button ion-button color="popover" (click)="DismissInvite()" 
        style="width: 110px; color: white; padding: 8px; border-radius: 18px; font-size: 16px;"
        >{{"invite" | translate}}</button>
      </ion-item>
</ion-content>