page-invite-popover {
    .searchbar-input{
        border: 1px solid #1c74ba !important;
            width:90% !important;
            margin-left: 10% !important;
            margin-right: 10% !important;
            border-radius: 50px 50px !important;
            line-height: 1rem !important;
    }
    .item-inner {
      border-bottom: none !important;
    }
   .searchbar-input {
      padding: 6px 12px !important;
  }
    .searchbar-search-icon {
       background-image: url("") !important;
// color:#4a84ac;    font-size: 30px;
//         margin-right: 8px;
//         margin-left: 8px;
//         margin-bottom: 10px;
     }
     .searchbar-clear-icon{
      background-image: url("") !important;
    }
        .searchbar-md .searchbar-input{
            color: #4a84ac;
            ::placeholder{
              color: #4a84ac;
            }
          }
          .searchbar-ios .searchbar-input{
            color: #4a84ac;
            ::placeholder{
              color: #4a84ac;
            }
          }
}
