<ion-header>
    <ion-navbar hideBackButton>
    <ion-row >
      <ion-col col-1>
        <img src="assets/icon/back.png" style="width: 20px;" [ngClass]="scaleClass" (click)="dismiss()">
      </ion-col>
      <ion-col>
        <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{"appliedJobs" | translate}}</p>
      </ion-col>
    </ion-row>
    </ion-navbar> 
  </ion-header>


<ion-content padding  style="background-color:#ffff">

    <ion-refresher  (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      

  <ion-grid [hidden]="!hideNoDataTxt" *ngFor="let item of myAppliedJobs" style="border:1px solid lightgrey; border-radius:8px;margin-bottom:15px;">
      <ion-row (click)="openDetails(item)">
          <ion-col col-2>
              <img   src="{{item.CompanyLogo}}" class="rounded-circle"  onerror="this.onerror=null;this.src='assets/imgs/logo4.png';" style="width: 40px;height: 40px" >
          </ion-col>
          <ion-col col-10>
            <p  *ngIf="langDirection == 'rtl'" style="margin: 0px;color:#4a84ac;    font-weight: bold;
            margin-top: 7px;">{{item.JobTitleAr}}</p> 
            <p *ngIf="langDirection == 'ltr'" style="margin: 0px;color:#4a84ac;    font-weight: bold;
            margin-top: 7px;">{{item.JobTitleEn}}</p>  
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-1></ion-col>
            <ion-col col-11>
              <!-- <ion-row>
                <ion-col col-1>
                  <img src="assets/icon/clock.png" style="width:15px">
                </ion-col>
                <ion-col>
                  <p style="margin:0px;    margin-top: -3px;">{{"rtime" | translate}}</p>
                </ion-col>
              </ion-row>
               -->
           

                <!-- <ion-row>
                    <ion-col col-1>
                      <img src="assets/icon/place.png" style="width:12px">
                    </ion-col>
                    <ion-col>
                      <p style="margin:0px;    margin-top: -3px;">{{"rtime" | translate}}</p>
                    </ion-col>
                  </ion-row> -->


                  <ion-row>
                      <ion-col col-1>
                        <img src="assets/icon/info.png" style="    width: 10px;
                        height: 15px;">
                      </ion-col>
                      <ion-col>
                        <p style="margin:0px;    margin-top: 0px;">{{item.JobDescription}}</p>
                      </ion-col>
                    </ion-row>

                    <ion-row [hidden]="sprint1Hidden">
                      <ion-col>
                          <button ion-button  block style="font-size:16px;border-radius: 10px;background-color: #3a8ccd;color:white;border:2px solid #3a8ccd;width: 70%;" > {{"ontime" | translate}}</button>
                      </ion-col>
                      <ion-col>
                          <button ion-button  block style="font-size:16px;border-radius: 10px;background-color: #3a8ccd;color:white;border:2px solid #3a8ccd;width: 70%;" > {{"late" | translate}}</button>
                      </ion-col>
                    </ion-row>

                    <ion-row>
                        <!-- <ion-col>
                            <button ion-button  block style="font-size:16px;border-radius: 10px;background-color: #3a8ccd;color:white;border:2px solid #3a8ccd;width: 70%;" (click)="checkINOut(item)" > {{item.checkInOutBtnTxt}}</button>
                        </ion-col> -->
                        <ion-col col-3></ion-col>
                        <ion-col col-8 style="text-align:center">
                            <button ion-button   block style="font-size:16px;border-radius: 10px;background-color: #e19419;color:white;border:2px solid #e19419;width: 70%;" (click)="cancelconfirm(item)"> {{"unapply" | translate}}</button>
                        </ion-col>
                        <ion-col col-1></ion-col>
                      </ion-row>
            </ion-col>
          </ion-row>
  </ion-grid>
  

  <ion-grid style="height: 100%" [hidden]="hideNoDataTxt">
      <ion-row justify-content-center align-items-center style="height: 100%">
    <ion-col style="text-align:center">
      <p style="color:#388acb;font-weight:bold">{{"noAppliedjobs" | translate}}</p>
      </ion-col>
      </ion-row>
      </ion-grid>

</ion-content>

