<ion-header>
    <ion-navbar hideBackButton>
      <ion-row>
        <ion-col col-1>
          <img src="assets/icon/back.png" style="width: 20px;" [ngClass]="scaleClass" (click)="dismiss()">
        </ion-col>
        <ion-col>
          <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center;    margin-top: -3px;">{{"moneytransfer" | translate }}</p>
        </ion-col>
      </ion-row>
    </ion-navbar>
  </ion-header>



<ion-content style="background-color:#ffff">

    <ion-refresher  (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

    <ion-item *ngFor="let item of historyData"  no-lines style="padding: 0px 16px;box-shadow: 3px 3px 18px rgb(224, 224, 224);">
        <!-- <img src="assets/imgs/job_history.png" item-start style="width: 16px;height: 110px;">  -->
        <img [src]="compLogo" class="rounded-circle"  onerror="this.onerror=null;this.src='assets/imgs/default-avatar.png';"  item-start style="width: 50px;height: 50px; border-radius: 50%;"> 
      
        <h2 style="color:#4a84ac;">{{compName}}</h2>
        <p style="color:#4a84ac">{{item.PaymentDate2}}</p>
        <h2 style="color:#4a84ac;" item-end >{{item.Amount}} {{"sar" | translate}}</h2>
        <!-- <button ion-button  item-end style="margin:10px 0px;font-size:12px;border-radius: 10px;background-color: white;color:#3878ab;border:2px solid #3878ab;padding:15px" >{{"certificate" | translate}}</button> -->
      </ion-item>

      <ion-grid style="height: 100%" [hidden]="hideNoDataTxt">
          <ion-row justify-content-center align-items-center style="height: 100%">
        <ion-col style="text-align:center">
          <p style="color:#054b82;font-weight:bold">{{"nodata" | translate}}</p>
          </ion-col>
          </ion-row>
          </ion-grid>
          
</ion-content>
