page-after-splash {
    .background-image {
        background: white url('../assets/imgs/splashscreenblur.jpg') top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .btns{
        font-size:25px;
        border-radius: 10px;
        background-color: #d3861a;
        padding:30px;
    }
    .button-md:hover:not(.disable-hover){
        background-color: #d3861a;
    }
    .button-md .activated{
        background-color: #d3861a;
    }


.select-md .select-icon .select-icon-inner {
    left: 5px;
    top: 50%;
    margin-top: -3px;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: #999;
    pointer-events: none;

top:67%;
    right: 5px;
    width: 11px;
    color: white;
}
.select-ios .select-icon .select-icon-inner {
    
    left: 5px;
    top: 50%;
    margin-top: -3px;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: #999;
    pointer-events: none;


    top:67%;
    right: 5px;
    width: 11px;
    color: white;
}
}