<ion-content padding  class="background-image" >
  
  <!-- <ion-icon name="globe" (click)="changelang()" style="color: white;font-size: 45px;"></ion-icon>
  <p style="color: white;margin: 0px;
  font-size: 20px;">{{langTxt}}</p> -->

  <!-- <ion-icon name="globe" (click)="selectLang()" style="color: white;font-size: 45px;"></ion-icon>
  <p (click)="selectLang()" style="color: white;margin: 0px;
  font-size: 20px;">{{langTxt2}}</p> -->

  <ion-item  no-lines style="color:#054b82;background-color: transparent" >
    <ion-icon name='globe' item-start style="color: white;font-size: 25px;"></ion-icon>
  <ion-label style="color: white;font-size:20px" > {{"Language" | translate}}</ion-label>
  <ion-select (ionChange)="changelang22()"  style="color:white;" [dir]="lang_direction" placeholder='{{"Language" | translate}}' [(ngModel)]="langId2"    okText='{{"done" | translate}}' cancelText='{{"cancel" | translate}}'  >
    <ion-option  value="ar" >{{"arabic2" | translate}}</ion-option>
    <ion-option  value="en" >{{"english2" | translate}}</ion-option>
   
  </ion-select>

</ion-item>

  <ion-row justify-content-center align-items-center style="height: 90%;width:60%;margin: auto auto;">
    <ion-col >
      <button ion-button  block class="btns" (click)="jobSeeker()">{{"JobSeeker"|translate}}</button>
      <br>
      <button ion-button  block class="btns" (click)="company()">{{"Company" | translate}}</button>
    </ion-col>
  </ion-row>

  
</ion-content>
