<ion-header>
    <ion-navbar hideBackButton>
      <ion-row>
        <ion-col col-1>
          <img src="assets/icon/back.png" style="width: 20px;" [ngClass]="scaleClass" (click)="dismiss()">
        </ion-col>
        <ion-col>
          <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center;    margin-top: -3px;">{{pageTitle}}</p>
        </ion-col>
      </ion-row>
    </ion-navbar>
  </ion-header>


<ion-content padding>

  <form [formGroup]="registerForm" >
    
    <ion-item  no-lines style="border-bottom: 2px solid #eaf0f5;">
      <ion-label  *ngIf="langDirection == 'rtl'"  floating style="color:#054b82;transform-origin:right top;" [ngClass]="floating" >
        {{placeholder.school_compName}}
      </ion-label>

      <ion-label *ngIf="langDirection == 'ltr'" floating style="color:#054b82;transform-origin:left top;" [ngClass]="floating">
        {{placeholder.school_compName}}
      </ion-label>

      <ion-input  [dir]="langDirection" type="text"  formControlName="school_compName" [(ngModel)]="school_compName"  style="color:#054b82"></ion-input>
    </ion-item>
  
  <ion-item  text-wrap *ngIf="!registerForm.controls.school_compName.valid&&submitAttempt" no-lines>
  <p style="color:red"> {{errors.school_compName}} </p>
  </ion-item>
  


  <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;">
    <ion-label  *ngIf="langDirection == 'rtl'" floating style="color:#054b82;transform-origin:right top;">
      {{placeholder.degree_job}}
    </ion-label>

    <ion-label *ngIf="langDirection == 'ltr'" floating style="color:#054b82">
      {{placeholder.degree_job}}
    </ion-label>

    
    <ion-input  [dir]="langDirection" type="text" formControlName="degree_job" [(ngModel)]="degree_job"  style="color:#054b82"></ion-input>
  </ion-item>

<ion-item  text-wrap *ngIf="!registerForm.controls.degree_job.valid&&submitAttempt" no-lines>
<p style="color:red"> {{errors.degree_job}} </p>
</ion-item>


<ion-item no-lines style="border-bottom: 2px solid #eaf0f5;">
  <ion-label floating *ngIf="langDirection == 'rtl'" style="color:#054b82;transform-origin:right top;">
    {{placeholder.address_feild}}
  </ion-label>
  
  <ion-label floating *ngIf="langDirection == 'ltr'" style="color:#054b82">
    {{placeholder.address_feild}}
  </ion-label>

  <ion-input  [dir]="langDirection" type="text" formControlName="address_feild" [(ngModel)]="address_feild"  style="color:#054b82"></ion-input>
</ion-item>

<ion-item  text-wrap *ngIf="!registerForm.controls.address_feild.valid&&submitAttempt" no-lines>
<p style="color:red"> {{errors.address_feild}} </p>
</ion-item>



<ion-item no-lines style="border-bottom: 2px solid #eaf0f5;" [hidden]="hideforexperience">
  <ion-label *ngIf="langDirection == 'rtl'" floating style="color:#054b82;transform-origin:right top;">
    {{placeholder.grade}}
  </ion-label>
  
  <ion-label floating  *ngIf="langDirection == 'ltr'" style="color:#054b82">
    {{placeholder.grade}}
  </ion-label>

  <ion-input  [dir]="langDirection" type="text" formControlName="grade" [(ngModel)]="grade"  style="color:#054b82"></ion-input>
</ion-item>


<ion-row>
  <ion-col col-5>
    <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;">
      <ion-label *ngIf="langDirection == 'rtl'"  floating style="color:#054b82;transform-origin:right top;">
        {{placeholder.startDateTxt}}
      </ion-label>

      <ion-label floating *ngIf="langDirection == 'ltr'" style="color:#054b82">
        {{placeholder.startDateTxt}}
      </ion-label>

      <ion-datetime [dir]="langDirection"  formControlName="startdate" [max]="date"  displayFormat="DD-MM-YYYY"  [(ngModel)]="startdate" cancelText="{{'cancel' | translate}}" doneText="{{'done' | translate}}"  style="color:#054b82">
      </ion-datetime>
    </ion-item>
    <ion-item  text-wrap *ngIf="!registerForm.controls.startdate.valid&&submitAttempt" no-lines>
      <p style="color:red"> {{errors.startdate}} </p>
      </ion-item>

  </ion-col>
  <ion-col col-2></ion-col>
  <ion-col col-5>
    <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;" >
      <ion-label floating *ngIf="langDirection == 'rtl'"  style="color:#054b82;transform-origin:right top;">
        {{placeholder.endDateTxt}}
      </ion-label>
      
      <ion-label floating *ngIf="langDirection == 'ltr'" style="color:#054b82">
        {{placeholder.endDateTxt}}
      </ion-label>

      <ion-datetime [dir]="langDirection"  [disabled]="tillNow" [ngModelOptions]="{standalone: true}"  [max]="date"  displayFormat="DD/MM/YYYY"  [(ngModel)]="enddate" cancelText="{{'cancel' | translate}}" doneText="{{'done' | translate}}" style="color:#054b82" >
      </ion-datetime>
    </ion-item>
    <ion-item  text-wrap [hidden]="hideEndDateError" no-lines>
      <p style="color:red"> {{errors.enddate}} </p>
      </ion-item>
    
  </ion-col>
</ion-row>



  
<!-- 
  <ion-datetime [dir]="langDirection" [ngModelOptions]="{standalone: true}"    displayFormat="DD-MM-YYYY" [(ngModel)]="enddate" cancelText="{{'cancel' | translate}}" doneText="{{'done' | translate}}"  placeholder="{{ 'startdate' | translate }}">
  </ion-datetime> -->

<ion-item no-lines  >
  <ion-label  text-wrap style="color: #054b82;"  >{{tillNow_school_jobTxt}}
  </ion-label>

  <!-- *ngIf="langDirection == 'ltr'" -->
  <!-- <ion-label  text-wrap style="color: #054b82" *ngIf="langDirection == 'rtl'">{{tillNow_school_jobTxt}}
  </ion-label> -->


  <ion-checkbox (click)="tillnowchanged()" [ngModelOptions]="{standalone: true}" style="margin:9px 9px 9px 9px"
    [(ngModel)]="tillNow" >
    </ion-checkbox>
<!-- 
    <ion-checkbox (click)="tillnowchanged()" [ngModelOptions]="{standalone: true}" *ngIf="langDirection == 'rtl'" style="margin:9px 9px 9px 9px"
    [(ngModel)]="tillNow" >
    </ion-checkbox> -->


</ion-item>



<ion-item no-lines style="border-bottom: 2px solid #eaf0f5;" *ngIf='from == "addexp" || from == "editexp" '>
  <ion-label floating  *ngIf="langDirection == 'rtl'" style="color:#054b82;transform-origin:right top;">
    {{placeholder.description_jobDescription}}
  </ion-label>
  
  <ion-label floating *ngIf="langDirection == 'ltr'" style="color:#054b82">
    {{placeholder.description_jobDescription}}
  </ion-label>

  <ion-input  [dir]="langDirection" type="text" formControlName="description_jobDescription" [(ngModel)]="description_jobDescription"  style="color:#054b82"></ion-input>
</ion-item>

<p style="color:#054b82"   *ngIf='from == "editedu" || from == "addedu" '>  {{placeholder.description_jobDescription}}</p>
    <div class="form-group"  *ngIf='from == "editedu" || from == "addedu" '>
      <textarea class="form-control"   formControlName="description_jobDescription" placeholder="{{'edudescplaceholder'| translate}}" [(ngModel)]="description_jobDescription" rows="5" id="comment" style="border:1px solid #3a8ccd;width: 100%;padding: 10px"></textarea>
    </div>


<ion-item  text-wrap *ngIf="!registerForm.controls.description_jobDescription.valid&&submitAttempt" no-lines>
<p style="color:red"> {{errors.description_jobDescription}} </p>
</ion-item>



<ion-item  no-lines  > 
  <ion-label style="color:#054b82;"  item-start>{{"certificate" | translate }}</ion-label>
  <!-- <p style="color:grey" item-end> {{jscvlink}}</p> -->
  <!-- getCertificates() -->
  <img src="assets/icon/upload.png" item-end style="width: 26px;" (click)="selectWorkerCertificate()" >
  <!-- <ion-icon name="attach" style="font-size: 30px;color:#054b82;" item-end></ion-icon> -->
 
  <!-- <p style="color:grey" item-end></p> -->
  <!-- <h2 style="color:grey" item-start>{{compEmail}}</h2> -->
</ion-item>
<!-- border-bottom: 1px solid #ece4e4; -->
<div style="text-align: center;padding-bottom:8px" (click)="showcv()" [hidden]="hidecrtforexperience">
  <div style="background-color:#054b82;border-radius: 10px;    width: 60%;
  margin: auto auto;">
    <!-- <img src="assets/icon/profile_cv.png" item-end style="width: 18px;margin-top: 5px;"> -->
    <p style="display: inline-block;color: white;text-align: center;    margin: 6px;">{{"viewcert" | translate}}</p>
  </div>
 
</div>
<div style="text-align: center; ">
<p style="display: inline-block;color: grey;text-align: center;    margin: 6px;">{{certtxtname}}</p>

</div>

      <ion-item no-lines style="text-align:center;width:100%">
          <!-- 3a8ccd -->
        <button ion-button type="submit"   style="font-size:16px;background-color: #054b82;color:white;border:2px solid #054b82;width:100%;padding:15px;text-align:center;    margin-top: 20px;" (click)="save()">{{"save" | translate}}</button>
      </ion-item>
      <ion-item no-lines></ion-item>
  </form>

</ion-content>
