page-forget-password {
    .toolbar-background {
        // background: linear-gradient( 60deg, #1c74ba 30%, #77b7ea 60%) !important;
        // background: linear-gradient(to bottom,  #1c74ba 0%,  #73b7ed 80%);;
        background: linear-gradient(to bottom,  #05253e 0%,  #054b82 80%);
        color:white;
        
    }

    .scaleClass{
        transform: scale(-1,1);
    }
    .background-image {
        // background:white  url('../assets/imgs/bg.jpg') top;
        // background-repeat: no-repeat;
        // text-align: center;
        // background-size: cover;
        
        // background: linear-gradient(to bottom,  #1c74ba 0%,  #73b7ed 80%);;
        background: linear-gradient(to bottom,  #05253e 0%,  #054b82 80%);
    }
    .item-md {
        padding-left:0px; 
    }
        .item-ios {
        padding-left: 0px; 
        }
}
