<!-- <ion-header>
    <ion-navbar hideBackButton>
    <ion-row >
      <ion-col col-1>
        <img src="assets/icon/back.png" style="width: 20px;" [ngClass]="scaleClass" (click)="dismiss()">
      </ion-col>
      <ion-col>
        <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{"forget" | translate}}</p>
      </ion-col>
    </ion-row>
    </ion-navbar> 
  </ion-header> -->


<ion-content  class="background-image" [dir]="langDirection">
    <ion-row   style="border-bottom: 2px solid white; padding-bottom: 10px;    padding-top: 16px;
    padding-left: 16px;">
    <ion-col col-1>
      <img src="assets/icon/back.png" style="width: 17px;"   [ngClass]="scaleClass" (click)="dismiss()">
    </ion-col>
    <ion-col>
      <p style="color:white;font-size:20px;margin:-2px;font-weight:bold;text-align:center">{{"forget" | translate}}</p>
    </ion-col>
  </ion-row>
<div style="text-align:center" >
    <img src="assets/imgs/logo.png" style="width: 110px;margin-top: 50px;
    margin-bottom: 80px;" >
  </div>
    <!-- border-bottom: 2px solid #eaf0f5; -->
    <!-- style="margin-bottom:5px;box-shadow: 3px 3px 18px rgb(224, 224, 224); border-radius:10px; border:1px solid lightgrey;padding: 0px 30px;margin-top:20px;"  -->
    <!-- <img src="assets/imgs/logo4.png" style="width:50px;height:50px"> -->
    <div style="padding: 10px;padding-bottom:5px;width:70%;margin:auto auto;border-radius: 5px;border:2px solid #f0f0f1;box-shadow: 0 0 15px lightgray;background-color:white">
        <!-- <form [formGroup]="logInForm" > -->
    <form [formGroup]="registerForm" >
    <!-- <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;">
        <ion-label><img src="assets/icon/mobile.png" style="width: 24px;
          margin-left: -2px;" ></ion-label>
      <ion-input  [dir]="langDirection" type="tel" formControlName="mobile" [(ngModel)]="mobile" [placeholder]="placeholder.mobileNumber" style="color:#81afd3"></ion-input>
    </ion-item> -->

    
    <ion-row>
        <ion-col col-5 >

              <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;">
                  <ion-label>
                    <!-- <img src="assets/icon/mobile.png" style="width: 21px;margin: 0 2px;" height="20" width="25"> -->
                    <ion-icon name="ios-phone-portrait" style="    margin: 0px 5px;
                    font-size: 26px;color:#1d6ba9">
                        
                    </ion-icon>
                  </ion-label>
                  <ion-label  [dir]="langDirection"  style="color:#1d6ba9">966</ion-label>
                    <!-- <ion-input readonly=true [dir]="langDirection" type="tel"  placeholder="966" style="color:#81afd3"></ion-input> -->
              </ion-item>
              
              

        </ion-col>
        <!-- <ion-col col-1></ion-col> -->
        <ion-col style="padding: 10px;">
            <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;">
                <ion-input  [dir]="langDirection" type="tel" formControlName="mobile" [(ngModel)]="mobile" [placeholder]="placeholder.mobileNumber" style="color:#81afd3" (input)="changeTxt()"></ion-input>
            </ion-item>
            
        </ion-col>
      </ion-row>


    <ion-item text-wrap *ngIf="!registerForm.controls.mobile.valid&&submitAttempt" no-lines>
      <p style="color:red"> {{errors.mobileErr}} </p>
    </ion-item>

    <ion-item no-lines style="text-align:center;width:100%;margin-top: 25px;">
        <button ion-button type="submit"   style="font-size:16px;border-radius: 50px 50px;background-color: #054b82;color:white;border:2px solid #054b82;width:55%;padding:15px;text-align:center" (click)="send()">{{"send" | translate}}</button>
      </ion-item>
      <!-- <ion-item no-lines></ion-item> -->
    </form>
    </div>
</ion-content>
