<ion-header>
  <ion-navbar>
  <ion-row >
    <!-- <ion-col col-1>
      <img src="assets/icon/back.png" style="width: 20px;" [ngClass]="scaleClass" (click)="dismiss()">
    </ion-col> -->
    <ion-col col-1>
      <ion-icon name="menu"  menuToggle style="font-size: 30px;color: white;"></ion-icon>
    </ion-col>
    <ion-col>
        <!-- jobList -->
      <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{"home" | translate}}</p>
    </ion-col>
  </ion-row>
  </ion-navbar> 
</ion-header>


<ion-content class="{{this.helper.lang_direction}}" style="background-color:#ffff">

  <!-- <button (click)="openXdetails()">openXdetails </button> -->

    <ion-refresher *ngIf="displayBlock == 1 || displayBlock == 3"  (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      
    <div class="tab-wrap">
  
        <input type="radio" name="tabs" id="tab1" [checked]="check1" (click)="changDispaly(1)">
        <div class="tab-label-content" id="tab1-content" >
          <label class="tab-label" for="tab1">{{"alljobs" | translate}}</label>
          <div class="tab-content">
            
          </div>
        </div>
         
        <input type="radio" name="tabs" id="tab2" [checked]="check2" (click)="changDispaly(2)">
        <div class="tab-label-content" id="tab2-content" >
          <label class="tab-label" for="tab2">{{"nearby" | translate}}</label>
          <div class="tab-content">
            
          </div>
        </div>
        
        <input type="radio" name="tabs" id="tab3" [checked]="check3" (click)="changDispaly(3)">
        <div class="tab-label-content" id="tab3-content" >
          <label class="tab-label" for="tab3" >{{"recommended2" | translate}}</label>
          <div class="tab-content">
            
          </div>
        </div>
      
    </div> 
    <!-- <p *ngIf="displayBlock == 3">r</p> -->
    <!-- || displayBlock == 3 -->
 <span *ngIf="displayBlock == 1 ">
   <ion-row style="    border: 2px solid #4a84ac;
   border-radius: 50px;
   height: 39px;
   margin-top: 18px;
   margin-right: 10px;
   margin-left: 10px;">
    <!-- <ion-row> -->
        <ion-col >
      <!-- <ion-col style="margin-left: -20px;margin-right: -20px;"> -->
          <!-- <ion-searchbar *ngIf="langDirection == 'rtl'" (ionInput)="getItems($event)" [placeholder]="searchjobs"  style="color:#4a84ac" class="searchbar-right-aligned " > </ion-searchbar>
          <ion-searchbar *ngIf="langDirection == 'ltr'" (ionInput)="getItems($event)" [placeholder]="searchjobs" style="color:#4a84ac"> </ion-searchbar>
           -->
          <ion-input  [dir]="langDirection" type="text"  (input)="checkEmptyToLoadAll()" [(ngModel)]="searchWord" [placeholder]="searchjobs" style="color:#4a84ac;       margin-top: -10px;
          font-size: 17px;"></ion-input>
      </ion-col>
      
      <ion-col col-2 style="text-align: center" (click)="searchForJob()">
        <ion-icon name="ios-search" style="font-size: 25px;color:#4a84ac"></ion-icon>
      </ion-col>
    </ion-row>
 </span>
 <span *ngIf="displayBlock == 1">
   <!-- <span *ngFor="let item of values"> -->
<!-- <div *ngIf="item.hide == 1"> -->
  

      <!-- <ion-item  no-lines style="padding: 5px 16px;"> 
        <h2 style="color:#4a84ac;"  item-start *ngIf="langDirection == 'rtl'">{{item[0].CategoryNameAr}}</h2>
        <h2 style="color:#4a84ac;"  item-start *ngIf="langDirection == 'ltr'">{{item[0].CategoryNameEn}}</h2>
        
       
</ion-item> -->
      <!-- <ion-list style="padding:2px 2px" > -->
          <!-- *ngFor="let newitem of item" -->
          <ion-item (click)="openJobDetails(newitem)" *ngFor="let newitem of values" [hidden]="newitem.hide == 0">
            <img src="{{newitem.CompanyLogo}}" class="rounded-circle"  onerror="this.onerror=null;this.src='assets/imgs/logo4.png';"  item-start style="width: 40px;height: 40px; border-radius: 50%;"> 
            <h2 style="color:#4a84ac;" *ngIf="langDirection == 'rtl'" text-wrap>{{newitem.JobTitleAr}}</h2>
            <h2 style="color:#4a84ac;" *ngIf="langDirection == 'ltr'" text-wrap>{{newitem.JobTitleEn}}</h2> 
            <!-- <p style="color:#e19419" >{{newitem.CompanyName}}</p><p>{{newitem.PricePerHour}}</p><p>{{newitem.HourNumber}}</p> -->
            <ion-row>
              <ion-col col-7>
                <p  style="color:#e19419;" >{{newitem.CompanyName}}</p>
              </ion-col>
              <ion-col style="    padding-top: 8px;" col-1>
                  <ion-icon name="mycurrencey" style="font-size:15px"></ion-icon>
                 
              </ion-col>
              <ion-col col-2>
                  <p style="color:#e19419;display: inline-block;"  >{{newitem.PricePerHour}}</p>
              </ion-col>
              <ion-col style="    padding-top: 8px;" col-1  *ngIf="newitem.HourNumber">
                 
                  <ion-icon name="myclock" style="font-size:15px"></ion-icon>
               
              </ion-col>
              <ion-col col-1  *ngIf="newitem.HourNumber">
                  <p style="color:#e19419;display: inline-block;" >{{newitem.HourNumber}}</p>
              </ion-col>
            </ion-row>
            <ion-icon  name="ios-arrow-forward" style="color:#4a84ac;font-size: 20px; font-weight: bold" item-end [ngClass]="scaleClass" ></ion-icon>
          </ion-item>
        <!-- </ion-list> -->

      <!-- </div> -->

<!-- </span> -->
</span>
<span [hidden]="displayBlock != 2" >
  <div #map id="map" style="width: 100%; height: calc(100% - 60px);"></div>
  <ion-icon name="locate" style="position: absolute;     right: 12px;
  bottom: 210px;font-size: 40px;color:#016a38;" (click)="locateUser()"></ion-icon>
</span>
<span *ngIf="displayBlock == 3">
  <!-- <span *ngFor="let item of rvalues"> -->
    <!-- <div *ngIf="item.hide == 1"> -->
      
    
          <!-- <ion-item  no-lines style="padding: 5px 16px;"> 
            <h2 style="color:#4a84ac;"  item-start *ngIf="langDirection == 'rtl'">{{item[0].CategoryNameAr}}</h2>
            <h2 style="color:#4a84ac;"  item-start *ngIf="langDirection == 'ltr'">{{item[0].CategoryNameEn}}</h2>
            
           
    </ion-item> -->
          <!-- <ion-list style="padding:2px 2px" > -->
              <ion-item   (click)="openJobDetails(newitem)" *ngFor="let newitem of rvalues" [hidden]="newitem.hide == 0">
                <img src="{{newitem.CompanyLogo}}" class="rounded-circle"  onerror="this.onerror=null;this.src='assets/imgs/logo4.png';"  item-start style="width: 40px;height: 40px; border-radius: 50%;"> 
                <h2 style="color:#4a84ac;" *ngIf="langDirection == 'rtl'" text-wrap>{{newitem.JobTitleAr}}</h2>
                <h2 style="color:#4a84ac;" *ngIf="langDirection == 'ltr'" text-wrap>{{newitem.JobTitleEn}}</h2> 
                <!-- <p style="color:#e19419" >{{newitem.CompanyName}}</p><p>{{newitem.PricePerHour}}</p><p>{{newitem.HourNumber}}</p> -->
                <ion-row>
                  <ion-col col-7>
                    <p style="color:#e19419" >{{newitem.CompanyName}}</p>
                  </ion-col>
                  <ion-col style="    padding-top: 8px;" col-1>
                      <ion-icon name="mycurrencey" style="font-size:15px"></ion-icon>
                     
                  </ion-col>
                  <ion-col col-2>
                      <p style="color:#e19419;display: inline-block;"  >{{newitem.PricePerHour}}</p>
                  </ion-col>
                  <ion-col style="    padding-top: 8px;" col-1  *ngIf="newitem.HourNumber">
                     
                      <ion-icon name="myclock" style="font-size:15px"></ion-icon>
                   
                  </ion-col>
                  <ion-col col-1  *ngIf="newitem.HourNumber">
                      <p style="color:#e19419;display: inline-block;" >{{newitem.HourNumber}}</p>
                  </ion-col>
                </ion-row>
                <ion-icon name="ios-arrow-forward" style="color:#4a84ac;font-size: 20px; font-weight: bold" item-end [ngClass]="scaleClass" ></ion-icon>
              </ion-item>
            <!-- </ion-list> -->
    
          <!-- </div> -->
<!-- </span> -->
</span>


<p style="color:#054b82;font-weight:bold;text-align: center"  *ngIf="displayBlock == 1 && hideallnodata">{{"nodata" | translate}}</p>
    <p style="color:#054b82;font-weight:bold;text-align: center;margin-top:50px"  *ngIf="displayBlock == 3 && hiderecommendednodata">{{"nodata" | translate}}</p>
    

</ion-content>
