page-job-list {
    .toolbar-background {
        // background: linear-gradient( 60deg, #1c74ba 30%, #77b7ea 60%) !important;
        // background: linear-gradient(to bottom,  #1c74ba 0%,  #73b7ed 80%);;
        background: linear-gradient(to bottom,  #05253e 0%,  #054b82 80%);
        color:white;
        
    }
    .searchbar-input{
      padding: 6px 20px !important;
    }
    .scaleClass{
        transform: scale(-1,1);
    }
.rtl .searchbar-input {
  direction: rtl !important;
}

    .tab-wrap {
        
        width: 100%;
        position: relative;
        display: flex;
        top: 4px;
    //    box-shadow: -1px 1px 3px 0px #bbb;
       box-shadow: 3px 3px 18px rgb(224, 224, 224);	  
      }
  
      input[type="radio"][name="tabs"] {
        position: absolute;
        z-index: -1;	  
      }
      input[type="radio"][name="tabs"]:checked + .tab-label-content .tab-label {
        color: #1c74ba;
        //border-left: #ddd solid 1px;
        //border-right: #ddd solid 1px;
        font-weight: 500;
  
      }
      input[type="radio"][name="tabs"]:checked + .tab-label-content .tab-content {
        display: block;
      }
      input[type="radio"][name="tabs"]:nth-of-type(1):checked ~ .slide {
        left: calc((100% / 2) * 0);
  
      }
      input[type="radio"][name="tabs"]:nth-of-type(2):checked ~ .slide {
        left: calc((100% / 2) * 1);
      }
  
      input[type="radio"][name="tabs"]:nth-of-type(3):checked ~ .slide {
        left: calc((100% / 2) * 1);
      }
      input[type="radio"][name="tabs"]:first-of-type:checked ~ .slide {
        left: 0;
      }
  
      .tab-label {
        cursor: pointer;
        color: #111;
        background-color: #fff;
        box-sizing: border-box;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 56px;
        transition: color 0.2s ease;
        width: 100%;
        
      }
      // ion-searchbar {
      //   // text-align: right;
      // input{
      //   ::placeholder {
         
      //     // text-align: right;
      //     color:red;
      //   }
      // }
        
      // }
  
      // ::placeholder {
         
      //   // text-align: right;
      //   color:red;
      // }
      
      // ion-searchbar {
        
      
      //   ::placeholder {
         
      //     // color: red;
      //   }
      // }
  
      .searchbar-md .searchbar-input{
        color: #4a84ac;
        ::placeholder{
          color: #4a84ac;
        }
      }
      .searchbar-ios .searchbar-input{
        color: #4a84ac;
        ::placeholder{
          color: #4a84ac;
        }
      }
      .slide {
        background: #1c74ba;
        width: calc(100% / 2);
        height: 4px;
        position: absolute;
        left: 0;
        top: calc(100% - 2px);
        transition: left 0.3s ease-out;
      }
  
      .tab-label-content {
        width: 100%;
      }
      .tab-label-content .tab-content {
        position: absolute;
        top: 100px;
        left: 16px;
        line-height: 130%;
        display: none;
      } 

      .searchbar-search-icon {
        background-image: url("") !important;
        }
        .item-inner{
            padding-right: 18px !important;
        }
        .item-md ion-icon[item-start] + .item-inner
        {
            margin-left: 0px !important;
        }
        .item-ios ion-icon[item-start] + .item-inner
        {
            margin-left: 0px !important;
        }
        .item-block{
            padding-left: 22px !important;
        }
        .searchbar-input{
            border: 1px solid #1c74ba !important;
                width:90% !important;
                margin-left: 10% !important;
                margin-right: 10% !important;
                border-radius: 50px 50px !important;
                line-height: 1rem !important;
        }

   
        .morertl{
            text-align: right;
        }
        .searchbar-input{
            
            margin: auto auto;
                width:90%;
                border-radius: 10px ;
                border:none;
                box-shadow: none;
        }
        .searchbar-clear-icon{
          background-image: url("") !important;
        }
        // ion-searchbar.right {
        //   text-align: right;
        //   direction: rtl;
        //   ::placeholder {
           
        //     text-align: right;
        //     direction: rtl;
        //   }
        // }
       
        // ion-searchbar > div {
            
        //     input{
        //         border: 1px solid #1c74ba;
        //         width:80%;
        //         border-radius: 50px 50px;
        //     }
        // }
        // ion-searchbar > div {
            
        // border: 1px solid #1c74ba;
        //     width:80%;
        //     border-radius: 50px 50px;
        // }

        // ion-searchbar  {
            
        //     border: 1px solid #1c74ba;
        //         width:80%;
        //         border-radius: 50px 50px;
        //     }

        //     input{
               
            
        //             border: 1px solid #1c74ba;
        //                 width:80%;
        //                 border-radius: 50px 50px;
                   
        //     }

        .item-md p {
          margin: 0 0 2px;
          overflow: overlay;
          font-size: 1.4rem;
          line-height: normal;
          text-overflow: initial;
        
      }
      .item-ios p {
        margin: 0 0 2px;
        overflow: overlay;
        font-size: 1.4rem;
        line-height: normal;
        text-overflow: initial;
      
    }

      }

