<ion-header>
  <ion-navbar hideBackButton>
  <ion-row >
    <ion-col col-1>
      <img src="assets/icon/back.png" style="width: 20px;" [ngClass]="scaleClass" (click)="dismiss()">
    </ion-col>
    <ion-col>
      <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{candidateName}}</p>
    </ion-col>
  </ion-row>
  </ion-navbar> 
</ion-header>

<ion-content padding  style="background-color:#ffff">

  <div style="border:1px solid lightgrey; border-radius:8px; box-shadow: 3px 3px 18px rgb(224, 224, 224);">
  <ion-item no-lines style="border-radius:8px;" >
    <img class="rounded-circle"  src="{{candidatePhoto}}" class="rounded-circle" onerror="this.onerror=null;this.src='assets/imgs/default-avatar.png';" item-start style="width: 80px;height: 80px"> 
    <h2 style="color:#4a84ac;"  >{{candidateName}}</h2>
    <p style="color:black"  text-wrap>{{candidateDescription}}</p>
    <!-- <ion-row>
      <ion-col col-2>
        <ion-icon name="mail"></ion-icon> 
      </ion-col>
      <ion-col>
        <p style="margin-top: 2px; color:black">
            {{candidateMail}}
        </p>
        
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col col-2>
        <ion-icon name="call"></ion-icon>
      </ion-col>
      <ion-col>
          <p style="margin-top: 2px; color:black">
        {{candidateMobile}}
        </p>
      </ion-col>
    </ion-row>
    
   
  </ion-item>
  
  <ion-row padding>
      <ion-col col-3>
          <button ion-button  block style="font-size:16px;border-radius: 10px;background-color: #3a8ccd;color:white;border:2px solid #3a8ccd;width: 75%;margin: auto auto;" (click)="backFunc()" > {{back}}</button>
      </ion-col>
      <ion-col col-3>
          <button ion-button   block style="font-size:16px;border-radius: 10px;background-color: #3a8ccd;color:white;border:2px solid #3a8ccd;width: 75%;margin: auto auto;" (click)="hireFunc()"> {{hire}}</button>
      </ion-col>
      <ion-col col-6>
          <button ion-button   block style="font-size:16px;border-radius: 10px;background-color: #3a8ccd;;color:white;border:2px solid #3a8ccd;width: 100%;margin: auto auto;" (click)="shortListFunc()"> {{shortList}}</button>
      </ion-col>
  </ion-row>

  </div>

</ion-content>
