page-signup {
    .background-image {
        // background:white  url('../assets/imgs/bg_2.jpg') top;
        background:white  url('../assets/imgs/signup.jpg') bottom;
        background-repeat: no-repeat;
        // text-align: center;
        background-size: cover;
    }
    .scaleClass{
    transform: scale(-1,1);
    }
    .item.item-md .checkbox-md {
        margin: 9px 9px 9px 4px;
    }
    .label-md{
        margin: 0px;
    }

    .item-md {
        padding-left: 0px; 
    }
    .item-ios {
         padding-left: 0px; 
        }

        .col {
            padding: 0px; 
            
        }
        [col-5] {
            padding: 0px; 
        }
}

