<ion-content  [dir]="langDirection"  style="background-color:#ffff">
  
  <ion-row style="padding-bottom:60px;padding-top: 30px;padding-right: 15px;
  padding-left: 15px;" class="background-image" >
    <ion-col col-1>
      <img src="assets/icon/back.png" style="width: 20px;"   [ngClass]="scaleClass" (click)="dismiss()">
    </ion-col>
    <ion-col>
      <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{"Regestration" | translate}}</p>
    </ion-col>
  </ion-row>
  <form [formGroup]="registerForm" style="margin-bottom:5px;box-shadow: 3px 3px 18px rgb(224, 224, 224); border-radius:10px; border:1px solid lightgrey;padding: 0px 30px;margin-top:20px;margin-left: 30px;
  margin-right: 30px;">
    <!-- <div (click)="presentActionSheet()" style="text-align:center">
      <img [src]="var_picture" style="width: 80px;height: 80px;margin-top: 40px;border-radius: 50% !important;">
    </div> -->
    <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;">
      <ion-label>
        <!-- <img src="assets/icon/user.png" style="width: 20px;"> -->
        
        <ion-icon name="md-person" style="    margin: 0px 5px;
              font-size: 23px;color:#1d6ba9">
                  
              </ion-icon>
      </ion-label>
      
      <ion-input  [dir]="langDirection" type="text" formControlName="name" [(ngModel)]="name" [placeholder]="placeholder.name" style="color:#81afd3"></ion-input>
    </ion-item>
  
  <ion-item  text-wrap *ngIf="!registerForm.controls.name.valid&&submitAttempt" no-lines>
  <p style="color:red"> {{errors.nameErr}} </p>
  </ion-item>
  

  <ion-row>
    <ion-col col-4 style="padding-top: 5px;padding-bottom: 5px;">
        <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;">
            <ion-label >
              <!-- <img src="assets/icon/mobile.png" style="width: 24px;
              margin-left: -2px;" > -->
              <ion-icon name="ios-phone-portrait" style="    margin: 0px 5px;
              font-size: 26px;color:#1d6ba9">
                  
              </ion-icon>
            </ion-label>
              <!-- <p item-end>966</p> -->
              <ion-label  [dir]="langDirection"  style="color:#1d6ba9">966</ion-label>
        </ion-item>
        

    </ion-col>
    <ion-col col-1></ion-col>
    <ion-col >
        <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;">
            <!-- <ion-label><img src="assets/icon/mobile.png" style="width: 24px;
              margin-left: -2px;" ></ion-label> -->
          <ion-input  [dir]="langDirection" type="tel" formControlName="mobile" [(ngModel)]="mobile" [placeholder]="placeholder.mobileNumber" style="color:#81afd3" (input)="changeTxt()"></ion-input>
        </ion-item>
        
    </ion-col>
  </ion-row>
  <!-- <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;">
      <ion-label><img src="assets/icon/mobile.png" style="width: 24px;
        margin-left: -2px;" ></ion-label>
    <ion-input  [dir]="langDirection" type="tel" formControlName="mobile" [(ngModel)]="mobile" [placeholder]="placeholder.mobileNumber" style="color:#81afd3"></ion-input>
  </ion-item>
   -->
  <ion-item text-wrap *ngIf="!registerForm.controls.mobile.valid&&submitAttempt" no-lines>
    <p style="color:red"> {{errors.mobileErr}} </p>
  </ion-item>

  <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;">
      <ion-label>
        <!-- <img src="assets/icon/email.png" style="width: 15px;height: 17px;    margin-left: 3px;    margin-right: 3px;" > -->
        
        <ion-icon name="ios-mail" style="    margin: 0px 5px;
              font-size: 23px;color:#1d6ba9">
                  
              </ion-icon>
      </ion-label>
      <ion-input  [dir]="langDirection" type="text" formControlName="email" [(ngModel)]="email" [placeholder]="placeholder.email" style="color:#81afd3"></ion-input>
    </ion-item>
    <!-- *ngIf="!registerForm.controls.email.valid&&submitAttempt" -->
  <!-- <ion-item text-wrap [hidden]="hideemailerr"  no-lines>
  <p style="color:red"> {{errors.emailErr}} </p>
  </ion-item> -->

  <ion-item text-wrap *ngIf="!registerForm.controls.email.valid&&submitAttempt" no-lines>
    <p style="color:red"> {{errors.emailErr}} </p>
  </ion-item>

    <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;">
        <ion-label>
          <!-- <img src="assets/icon/password.png" style="width: 20px;" > -->
          <ion-icon name="ios-lock" style="    margin: 0px 5px;
          font-size: 25px;color:#1d6ba9"></ion-icon>
        </ion-label>
      <ion-input  [dir]="langDirection" type="password" formControlName="password" [(ngModel)]="password" [placeholder]="placeholder.password" style="color:#81afd3"></ion-input>
    </ion-item>
    
    <ion-item text-wrap *ngIf="!registerForm.controls.password.valid&&submitAttempt" no-lines>
      <p style="color:red"> {{errors.passwordErr}} </p>
    </ion-item>


    <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;">
        <ion-label>
          <!-- <img src="assets/icon/password.png" style="width: 20px;" > -->
          <ion-icon name="ios-lock" style="    margin: 0px 5px;
          font-size: 25px;color:#1d6ba9"></ion-icon>
        </ion-label>
      <ion-input [dir]="langDirection" type="password" formControlName="confirmpassword" [(ngModel)]="confirmpassword" [placeholder]="placeholder.confirmPassword" style="color:#81afd3"></ion-input>
    </ion-item>
    
    <ion-item text-wrap *ngIf="!registerForm.controls.confirmpassword.valid&&submitAttempt" no-lines>
      <p style="color:red"> {{errors.confirmpasswordErr}} </p>
    </ion-item>

    <!-- <ion-item no-lines style="border-bottom: 2px solid #eaf0f5;">
        <ion-label><img src="assets/icon/mobile.png" style="width: 21px;" ></ion-label>
      <ion-input  [dir]="langDirection" type="tel" formControlName="mobile" [(ngModel)]="mobile" [placeholder]="placeholder.mobileNumber" style="color:#81afd3"></ion-input>
    </ion-item>
    
    <ion-item text-wrap *ngIf="!registerForm.controls.mobile.valid&&submitAttempt" no-lines>
      <p style="color:red"> {{errors.mobileErr}} </p>
    </ion-item> -->

<!-- <ion-icon name="ios-lock" style="    margin: 0px 5px;
          font-size: 25px;color:#1d6ba9"></ion-icon> -->
    <!-- <ion-item no-lines [hidden]="hideCV" style="border-bottom: 2px solid #eaf0f5;">
        <ion-label>
          <img src="assets/icon/job.png" style="width: 20px;margin-right: 3px;margin-left:3px" >
          
        </ion-label>
      <ion-input [dir]="langDirection" type="text"   [ngModelOptions]="{standalone: true}" [(ngModel)]="experience" [placeholder]="placeholder.experience" style="color:#81afd3"></ion-input>
  
    
    </ion-item> -->
    
  
    <ion-item  no-lines [hidden]="hideCV" style="border-bottom: 2px solid #eaf0f5;color:#054b82">
        
                    
      <ion-label style="color:#054b82" >{{"Job_category" | translate}}</ion-label>
    <ion-select  [(ngModel)]="experience"  placeholder='{{"Job_category" | translate}}' [ngModelOptions]="{standalone: true}"  okText="{{'done' | translate}}" cancelText="{{'cancel' | translate}}" style="color:#054b82" >
        <ion-option *ngFor="let item of natsArr"  style="font-size: 13px;" [value]="item.SID"> <span *ngIf="langDirection=='rtl'">{{item.Nationality}}</span><span *ngIf="langDirection !='rtl'">{{item.Nationality}}</span></ion-option>    
        
        </ion-select>    
      
  </ion-item> 


    <!-- <p style="color:#054b82" [hidden]="hideCV" >{{"experience" | translate}}</p> -->
    <p style="color:#054b82" [hidden]="!hideCV" >{{"description" | translate}}</p>
    <div class="form-group" [hidden]="!hideCV">
      <textarea class="form-control"   [ngModelOptions]="{standalone: true}" [(ngModel)]="experience" rows="5" id="comment" style="border:1px solid #3a8ccd;width: 100%"></textarea>
    </div>
    <ion-item text-wrap *ngIf="appearExpErrText" no-lines>
        <p style="color:red"> {{errors.experience}} </p>
      </ion-item>

    <ion-row [hidden]="hideCV">
      <ion-col>
        <p style="color:#054b82;margin-top:14px">{{ "CV"| translate}}</p> 
      </ion-col>
      <ion-col>
          <button ion-button type="submit"  block style="font-size:16px;border-radius: 50px 50px;background-color: #1d6ba9;color:white;border:2px solid #1d6ba9;width: 88%;margin-top: 5px;" (click)="selectcv()">+ {{"attach" | translate}}</button>
      </ion-col>
    </ion-row>

  <ion-row [hidden]="!hideCV">
      <ion-col>
        <p style="color:#054b82;margin-top:14px">{{ "compfile"| translate}}</p> 
      </ion-col>
      <ion-col>
          <button ion-button type="submit"  block style="font-size:16px;border-radius: 50px 50px;background-color: #1d6ba9;color:white;border:2px solid #1d6ba9;width: 88%;margin-top: 5px;" (click)="selectregistry()">+ {{"attach" | translate}}</button>
      </ion-col>
    </ion-row>
    <p style="text-align: center;color: grey;margin: 0px">{{txtname}}</p>

    <ion-item no-lines style="    padding: 0px;" >
        <ion-label  text-wrap style="font-size: 13px; color: #054b82;" >{{"agreeConditions"|translate}}
        </ion-label>
        <ion-checkbox   [ngModelOptions]="{standalone: true}"
          [(ngModel)]="termsStatus" >
          </ion-checkbox>
     
      </ion-item>
    
<ion-row>
  <ion-col col-2></ion-col>
  <ion-col style="text-align:center">
      <p (click)="showConditions()"  style="margin:0px;padding:0px;margin-bottom: 13px;color: #054b82;display:inline-block;    color: #e19419;text-decoration: underline">{{"consitions" | translate}}</p>    
  </ion-col>
  <ion-col col-2></ion-col>
    
</ion-row>

      <ion-item no-lines style="text-align:center;width:100%">
          <!-- 3a8ccd -->
        <button ion-button type="submit"   style="font-size:16px;border-radius: 50px 50px;background-color: #054b82;color:white;border:2px solid #054b82;width:55%;padding:15px;text-align:center" (click)="register()">{{"register" | translate}}</button>
      </ion-item>
      <ion-item no-lines></ion-item>
  </form>

  
  <ion-item no-lines></ion-item>
</ion-content>
