<ion-header>
  <ion-navbar hideBackButton>
  <ion-row >
    <ion-col col-1>
      <img src="assets/icon/back.png" style="width: 20px;" [ngClass]="scaleClass" (click)="dismiss()">
    </ion-col>
    <ion-col>
      <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{"education" | translate}}</p>
    </ion-col>
  </ion-row>
  </ion-navbar> 
</ion-header>
<ion-content  style="background-color:#ffff;">


  <ion-refresher  (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div style="margin-bottom: 80px">
    <ion-item    *ngFor="let item of edus"  no-lines style="padding: 5px 16px;box-shadow: 3px 3px 18px rgb(224, 224, 224);">
      <img src="assets/imgs/exp.png" item-start style="    width: 40px;"> 
    
      <h2 style="color:#054b82;">{{item.SchoolName}}</h2>
      <p style="color:grey">{{item.ScientificGrade}}</p>
      <p style="color:grey">{{item.date}}</p>
      <p  style="color:grey;
      text-decoration: underline;" *ngIf="item.CertFile" (click)="showCert(item.CertFile)"> {{"viewcert" | translate}}</p>
      <!-- <img src="assets/icon/edit.png" item-end style="width: 20px;">  -->
      <ion-icon name="md-create" style="color:#054b82;font-size: 23px" item-end [ngClass]="scaleClass" (click)="editedu(item)" [hidden]="hideForShowProfile"></ion-icon>
    </ion-item>

    </div>

    <ion-fab  *ngIf="langDirection == 'rtl'" bottom left (click)="addedu()" [hidden]="hideForShowProfile">
      <button ion-fab style="font-size:30px">+</button>
    </ion-fab>
    <ion-fab  *ngIf="langDirection != 'rtl'" bottom right (click)="addedu()" [hidden]="hideForShowProfile">
      <button ion-fab style="font-size:30px">+</button>
    </ion-fab>




    <ion-grid style="height: 100%" [hidden]="hideNoDataTxt">
      <ion-row justify-content-center align-items-center style="height: 100%">
    <ion-col style="text-align:center">
      <p style="color:#054b82;font-weight:bold">{{"nodata" | translate}}</p>
      </ion-col>
      </ion-row>
      </ion-grid>

</ion-content>
