<ion-header>
  <ion-navbar hideBackButton>
    <ion-row>
      <ion-col col-1>
        <img src="assets/icon/back.png" style="width: 20px;" [ngClass]="scaleClass" (click)="dismiss()">
      </ion-col>
      <ion-col>
        <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center;    margin-top: -3px;">{{"viewRate" | translate}}</p>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-refresher  (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
 

      <ion-grid style="height: 100%" [hidden]="hideNoData">
        <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-col style="text-align:center">
        <p style="color:#388acb;font-weight:bold">{{"noRates" | translate}}</p>
        </ion-col>
        </ion-row>
        </ion-grid>

<ion-item  text-wrap no-lines  *ngFor="let item of raetesArr" style="border-bottom: 1px solid lightgrey" >
  
      <ion-avatar item-start >
          <img [src]="item.CompanyLogo" onerror="this.onerror=null;this.src='assets/imgs/default-avatar.png';" style="    width: 55px;
          height: 55px;">
        </ion-avatar>

    <h4 style="color:#4a84ac" text-wrap>{{item.CompanyName}}</h4> 
    <p style="color:grey;    margin-top: 5px;" > {{item.ReviewDate}} </p>
    <rating [(ngModel)]="item.ReviewGrade" 
    readOnly="true" 
    max="5" 
    emptyStarIconName="star-outline" 
    halfStarIconName="star-half" 
    starIconName="star" 
    nullable="false" > </rating>

    <p>{{item.ReviewComment}}</p>
    <!-- <p style="color:grey" item-end> {{item.ReviewDate}} </p> -->
    
    
      

      
  </ion-item>


</ion-content>