<!--
  Generated template for the CompanyselectedcandidatesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar hideBackButton>
      <ion-row >
          <ion-title style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{name}}</ion-title>
      </ion-row>
      <ion-buttons right *ngIf="langDirection=='ltr'">
          <button ion-button (click)="ViewCtrl.dismiss()">
              <ion-icon md="ios-arrow-forward" ios="ios-arrow-forward"  style="font-size: 2.5rem;color:white;" ></ion-icon>
          </button>
          </ion-buttons>
          <ion-buttons right *ngIf="langDirection=='rtl'">
            <button ion-button (click)="ViewCtrl.dismiss()">
                <ion-icon md="ios-arrow-back-outline"  ios="ios-arrow-back-outline" style="font-size: 2.5rem;color:white;" ></ion-icon>
            </button>
        </ion-buttons>
      </ion-navbar>  

</ion-header> -->

<ion-header>
    <ion-navbar hideBackButton>
    <ion-row >
      <ion-col col-1>
        <img src="assets/icon/back.png" style="width: 20px;" [ngClass]="scaleClass" (click)="dismiss()">
      </ion-col>
      <ion-col>
        <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{name}}</p>
      </ion-col>
    </ion-row>
    </ion-navbar> 
  </ion-header>


<ion-content padding  style="background-color:#ffff">

    <ion-refresher  (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

      <div >

  <!-- <ion-input [dir]="langDirection"  placeholder="{{'search' | translate}}" style="color:black;     border-radius: 15px;
  border: 1px solid #7eb2db; margin-bottom:15px;">
    </ion-input> -->
    
  <div *ngFor="let item of candidates" style="border: 1px solid #c5c5c5;border-radius: 15px;    margin-bottom: 10px;">
      <ion-row style="margin-left: 5px; margin-right: 5px;">
        <ion-col col-2 style="text-align:left;">
            <img src="{{item.ProfileImage}}" class="rounded-circle" onerror="this.onerror=null;this.src='assets/imgs/default-avatar.png';" class="circle-pic" style="text-align:left;margin-top: 13px;">
     
        </ion-col>
        <ion-col col-10>
    <p style="font-weight:bold;color: #2b80c3;margin-top: 13px;margin-bottom: 0px;">{{item.FirstName}}</p>
    <p style="font-weight:bold; color:gray;margin-top: 3px;margin-bottom: 0px;">{{item.ShortDescription2}}  </p>
    <p style="font-weight:bold; color:gray;margin-top: 3px;    margin-bottom: 5px;">{{item.Mobile}}  </p>
    <!-- <p style="font-weight:bold;color:grey;text-decoration: underline;    margin: 0px;    "  (click)="showcv(item)">{{"view" | translate}}</p> -->
    <p style="font-weight:bold;color:grey;text-decoration: underline;    margin: 0px;    "  (click)="showcv(item)">{{"viewjsprofile" | translate}}</p>

    <!-- <p style="font-weight:bold; color:gray;margin-top: 3px;">{{'status' | translate}} late </p> -->

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2></ion-col>
        <ion-col col-4>
            <button ion-button style=" text-transform: none;
            width: 100%;background-color:#2783c3; border-radius: 15px;text-transform: none;" (click)="hire(item.JobSeekerSID)"> {{'hire' | translate}}</button>

        </ion-col>
        <ion-col col-4>
            <button ion-button style=" text-transform: none;
            width: 100%;background-color:#2783c3; border-radius: 15px;text-transform: none;" (click)="getmore(item)"> {{'more' | translate}}</button>

          </ion-col>
        <ion-col col-2></ion-col>

      </ion-row>
  
    </div>
    <ion-row>
        <ion-col col-1></ion-col>
          <ion-col col-10>
                  <button ion-button style="text-transform: none;
                  width: 100%;background-color:#c17f07; border-radius: 15px;text-transform: none;" (click)="gotoshort()"> {{'goshortlist' | translate}}</button>
    
                </ion-col>
                <ion-col col-1></ion-col>

    </ion-row>

  </div>

  <!-- <ion-grid style="height: 100%" [hidden]="hideData">
      <ion-row justify-content-center align-items-center style="height: 100%">
    <ion-col style="text-align:center">
      <p style="color:#388acb;font-weight:bold">{{"noPostedjobs" | translate}}</p>
      </ion-col>
      </ion-row>
      </ion-grid> -->


</ion-content>
