<ion-header>
    <ion-navbar hideBackButton>
      <ion-row>
        <ion-col col-1>
          <img src="assets/icon/back.png" style="width: 20px;" [ngClass]="scaleClass" (click)="dismiss()">
        </ion-col>
        <ion-col>
          <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center;    margin-top: -3px;">{{"jobDetails" | translate}}</p>
        </ion-col>
      </ion-row>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding  style="background-color:#ffff">
    <ion-grid padding style="padding-right: 0px;padding-top: 8px;padding-bottom: 0px;
    padding-left: 0px;border:1px solid lightgrey; border-radius:8px; margin-bottom: 100px">
      <ion-row>
        <ion-col col-2>
          <img src="{{jobDetails.CompanyLogo}}"  onerror="this.onerror=null;this.src='assets/imgs/default-avatar.png';" lass="rounded-circle"  style="width: 40px;height: 40px; margin-right:5px;  border-radius: 50%;">
        </ion-col>
        <ion-col col-8>
          <table>
            <tr>
              <td style="color:#4a84ac;font-size: 13px;padding: 3px 0; font-weight: bold" *ngIf="langDirection == 'rtl'"> {{jobDetails.JobTitleAr}} </td>
              <td style="color:#4a84ac;font-size: 13px;padding: 3px 0; font-weight: bold" *ngIf="langDirection == 'ltr'"> {{jobDetails.JobTitleEn}} </td>
            </tr>
            <tr>
              <td style="color:#e19419;font-size: 10px;padding: 3px 0; font-weight: bold" *ngIf="langDirection == 'rtl'">{{"ago" | translate}} {{jobDetails.dateConversion}}</td>
              <td style="color:#e19419;font-size: 10px;padding: 3px 0; font-weight: bold" *ngIf="langDirection != 'rtl'"> {{jobDetails.dateConversion}} {{"ago" | translate}}</td>
            </tr>
            
          </table>
        </ion-col>
        <ion-col>
          
            <!-- <img src="assets/icon/share_orange.png" style="width: 16px;">  -->
          <ion-icon name="myshare" style="font-size: 16px;" (click)="shareThisJob()"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row padding style="font-size:10px;padding-top:0px;padding-bottom:0px;">
        {{jobDetails.JobDescription}}
        <!-- Event coordinator job required at KSA Event coordinator job required at KSA Event coordinator job required at KSA -->
      </ion-row>
      <ion-row padding style="font-size:10px;padding-top:0px;padding-bottom:0px;">
        <!-- <ion-item style="padding:0px;">
          <ion-label item-left style="color:#4a84ac;font-size: 13px; font-weight: bold;margin: 6px 0;">{{"Duration" | translate}}</ion-label>
          <ion-label item-right text-right style="margin:0;font-size: 11px;">1Year</ion-label>
        </ion-item> -->
        <!-- <ion-item style="padding:0px;">
          <ion-label item-left style="color:#4a84ac;font-size: 13px; font-weight: bold;margin: 6px 0;">{{"Working_days" | translate}}</ion-label>
          <ion-label item-right text-right style="margin:0;font-size: 11px;">5Days</ion-label>
        </ion-item> -->
        <ion-item style="padding:0px;">
          <ion-label item-left style="color:#4a84ac;font-size: 13px; font-weight: bold;margin: 6px 0;">{{"startdate" | translate}}</ion-label>
          <ion-label item-right text-right style="margin:0;font-size: 11px;">{{jobDetails.StartDate}} </ion-label>
        </ion-item>
        <ion-item style="padding:0px;">
            <ion-label item-left style="color:#4a84ac;font-size: 13px; font-weight: bold;margin: 6px 0;">{{"starttime" | translate}}</ion-label>
            <ion-label item-right text-right style="margin:0;font-size: 11px;">{{jobDetails.Starttime}} </ion-label>
          </ion-item>

        <ion-item style="padding:0px;">
          <ion-label item-left style="color:#4a84ac;font-size: 13px; font-weight: bold;margin: 6px 0;">{{"enddate" | translate}}</ion-label>
          <ion-label item-right text-right style="margin:0;font-size: 11px;">{{jobDetails.EndDate}} </ion-label>
        </ion-item>
        <ion-item style="padding:0px;">
            <ion-label item-left style="color:#4a84ac;font-size: 13px; font-weight: bold;margin: 6px 0;">{{"endtime" | translate}}</ion-label>
            <ion-label item-right text-right style="margin:0;font-size: 11px;">{{jobDetails.Endtime}} </ion-label>
          </ion-item>

        <ion-item style="padding:0px;" *ngIf="jobDetails.SalaryType == '1'">
          <ion-label item-left style="color:#4a84ac;font-size: 13px; font-weight: bold;margin: 6px 0;">{{"Working_fees" | translate}}</ion-label>
          <ion-label item-right text-right style="margin:0;font-size: 11px;">{{jobDetails.PricePerHour}} {{"sar" | translate}} {{"Perhour" | translate}}</ion-label>
        </ion-item>


        <ion-item style="padding:0px;" *ngIf="jobDetails.SalaryType == '3' || jobDetails.SalaryType == '2'">
          <ion-label item-left style="color:#4a84ac;font-size: 13px; font-weight: bold;margin: 6px 0;">{{"Working_fees" | translate}}</ion-label>
          <ion-label item-right text-right style="margin:0;font-size: 11px;">{{jobDetails.MonthlySalary}} {{"sar" | translate}} </ion-label>
        </ion-item>
  
        <ion-item style="padding:0px;" *ngIf="jobDetails.SalaryType == '1'">
          <ion-label item-left style="color:#4a84ac;font-size: 13px; font-weight: bold;margin: 6px 0;">{{"JObType" | translate}}</ion-label>
          <ion-label item-right text-right style="margin:0;font-size: 11px;"> {{"perhour" | translate}} </ion-label>
        </ion-item>
        <ion-item style="padding:0px;" *ngIf="jobDetails.SalaryType == '2'">
          <ion-label item-left style="color:#4a84ac;font-size: 13px; font-weight: bold;margin: 6px 0;">{{"JObType" | translate}}</ion-label>
          <ion-label item-right text-right style="margin:0;font-size: 11px;"> {{"permonth" | translate}} </ion-label>
        </ion-item>
  
        <ion-item style="padding:0px;" *ngIf="jobDetails.SalaryType == '3'">
          <ion-label item-left style="color:#4a84ac;font-size: 13px; font-weight: bold;margin: 6px 0;">{{"JObType" | translate}}</ion-label>
          <ion-label item-right text-right style="margin:0;font-size: 11px;"> {{"peryear" | translate}} </ion-label>
        </ion-item>
  


        <!-- <ion-item style="padding:0px;">
          <ion-label item-left style="color:#4a84ac;font-size: 13px; font-weight: bold;margin: 6px 0;">{{"Working_hours" | translate}}</ion-label>
          <ion-label item-right text-right style="margin:0;font-size: 11px;">9am : 5pm</ion-label>
        </ion-item> -->
        <ion-item style="padding:0px;">
          <ion-label item-left style="color:#4a84ac;font-size: 13px; font-weight: bold;margin: 6px 0;">{{"Job_category" | translate}}</ion-label>
          <ion-label item-right text-right style="margin:0;font-size: 11px;" *ngIf="langDirection == 'rtl'">{{jobDetails.CategoryNameAr}}</ion-label>
          <ion-label item-right text-right style="margin:0;font-size: 11px;" *ngIf="langDirection == 'ltr'">{{jobDetails.CategoryNameEn}}</ion-label>
        </ion-item>

        <ion-item style="padding:0px;">
          <ion-label item-left style="color:#4a84ac;font-size: 13px; font-weight: bold;margin: 6px 0;">{{"City" | translate}}</ion-label>
          <ion-label item-right text-right style="margin:0;font-size: 11px;" *ngIf="langDirection == 'rtl'">{{jobDetails.CityName_Ar}}</ion-label>
          <ion-label item-right text-right style="margin:0;font-size: 11px;" *ngIf="langDirection == 'ltr'">{{jobDetails.CityName}}</ion-label>
        </ion-item>


      <ion-item style="padding:0px;">
        <ion-label item-left style="color:#4a84ac;font-size: 13px; font-weight: bold;margin: 6px 0;">{{"nationality" | translate}}</ion-label>
        <ion-label item-right text-right style="margin:0;font-size: 11px;" *ngIf="langDirection == 'rtl'">{{jobDetails.NationalityTXt}}</ion-label>
        <ion-label item-right text-right style="margin:0;font-size: 11px;" *ngIf="langDirection == 'ltr'">{{jobDetails.NationalityTXt}}</ion-label>
      </ion-item>
        
        <ion-item *ngIf="jobDetails.SeekerAgeFrom" style="padding:0px;">
            <ion-label item-left style="color:#4a84ac;font-size: 13px; font-weight: bold;margin: 6px 0;">{{"ageFrom" | translate}}</ion-label>
            <ion-label item-right text-right style="margin:0;font-size: 11px;">{{jobDetails.SeekerAgeFrom}} {{"year" | translate}}</ion-label>
          </ion-item>

          <ion-item *ngIf="jobDetails.SeekerAgeTo" style="padding:0px;">
              <ion-label item-left style="color:#4a84ac;font-size: 13px; font-weight: bold;margin: 6px 0;">{{"ageTo" | translate}}</ion-label>
              <ion-label item-right text-right style="margin:0;font-size: 11px;">{{jobDetails.SeekerAgeTo}} {{"year" | translate}}</ion-label>
            </ion-item>


        <ion-item style="padding:0px;">
          <ion-label item-left style="color:#4a84ac;font-size: 13px; font-weight: bold;margin: 6px 0;">{{"Gender" | translate}}</ion-label>
          <ion-label item-right text-right style="margin:0;font-size: 11px;">{{jobDetails.jobGender}}</ion-label>
        </ion-item>
        <ion-item style="padding:0px;"   *ngIf="jobDetails.SalaryType == '1'">
          <ion-label item-left style="color:#4a84ac;font-size: 13px; font-weight: bold;margin: 6px 0;">{{"Working_hours" | translate}}</ion-label>
          <ion-label item-right text-right style="margin:0;font-size: 11px;">{{jobDetails.HourNumber}} {{"hours" | translate}}</ion-label>
        </ion-item>


        <ion-item style="padding:0px;" *ngIf="jobDetails.SalaryType == '3' ||  jobDetails.SalaryType == '2'">
          <ion-label item-left style="color:#4a84ac;font-size: 13px; font-weight: bold;margin: 6px 0;" >{{ "Working_days" | translate}}</ion-label>
          <ion-label item-right text-right style="margin:0;font-size: 11px;">{{jobdaysString}}</ion-label>
        </ion-item>

        
        <ion-item style="padding:0px;">
          <ion-label item-left style="color:#4a84ac;font-size: 13px; font-weight: bold;margin: 6px 0;">{{"places" | translate}}</ion-label>
          <ion-label item-right text-right style="margin:0;font-size: 11px;">{{jobDetails.NumberOfPositions}}</ion-label>
        </ion-item>
        <!-- <ion-item style="padding:0px;">
          <ion-label item-left style="color:#4a84ac;font-size: 13px; font-weight: bold;margin: 6px 0;">{{"City" | translate}}</ion-label>
          <ion-label item-right text-right style="margin:0;font-size: 11px;">Riyadh</ion-label>
        </ion-item> -->

        <ion-item style="padding:0px;" *ngIf="jobDetails.AddressDescription">
          <ion-label item-left style="color:#4a84ac;font-size: 13px; font-weight: bold;margin: 6px 0;">{{"AddressDescription" | translate}}</ion-label>
          <ion-label item-right text-right style="margin:0;font-size: 11px;">{{jobDetails.AddressDescription}}</ion-label>
        </ion-item>  
        
        <ion-item style="padding:0px;">
          <ion-label item-left style="color:#4a84ac;font-size: 13px; font-weight: bold;margin: 6px 0;">{{"Location_on_map" | translate}}</ion-label>
          
        </ion-item>
      </ion-row>

      
      
      <ion-row >
        <div style=" width:100%;height:190px;background-color:gray;margin:auto;" #map ></div>
      </ion-row>


      

      <!-- <ion-row style="border-top:1px solid lightgrey;margin-top:20px">
        <ion-col col-4></ion-col>
        <ion-col (click)="applyForJob()" col-4 style="color:#4a84ac;font-size: 13px; font-weight: bold;text-align:center"><ion-icon name="md-add" style="font-weight: bold;"></ion-icon> <p style="display:inline-block;margin:0px">{{"Apply" | translate}}</p></ion-col>
        <ion-col col-4></ion-col>
      </ion-row> -->
    </ion-grid>
  </ion-content>