<!--
  Generated template for the DaysPopoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content>
  <ion-list no-lines>

    <ion-item>
      <ion-label item-left>{{"saturday" | translate}}</ion-label>
      <ion-checkbox color="popover" item-right [(ngModel)]="saturday" ></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label item-left>{{"sunday" | translate}}</ion-label>
      <ion-checkbox color="popover" item-right [(ngModel)]="sunday" ></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label item-left>{{"monday" | translate}}</ion-label>
      <ion-checkbox color="popover" item-right [(ngModel)]="monday" ></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label item-left>{{"tuesday" | translate}}</ion-label>
      <ion-checkbox color="popover" item-right [(ngModel)]="tuesday" ></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label item-left>{{"Wednesday" | translate}}</ion-label>
      <ion-checkbox color="popover" item-right [(ngModel)]="Wednesday" ></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label item-left>{{"Thursday" | translate}}</ion-label>
      <ion-checkbox color="popover" item-right [(ngModel)]="Thursday" ></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label item-left>{{"friday" | translate}}</ion-label>
      <ion-checkbox color="popover" item-right [(ngModel)]="friday" ></ion-checkbox>
    </ion-item>
    <ion-item style="text-align: center;">
      <button ion-button color="popover" (click)="DismissDays()" 
      style="width: 110px; color: white; padding: 8px; border-radius: 18px; font-size: 16px;"
      >{{"save" | translate}}</button>
    </ion-item>
 
  </ion-list>
</ion-content>
 