<ion-header>
  <ion-navbar hideBackButton>
  <ion-row  (click)="dismiss()">
    <ion-col col-1>
      <img src="assets/icon/back.png" style="width: 20px;" [ngClass]="scaleClass" (click)="dismiss()">
    </ion-col>
    <ion-col>
      <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center">{{"compaddlocation" | translate}}</p>
    </ion-col>
  </ion-row>
  </ion-navbar> 
</ion-header>

<ion-content padding  style="background-color:#ffff">

  <ion-row style="height: 88%;background-color: #f6f6f7;" >
    <ion-col>
      <div #map id="map" ></div>
      <!-- <ion-icon name="locate" style="position: absolute; bottom: 10px;right: 10px; font-size: 40px;color:#016a38;" (click)="locateUser()"></ion-icon> -->
      <ion-icon name="locate" style="position: absolute;     right: 12px;
      bottom: 210px;font-size: 40px;color:#016a38;" (click)="locateUser()"></ion-icon>
    </ion-col>
  </ion-row>
  
  <ion-row style="background-color:white;"  >
    <ion-col col-2></ion-col>
    <ion-col>
   
        <div >
          <button ion-button block style="padding: 10px 0px;font-size:16px;border-radius: 10px;margin-top:20px;background-color: #054b82;" (click)="Assign()">{{"save" | translate}}</button>
        </div>
    </ion-col>
    <ion-col col-2></ion-col>
  </ion-row>
  <!-- <div   #map id="map" ></div> -->

</ion-content>
